/*--- Block ---*/

.block-custom {
  background: #ededed;
  padding: 20px;
  h3 {
    font-size: 200%;
    font-weight: bold;
    margin: 10px 0;
  }
}

#sns_right,
#sns_left {
  .block{
    margin-bottom: 30px;
    margin-top: 0;
    .block-title{
      font-size: 145%;
      text-transform: uppercase;
      font-weight: bold;
      position: relative;
      padding-bottom: 18px;
      border-bottom: 3px solid #333;
      //		  font-family: Roboto;
      margin-bottom: 18px;
      span {
        display:inline-block;
      }
      h1,h2,h3,h4 {
        font-size: 100%;
        margin: 0;
      }
    }
    .block-content{
      border-top:0px;
    }
    &.sns_slider_right{
      .container-slider{margin: 0}
      .product-image{
        float: left;
        width: 90px;
        height: 90px;
        position: relative;
        overflow: hidden;
        margin-top: 2px;
        margin-right: 10px;
        z-index: 1;
        &:before{
          content: "";
          position: absolute;
          .square(40px);
          background: rgba(0,0,0,0.3);
          color: #fff;
          text-align: center;
          font-family: FontAwesome;
          line-height: 40px;
          left: 50%;
          top: 50%;
          margin-left: -20px;
          margin-top: -20px;
          border-radius: 100%;
          z-index: 1;
          .scale(0);
          .transition(all 0.2s linear);
        }
        &:hover{
          &:before{
            color: @color1;
          }
        }
        img{
          display: block;
          width: 100%;
        }
      }
      .products-grid .item .item-inner .item-img{
        margin-bottom: 8px;
      }
      .products-grid .item .item-inner .item-info{
        padding: 0;
        position: relative;
        overflow: hidden;
        .item-title{
          padding-top: 0;
          line-height: 16px;
          margin-bottom: 2px;
          padding-bottom: 0;
          text-align: left;
          text-transform: none;
          white-space: inherit;
        }
        .item-price{
          padding-bottom: 0;
          line-height: 100%;
          height: inherit !important;
          text-align: left;
        }
        .rating{
          text-align: left;
          .no-rating{
            text-align: left;
          }
        }
        .item-price,
        .item-price .price-box,
        .item-price .price-box p{
          display: inherit ;
        }
      }
      .item{
        margin-top: 0;
        margin-bottom: 18px;
        padding: 0;
        &:last-child{
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
        .item-price .old-price .price{color: #ccc;}
        .price{
          font-size: 133%;
          color: #333;
        }
        &:hover{
          box-shadow: none;
          .product-image{
            &:before{
              .scale(1);
            }
          }
          .item-title{
            a{
              color: @color1;
            }
          }
        }
      }
    }
    &.home_sidebar1_v2{
      padding: 0;
      position: relative;
      border: none;
      .module-ct{
        position: absolute;
        width: 80%;
        height: 145px;
        background: rgba(0,0,0,0.3);
        top: 50%;
        margin-top: -75px;
        left: 25px;
        color: #fff;
        padding: 10px 15px;
        text-align: center;
        .transition(all 0.2s linear);
        overflow: hidden;
      }
      &:hover{
        .module-ct{
          width: 100%;
          height: 100%;
          padding: 30px 25px;
          top: 0;
          margin-top: 0;
          left: 0;
        }
      }
      .title{
        font-size: 20px;
        text-transform: uppercase;
        a{
          color: #fff;
          &:hover{color: @color1;}
        }
      }
      .ct-style{
        font-size: 30px;
        text-transform: uppercase;
      }
    }
    &.block-layered-nav{
      padding-top: 20px;
      margin-bottom: 18px;
    }
    &.slider_fe{
      .block-title{margin-bottom: 5px}
    }
  }
}

.block{
  margin-bottom: 30px;
  #sns_sticky_right &,
  #sns_sticky_left & {
    margin: 0;
  }
  .btn-remove{
    position: absolute; top: 0px; right:0px;
  }
  .block-title{
    font-size: 133.33%;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin-bottom: 6px;
    color: #333;
    span {
      display:inline-block;
    }
    h1,h2,h3,h4 {
      font-size: 100%;
      margin: 0;
      font-weight: normal;
    }
    .navslider {
      position: absolute;
      top: -3px;
      right: 0px;
      z-index: 1;
      a {
        .inline-block();
        float: left;
        margin-left: 10px;
        + a {}
        i {
          .square(20px);
          text-align: center;
          line-height: 17px;
          border: 1px solid #eaeaea;
          color: #666;
          font-size: 16px;
          .transition(all 0.3s ease);
          &:hover {
            background: @color1;
            color: #fff;
            border-color: @color1;
          }
        }
      }
    }
  }
  .block-content{
    #links .style1();

  }
  &.sns-slider {
    .block-title-slider {
      h3 {margin: 0;}
      p {padding: 3px 0 0;}
      position: relative;
      .navslider {
        position: absolute;
        top: 50%;
        right: 0px;
        margin-top: -20px;
        a {
          .inline-block();
          color:#666;
          + a {margin-left: 5px;}
          i {
            font-size: 11px;
            .square(40px);
            border: 3px solid #ddd;
            text-align: center;
            line-height: 34px;
            font-size: 20px;
            color: #ccc;
            background: #fff;
            .transition(all 0.3s ease);
            &:hover {
              background: @color1;
              color: #fff;
              border-color: @color1;
            }
          }

        }

      }
    }
    .pretext {
      margin: 0;
    }
    .container-slider {
      margin: 0 -15px;
      .item-info{
        position: relative;
        min-height: 52px;
      }
      .owl-item {
        position: relative;
        z-index: 0;
        &:not(.active) + .active,
        &.active:first-child {
          .item .item-inner .gallery {
            right: auto;
            left: 100%;
          }
        }
        &:hover {
          z-index: 1;
        }
      }
    }
    &.hot-deals {
      .block-title {
        min-height: 55px;
        margin: 0 15px 10px 0;
        strong {
          display: block;
          background: @color1;
          position: absolute;
          top: 0;
          left: -7px;
          padding: 0px 20px;
          position: absolute;
          color: #fff;
          height: 54px;
          line-height: 54px;
          white-space: nowrap;
          &:before {
            width: 0;
            height: 0;
            border-style: solid;
            content: '';
            display: block;
            position: absolute;
            top: 100%;
            border-color: transparent darken(@color1, 20%) transparent transparent;
            border-width: 0 7px 10px 0;
            left: 0;
          }
          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 99.99%;
            .border-arrow-right (27px, 54px, @color1);
          }
        }
      }
      .container-slider {
        padding: 0 0 15px;
        .item {
          .item-img {
            position: relative;
            margin-bottom: 10px;
            overflow: hidden;
            .product-image {
              display: block;
              text-align: center;
            }
            .gallery {
              padding: 3px 25px;
              position: absolute;
              bottom: -25px;
              left: 0;
              width: 100%;
              background: @white;
              .opacity(0);
              .transition(all 0.3s ease);
              .img {
                margin: 0 2px;
                text-align: center;
                img {
                  cursor: pointer;
                  &.active {

                  }
                }
              }
              .owl-controls {
                .owl-buttons {
                  color: #ccc;
                  > div {
                    position: absolute;
                    top: 50%;
                    margin-top: -10px;
                  }
                }
                .owl-prev {
                  left: -15px;
                }
                .owl-next {
                  right: -15px;
                }
              }
            }
            .actions {
              position: absolute;
              top: 50%;
              left: 50%;
              .add-to-list {
                .ulclear();
              }
              .link-wishlist,
              .link-compare,
              .sns-btn-quickview {
                .square(40px);
                display: block;
                background: #333333;
                position: absolute;
                top: -120px;
                .opacity(0);
                .scale(1);
                text-align: center;
                .transition(all 0.3s ease);
                .transition-timing(~"cubic-bezier(0.600, -0.280, 0.735, 0.045)");
                &:before {
                  color: #fff;
                  font-size: 20px;
                }
                &:hover {
                  background: @color1;
                }
              }
              .link-wishlist {
                left: -62px;
                .transition-delay(0.25s);
                &:before {
                  .font-elegant (e030, 40px);
                }
              }
              .sns-btn-quickview {
                .transition-delay(0.15s);
                span {display: none;}
                right: -20px;
                &:before {
                  .font-elegant (55, 40px);
                }
              }
              .link-compare {
                right: -62px;
                .transition-delay(0s);
                &:before {
                  .font-elegant (2f, 40px);
                }
              }
            }
          }
          .item-title a {
            font-size: 130%;
            font-weight: bold;
            text-transform: uppercase;
          }
          .discount {
            margin-bottom: 20px;
          }
          .countdown {
            .clearfix();
            margin-bottom: 20px;
            display: table;
            width: 100%;
            text-align: center;
            .countdown-row {
              .clearfix();
              display: table-row;
              .countdown-section {
                display: table-cell;
                border: 1px solid #eee;
                padding: 5px 0;
                text-align: center;
                + .countdown-section {
                  border-left: none;
                }
                .countdown-amount {
                  color: #666;
                  display: block;
                  font-weight: bold;
                  font-size: 120%;
                }
                .countdown-period {
                  color: #aaa;
                }
              }
            }
          }
          .btn-cart {
            padding: 8px 15px;
          }
        }
      }
    }
  }
  &.sns-deals {
    .container-slider{
      margin: 0;

    }
    .title-custom{
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
    }
    .item {
      padding: 15px;
      margin-bottom: 20px;
      &:hover {
          .product-image{
              &:before{
                .scale(1);
              }
          }
        }
    }
    p.no-rating {
      .no-rating-mixin ();
    }
    .rating-links {
      display: none;
    }
    .ico-product {
      .ico-product ();
    }
    .block-title{
      margin-bottom: 17px;
    }

    .item-title {
    }
    .item-img{
      position: relative;
      .product-image{
        float: left;
        width: 90px;
        height: 90px;
        margin-right: 10px;
        padding-top: 3px;
        position: relative;
      }
      .ico-label{
        left: 15px;
      }
      .sns-btn-quickview{
        position: absolute;
        left: 0 !important;
        top: 0 !important;
        margin-left: 20px !important;
        margin-top: 22px !important;
        width: 50px !important;
        height: 50px !important;
        &:before{
          width: 50px !important;
          height: 50px !important;
          left: 0;
          top: 0;
          font-size: 16px !important;
          line-height: 50px !important;
        }
      }
    }
    button.btn-cart{
      background: none;
      color: #ccc;
      font-weight: bold;
      padding: 0;
      i{
        font-size: 16px;
        margin-right: 5px;
        float: left;
        margin-top: 6px;
      }
      &:hover{
        color: @color1;
      }
    }
    .item_content{
      position: relative;
      overflow: hidden;
    }
    .item-info{
      position: relative;
      .info-inner{
        padding-left: 15px;
        padding-right: 15px;
        position: inherit;
        padding-bottom: 60px;
      }
    }
    .desc {
      margin-bottom: 15px;
    }
    .item-price {
      margin-bottom: 5px;
      > * {
        .inline-block();
      }
    }
    .countdown {
      .clearfix();
      display: block;
      width: 100%;
      text-align: center;
      border: 1px solid #eaeaea;
      border-bottom: 3px solid #ccc;
      padding-left: 52px;
      position: relative;
      margin-top: 10px;
      &:before{
        position: absolute;
        .font-awesome (f017, 50px);
        height: 100%;
        color: #666;
        font-size: 20px;
        text-align: center;
        line-height: 40px;
        top: 1px;
        left: 1px;
      }
      .countdown-row {
        .clearfix();
        display: block;
        width: 100%;
        .countdown-section {
          float: left;
          width: 25%;
//          padding: 5px 0;
          text-align: center;
          position: relative;
          &:before{
            position: absolute;
            width: 1px;
            height: 100%;
            top: 0px;
            left: 0;
            background: #eaeaea;
            z-index: 1;
            content: "";
          }
//          &:last-child{
//            &:before{display: none;}
//          }
          + .countdown-section {
            border-left: none;
          }
          .countdown-amount {
            color: #666;
            float: left;
            width: 100%;
            font-weight: bold;
            font-size: 138%;
            margin-bottom: 0;
            margin-top: 5px;
          }
          .countdown-period {
            color: #666;
            float: left;
            width: 100%;
            margin-top: -4px;
            margin-bottom: 3px;
          }
        }
      }
    }
    .owl-wrapper-outer {
      background: #fff;
      .item {
        margin-bottom:  18px;
        padding: 0;

      }
      @media (min-width: @screen-md-min) and (max-width: @screen-md-max)  {
        .item {padding: 9px}
      }

    }
  }
  &.block-facebook {
    .block-content {
      padding: 5px 0 0;
    }
  }
  .box-up-sell-content{
    background:#fff;
    border:1px solid #ddd !important;border-top:0px !important; padding:8px;margin-bottom:25px;
    .item {padding-bottom:15px;margin-top:5px !important; padding-top:10px !important;&:hover .item-img {border:1px solid #dddddd !important;}}
  }

  &.box-up-sell {
    .block-title {
      margin: 0;
    }
    label.related {
      position: absolute;
      left: 5px;
      top: 15px;
      z-index: 1;
      input.checkbox {height:20px; margin:0px;}
    }

    .item-img {padding: 8px 0;border: 1px solid transparent !important; }
    .block-subtitle {
      margin-bottom: 10px;
      a {
        color: @color1;
      }
    }
  }
  &.block-stickynote.on-top{
    .block-title{font-size: 40px; font-weight: bold; text-transform: uppercase; padding: 8px 75px; border:1px solid #CCC;
      float: left; margin: 0 30px 0 0; line-height: 40px; color: inherit;
    }
    .block-content{ padding: 0 0; color: inherit; line-height: 18px;}
  }
  &.blank{
    .block-content{padding: 0 0 !important;}
  }
  &.block-custommenu{ text-align: center !important; padding: 20px 0 10px; border: 1px solid transparent;
    margin-top:10px; .transition(all 0.2s ease-in);
    > *{margin: 0 auto;}
    .block-title{margin-top: 10px; margin-bottom: 5px; color: #FFF;}
    .block-content{padding: 0 10px !important; color: #888}
    &:hover{border-color:#888;}
  }
  &.block-wishlist{
    .actions{
      padding: 15px 0 0;
    }
  }


  &.block-compare{

    ol li {position:relative}
    .block-title small {
      display: none;
    }
    p.empty{margin: 0 0;}
    ol{
      padding: 0 0 0 20px;
      margin: 0;
      li{
        margin: 3px 0;
        .product-name  {padding-right:20px;}
      }
    }
    .actions{padding: 15px 0 0;
      text-align: right;
      .button{margin:0 0 0 5px;}
    }
  }

  &.home_sidebar1_v1{
    padding: 20px 15px;
    min-height: 140px;
    .module-ct{
      display: block;
      position: relative;
      z-index: 1;
      width: 120px;
      text-align: center;
      color: #666;
      p{margin-bottom: 0px;line-height: 18px}
      .title{text-transform: uppercase;margin-bottom: 3px}
      .ct-style{font-weight: bold;font-size: 165%;color: #3b77bd;text-transform: uppercase;margin-bottom: 6px}
      .fa{
        color: @color2;
      }
      span.sale{
        color: @color1;
      }
    }
  }

  &.block-poll{
    .block-content{
      margin-bottom: 5px;
    }
    .actions{
      button{
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

}
.upsell-products .box-up-sell .block-title{ margin: 0 0 6px;}



.mini-products-list {
  &.products-grid .item {
    .product-image {
      border: 1px solid #ddd;
      display:block;
      cursor: default;
      overflow: hidden;
      position: relative;
      &:before, &:after {
        height:127px;
        width: 127px;
        opacity: 0.5 !important;
        background-color:@color1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        .transition(all 0.3s ease-in-out 0.1s);
        content: "";
        display: block;
        position: absolute;
      }
      &:before{
        left: auto;
        right: 0;
        .rotate(45deg,-180px);
        .transform-origin (100%,0%)
      }
      &:after{
        top: auto;
        bottom: 0;
        .rotate(45deg,180px);
        .transform-origin (0%,100%)
      }
    }
    &:hover {
      .product-image {
        border: 1px solid @color1;
        #banner .style3();
        &:before, &:after{
          .transition-delay (0s);
        }
        &:before{
          .rotate(45deg,0px);
        }
        &:after{
          .rotate(45deg,0px);
        }
      }

    }
  }
  .item {
    padding-top: 15px;
    padding-bottom: 5px;
    position: relative;
    + .item {
    }
    .clearfix();
    .item-img {
      float: left;
      margin-right: 10px;
    }
    .item-price {
      .price-box {
        display: inline-block;
        width: 100%;
        //	vertical-align: bottom;
      }
      .ico-sale {
        display: inline-block;
        vertical-align: text-bottom;
        background: #ff1616;
        color: #fff;
        font-size: 10px;
        border-radius: 3px;
        padding: 3px 5px 4px;
        margin-left: 10px;
        line-height: 100%;
        position: relative;
        margin-bottom: 2px;
        &:before {
          .transition(all 0.2s linear);
          .border-arrow-left (5px, 10px, #ff1616);
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          right: 100%;
          margin-top: -5px;
        }
      }
    }
    .old-price {
      display: inline-block;
      .price {
        line-height: 1;
        color: #ccc !important;
      }
    }
    .item-info {
      overflow: hidden;
      .item-title a{color:#333;&:hover{color:@color1;}}
      > .rating {
        .rating-links,
        .no-rating {
          * {display: none;}
        }
      }
      .no-rating {
        margin: 0;
        a {
          display: none;
        }
        &:before {
          content: '\f005\f005\f005\f005\f005';
          display: inline-block;
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          text-align: center;
          letter-spacing: 2px;
          color: #dfdfdf;
        }
      }
    }

  }
  &#wishlist-sidebar {
    .btn-remove {top: 15px;}
  }
  &.products-grid {
    .item {
      margin: 0;
      padding-bottom:10px;
      border: none;
    }
  }
}
.slider-wrap {
  position: relative;
  &:hover {
    .navslider {
      .opacity(1);
    }
  }
  .navslider {
    .opacity(0);
    .transition(all 0.25s linear);
    a {
      position: absolute;
      top: 50%;
      margin-top: -20px;
      font-size: 40px;
      color: #ccc;
      z-index: 1;
      &:hover {
        color: @color1;
      }
      &.prev {
        left: 10px;
      }
      &.next {
        right: 10px;
      }
    }
  }
}


.block-subscribe-content {
  background: @color1;
  padding: 33px 30px;
  form {
    display: table;
    width: 100%;
  }
  .subscribe-title {
    display: table-cell;
    vertical-align: middle;
    vertical-align: top;
    width: 20px;
    padding-right: 30px;
    h3 {
      font-size: 30px;
      margin: 0;
      padding: 0;
      line-height: 1;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
    }
    P {
      color: #fff;
      margin: 0;
      white-space: nowrap;
    }
  }
  .subscribe_form {
    display: table-cell;
    vertical-align: middle;
    .inner  {
      position: relative;
      input {
        width: 100%;
        background: #fff;
        border: none;
        padding: 8px 10px;
        height: 40px;
      }
      button {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        bottom: 0;
        font-size: 20px;
        line-height: 1;
        color: #ccc;
        &:hover {
          background: none;
          color: @color1;
        }
      }
    }
  }
  @media (max-width: @screen-xs-max) {
    form {
      display: block;
    }
    h3 {
      display: block;
      width: 100%;
      padding: 0;
      margin: 0 0 15px;
    }
    .subscribe_form {
      display: block;
      width: 100%;
    }
  }
  @media (max-width: @screen-phone) {
    h3 {
      font-size: 33px;
    }
  }

}
.block_topsearch {
  .form-search {
    .clearfix();
    position: relative;
    height: 36px;
    input {
      border: none;
      height: 34px;
      padding-right: 40px;
      background: #fff;
      border-radius: 5px;
      width: 450px;
      float: right;
      &:hover, &:focus {
        + button {
          color: @color1;
        }
      }
    }
    button {
      position: absolute;
      right: 0;
      top: 0;
      .size(34px, 100%);
      padding: 0;
      background: none;
      border: none;
      font-size: 18px;
      color: #666;
      &:before {
        .font-awesome (f002, 40px)
      }
      &:hover {
        background: none;
      }
    }
  }
}
.block-categories-nav {
  position: relative;
  color: #fff;
  border-left: 1px solid #474747;
  border-right: 1px solid #474747;
  a {
    color: #fff;
  }
  > h4 {
    color: #fff;
    padding: 0 25px;
    height: 50px;
    line-height: 50px;
    font-weight: normal;
    font-size: 116%;
    position: relative;
    z-index: 99;
    margin: 0;
    cursor: pointer;
    .clearfix();
    > * {.inline-block();}
    .fa {line-height: 50px;}
    .fa-list-ul {
      margin-right: 10px;
      float: left;
    }
    span {float: left;}
    [class*="fa-caret-"] {
      font-size: 16px;
      float: right;
    }
    &:hover,
    &.active{
      background: @color1;
    }

  }
  > .content {
    background: #fff;
    color: #666;
    position: absolute;
    width: 100%;
    width: 100%;
    top: 100%;
    left: 0;
    display: none;
    box-shadow: 0 0 5px #999;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  ul.nav_accordion {
    .ulclear();
    a {
      color: #666;
      &:hover {
        color: @color1;
      }
    }
    li.level0 {
      position: relative;
      > .accr_header {
        position: relative;
        .transition(all 0.25s ease);
        .btn_accor {
          i {
            &:before {
              color: #666;
              position: absolute;
              right: 0px;
              top: 50%;
              .square(12px);
              margin-top: -6px;
              cursor: pointer;
              line-height: 11px;
              text-align: center;
              right: 15px;
              font-size:120%;
            }
          }
        }
        &:hover,
        &.open {
          a{
            background: #f5f5f5;
            color: @color1;
            &:before{
              background: @color1;
            }
          }
        }
        &.open {
          > a , > span i:before{
            color: @color1;
          }
        }
        a {
          display: block;
          width: 100%;
          padding: 5px 20px;
          &:before{
            border-radius: 50%;
            color: #fff;
            content: "";
            float: left;
            font-family: FontAwesome;
            font-size: 11px;
            height: 11px;
            line-height: 11px;
            margin-right: 5px;
            margin-top: 5px;
            text-align: center;
            width: 11px;
            background: #666;
            padding-left: 1px;
          }
          span, i {
            .inline-block;
          }
          i {
            font-size: 20px;
            margin-right: 10px;
            width: 15px;
            text-align: center;
          }
        }
      }
      ul {
        .ulclear();

        li {
          .accr_header {
            line-height: 20px;
            padding: 15px 0px 15px 44px;
            position: relative;
            &.open {
              > a , > span i:before {
                color: @color2;
              }
            }
            .btn_accor {
              .inline-block();
              float: right;
              color: #666;
              cursor: pointer;
              text-align: center;
              i {
                display: block;
                text-align: center;
                &:before {
                  color: #666;
                  position: absolute;
                  right: 0px;
                  top: 50%;
                  .square(12px);
                  margin-top: -6px;
                  cursor: pointer;
                  line-height: 11px;
                  text-align: center;
                  right: 15px;
                  font-size:120%;
                }
              }

            }
          }
          a i { margin-right: 5px; }
          ul  li {
            .accr_header {padding: 15px 0px 15px 70px;}
            ul li  .accr_header {padding: 15px 0px 15px 100px;}
          }
        }
      }
      span.btn_accor{display: none !important;}
      &.parent{
        > .accr_header {
          a{
            &:after{
              float: right;
              content: "";
              font-family: FontAwesome;
              font-size: 100%;
            }
          }
        }
        > .accr_content{
          background: none repeat scroll 0 0 #fff;
          border-top: medium none;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          left: 110%;
          display: none;
          opacity: 0;
          position: absolute;
          top: 0;
          transition: all 0.3s linear 0s;
          width: 100%;
          z-index: -1;
          .level0{
            padding-top: 20px;
            padding-bottom: 20px;
            li.level1{
              position: relative;
              > .accr_header{
                position: relative;
                padding: 0;
                a{
                  padding: 5px 20px;
                  display: block;
                  width: 100%;
                }
              }
              &:hover{
                > .accr_header{
                  a{
                    color: @color1;
                    background: #f5f5f5;
                  }
                }
                > .accr_content{
                  left: 97%;
                  display: block !important;
                  opacity: 1;
                  z-index: 1;
                }
              }
              > .accr_content {
                background: none repeat scroll 0 0 #fff;
                border-top: medium none;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                left: 110%;
                display: none;
                opacity: 0;
                position: absolute;
                top: 0;
                transition: all 0.3s linear 0s;
                width: 100%;
                z-index: -1;
                ul.level1{
                  padding-bottom: 20px;
                  padding-top: 20px;
                  li.level2{
                    position: relative;
                    > .accr_header{
                      position: relative;
                      padding: 0;
                      a{
                        padding: 5px 20px;
                        display: block;
                        width: 100%;
                      }
                    }
                    &:hover{
                      > .accr_header{
                        a{
                          color: @color1;
                          background: #f5f5f5;
                        }
                      }
                      > .accr_content{
                        left: 97%;
                        display: block !important;
                        opacity: 1;
                        z-index: 1;
                      }
                    }
                    > .accr_content {
                      background: none repeat scroll 0 0 #fff;
                      border-top: medium none;
                      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                      left: 110%;
                      display: none;
                      opacity: 0;
                      position: absolute;
                      top: 0;
                      transition: all 0.3s linear 0s;
                      width: 100%;
                      z-index: -1;
                      ul.level2{
                        padding-bottom: 20px;
                        padding-top: 20px;
                        li.level3{
                          position: relative;
                          > .accr_header{
                            position: relative;
                            padding: 0;
                            a{
                              padding: 5px 20px;
                              display: block;
                              width: 100%;
                            }
                          }
                          &:hover{
                            > .accr_header{
                              a{
                                color: @color1;
                                background: #f5f5f5;
                              }
                            }
                            > .accr_content{
                              left: 97%;
                              display: block !important;
                              opacity: 1;
                              z-index: 1;
                            }
                          }
                          > .accr_content {
                            background: none repeat scroll 0 0 #fff;
                            border-top: medium none;
                            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                            left: 110%;
                            display: none;
                            opacity: 0;
                            position: absolute;
                            top: 0;
                            transition: all 0.3s linear 0s;
                            width: 100%;
                            z-index: -1;
                            ul.level3{
                              padding-top: 20px;
                              padding-bottom: 20px;
                              li.level4{
                                > .accr_header{
                                  position: relative;
                                  padding: 0;
                                  a{
                                    padding: 5px 20px;
                                    display: block;
                                    width: 100%;
                                  }
                                }
                              }
                            }
                          }
                          &.parent{
                            > .accr_header {
                              a{
                                &:after{
                                  float: right;
                                  content: "";
                                  font-family: FontAwesome;
                                  font-size: 100%;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                    &.parent{
                      > .accr_header {
                        a{
                          &:after{
                            float: right;
                            content: "";
                            font-family: FontAwesome;
                            font-size: 100%;
                          }
                        }
                      }
                    }
                  }
                }
              }
              &.parent{
                > .accr_header {
                  a{
                    &:after{
                      float: right;
                      content: "";
                      font-family: FontAwesome;
                      font-size: 100%;
                    }
                  }
                }
              }
            }
          }
        }
        &:hover{
          > .accr_content{
            left: 97%;
            display: block !important;
            opacity: 1;
            z-index: 1;
          }
        }
      }
    }
  }
}
.sns_banner {
  margin-bottom: 20px;
  .banners_slider {
    position: relative;
    + .post-text {
      margin-top: 20px;
    }
    .wrap {
      overflow: hidden;
    }
    .owl-controls {
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 100%;
      text-align: center;
      .owl-page {
        .inline-block();
        .square(12px);
        background: @white;
        .border-radius(50%);
        margin: 0 2px;
        &:hover, &.active {
          background: @color1;
        }
      }
    }
  }
  .post-text {
    margin-top: 20px;
    ul.policy {
      .ulclear();
      li {
        padding: 3px 0;
        &:before {
          content: '\e080';
          font-family: 'Simple-Line-Icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          -webkit-font-smoothing: antialiased;
          line-height: 1;
          font-size: 20px;
          .inline-block();
          margin-right: 10px;
          color: #ccc;
        }
      }
    }
  }
}

.page-sitemap {
  .pager {
    float: right;
    margin: 0;
  }
  ul li { color:#333; a {color:#333;&:hover {color:@color1;}}}
}
#wishlist-table input, #wishlist-table textarea {margin:10px 0;}
#wishlist-sidebar .item .item-info {padding-right:18px;}

.blogs-page,
.blog-cat-view{
  .page-title{
    display: none;
  }
  .postWrapper{
    margin-bottom: 20px;
    border-bottom: 1px solid #f3f3f3;
    .postTitle{
      h2{
        font-size: 123%;
      }
    }
    &:last-child{
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  .post-date{
    font-size: 85%;
    color: #666;
    .date{
      width: 100%;
      margin-bottom: 3px;
      color: #47bfa9;
    }
  }
  .post-info{
    display: inline-block;
    width: 100%;
    border-top: none;
    padding-top: 5px;
    .user-post{
      color: @color1;
      &:hover{
        color: @color1;
      }
    }
  }
  .postTitle{
    .postTitle-title{
      font-weight: bold;
      margin-bottom: 3px;
    }
  }
  .postContent img{
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .tags{
    h4{
      display: inline-block;
      color: #666;
      font-weight: normal;
      font-size: 107.69%;
      text-transform: none;
    }
    ul.tags{
      display: inline-block;
      padding-left: 0px;
      li{
        display: inline-block;
        list-style: none;
        border: 1px solid #eaeaea;
        padding: 2px 5px;
        margin-bottom: 5px;
        &:hover{
          border-color: @color1;
          a{color: @color1}
        }
      }
    }
  }
}
.blog-toolbar{
  .limit-sort{
    margin-bottom: 10px;
  }
  .pager{
    padding: 10px 0;
//    .sort-by{padding-right: 0}
  }
}
.blog-post-view{
  .tags{
    h4{
      display: inline-block;
      color: #666;
      font-weight: normal;
      font-size: 107.69%;
      text-transform: none;
    }
    ul.tags{
      display: inline-block;
      padding-left: 0px;
      li{
        display: inline-block;
        list-style: none;
        border: 1px solid #eaeaea;
        padding: 2px 5px;
        margin-bottom: 5px;
        &:hover{
          border-color: @color1;
          a{color: @color1}
        }
      }
    }
  }
  .blog-toolbar{display: none;}
  .postWrapper{
    .postContent{
      img{
        margin-bottom: 10px;
      }
    }
  }
}
.blog-cat-view{
  .toolbar:first-child{display: none;}
}
.block-blog-inner{
  border: none !important;
  padding: 0 !important;
  .block-content{
    padding: 0 !important;
  }
  .menu-categories,
  .menu-recent{
    margin-bottom: 30px;
    .block-title{
      margin-bottom: 10px !important;
    }
    ul{
      padding-left: 0;
      li{
        list-style: none;
        margin-bottom: 3px;
        a{
          .transition(all 0.3s linear);
          &:before{
            float: left;
            content: "";
            font-family: FontAwesome;
            margin-right: 5px;
          }
          &:hover{
            padding-left: 5px;
          }
        }
      }
    }
  }
  .menu-tags{
    .tagcloud{
      padding-left: 0px;
      li{
        display: inline-block;
        list-style: none;
        padding: 2px 5px;
        margin-bottom: 3px;
        background: #eaeaea;
        &:hover{
          background: @color1;
          a{color: #fff}
        }
      }
    }
  }
}
.sns_latestblog_sidebar{
  .post-img{
    margin-bottom: 10px;
  }
  .post-title{
    margin-bottom: 10px;
    font-size: 107.69%;
    text-transform: uppercase;
  }
  .poster{
    color: @color1;
  }
}
/*
%%%%%%%%%%%%% Newsletter Popup*/

#newsletter-popup {
  padding: 200px 100px 40px;
  text-align: center;
  .subscribe-title {
    .title { color: #333; font-size: 36px;margin-bottom: 3px;}
    .description { color: #666; font-size: 15px; span{color: @color1;}}
  }
  .subscribe-content { margin-top: 20px;
    .subscribe_form {
      margin-bottom: 20px;
      #newsletter {min-width: 275px; border-radius: 0px !important; margin-right: 2px;background: #eaeaea;border: 1px solid #eaeaea;}
      button{
        height: 34px;
        border-radius: 0;
        background: #333;
        &:hover{
          background: @color1;
        }
        .fa{float: left; margin-top: 8px;margin-right: 5px; font-size: 14px;}
      }
    }
  }
  .subscribe-bottom { color: #333; margin-top: 10px; margin-bottom: 0;
    > input { margin-top: -3px; margin-right: 8px;}
  }
}

/*
End Newsletter Popup*/
