/*--- Wrap: #sns_content ---*/
#sns_content{ 
	margin: 0 0 30px; 
	position: relative;
	min-height: 500px;
	/* account form */
	#login-form{
		h2 {
			margin: 0 0 15px;
		}
		ul{list-style: none; margin: 0 0;}
	}

	#sns_maintop{margin-bottom: 50px;}
	#sns_mainmidle{
		#crosssell-products-list{
			.item{margin-top: 0px;
				&.show-addtocart{margin-top: 17px;}
			}
		}
	}
	#sns_mainbottom{ margin-top: 30px;
		.sns-tabs{
			.tabs-content{
				.tab-item{top: 0px;}
			}
		}
	}
	.sns-tabs {
		.tabs-navi{position: relative;z-index: 3;
			li{display: block;margin-top: 5px; position: relative;
				&:before{width: 7px; height: 39px;position: absolute;content: ""; left: 0px; top: 0px;
					background: @activeColor;.transition(all 0.3s ease-out);
				}
				a{display: block;padding: 0 14px; height: 37px; line-height: 37px;
					border: 1px solid #e9e9e9; font-size: 150%;.transition(all 0.3s ease-out);
					text-overflow:ellipsis;white-space:nowrap;overflow: hidden;
					&.tabulous_active{
						border-color:@activeColor;color: #FFF; background: @activeColor;position:relative;z-index: 2;
					}
				}
				&:hover{
					a{color: #FFF; text-decoration: none;position:relative;z-index: 2;}
					&:before{width: 100%;}
				}
				&:first-child{margin-top: 0px;}
			}
		}
	}
	.paypal-logo{text-align: center; margin: 0 0 20px 0;}
	.more-block{
		.block{ border: 1px solid #e9e9e9;
			.block-title{font-size: 165%; padding: 8px 0px; text-align: center; background: none;}
			.block-content{ padding: 0 10px;
				ul{ margin: 0 0; list-style: none;
					li{ position: relative; border-top: 1px solid #e9e9e9;
						.product-image{width: 40%; float: left; margin: 0 0; border: none;}
						.product-details{width: 60%; float: left; padding: 40px 0 0;
							.price-box{
								.price {
							    	font-size: 130%; text-align: left;
								}
								.old-price .price{
									font-size: 100%;
								}
							}
							input.checkbox{position: absolute; top: 10px; left: 0px;}
						}
						&:first-child{border: none; padding-top: 0px;}
					}
				}
			}
		}
	}
	/*-- Block in content ---*/
	.block{ 
		&.blank{
			margin: 0 0;
		}
		&.block-custom{
			.block-content{padding: 10px;}
		}
		&.slide-banner{
			ul{margin: 0 0;
				li{ list-style: none; display: inline-block;float: left; width: 270px !important; margin: 0 0;
					p.img-content{margin: 18px 0 40px; text-align: center;}
					a.get-it{font-size: 150%; display: inline-block; border:1px solid #e5e5e5; .border-radius(22px);
						padding: 11px 32px; .transition(all 0.2s ease-out); background: #FFF;
						&:hover{
							color: #FFF; background: @activeColor; border-color: @activeColor;
						}
					}
				}
			}
			.caroufredsel_wrapper{ width: 100% !important;
				ul{
					//li{float: left;} 
				}
			}
			.paging{text-align: center; margin-top: 28px;
				a{width: 13px; height: 13px; .border-radius(100%); background: @activeColor; margin: 0 0 0 5px;
					display: inline-block; text-indent: -999em; .transition(background-color 0.2s ease-out);
					&:hover{background: @linkColor;}
					&.selected{border:2px solid @activeColor; background: #FFF;}
				}
			}
		}
		// Tags
		&.block-tags{
			.tags-list{list-style: none; margin: 0 0 10px; display: block;
				li{
                  float: left;
                  margin-right: 5px;
                  margin-bottom: 9px;
					a{
                        display: inline-block; padding: 4px 8px;color:@text;
						.transition(all 0.2s ease-out);
                        background: #eaeaea;
						&:hover{text-decoration: none; color: #fff;background: @color1;}
					}
				}
			}
			.actions{ display: block;
				text-transform: uppercase;
				margin: 10px 0 0;
				a.button{ float: left;padding:7px;
					background:none; color:@color1;&:hover {color:@color2;}
					span{display: inline-block;}
				}
			}
		}
		// Poll
		&.block-poll{
			form{margin: 0 0}
			.block-subtitle{ margin-bottom: 5px;}
			ul#poll-answers{list-style: none;margin: 0 0 10px 0; padding: 0px 0 0;
				li{ padding: 4px 0;
					label{cursor: pointer; margin: 0 0;}
					&:first-child{}
				}
			}
			ol#poll-answers{list-style: none; margin: 0 0 20px 0; padding: 6px 0 0;
				li{ border-bottom: 1px solid #ededed; padding: 8px 0;
					span.answer{float: left;margin: 0 5px 0 0; color: @labelColor;}
					&:first-child{border-top: 1px solid #ededed}
				}
			}
		}
		&.block-account{
			ul {
				.ulclear();
				li{margin: 3px 0; .transition(all 0.2s ease-out);
					&:before{.font-awesome (f105, 30px);font-size:130%;font-weight:700;}
					&.current {color:@activeColor;strong{color: @activeColor;}}
					&:hover{padding-left: 10px;font-weight:700;color:@activeColor;a{color:@activeColor;}}
				}

			}
		}
		&.block-reorder{
			ol{list-style: none; margin:0 0;padding:0px;
				li input{float: left; margin: 0 8px 0 0}
			}
			.actions{margin: 10px 0 0;
				.btn-cart{margin-right: 10px;}
			}
		}
		&.block-progress{
			dl{ margin: 0 0;
				> div,
				> dt{margin: 0 0; padding: 8px 0; border-top: 1px solid #d4d4d4;
					&:first-child{border-top: none;}
				}
			}
		}
		// Shop by
		&.block-layered-nav{
          .block-content {
            //				padding: 15px;
            #narrow-by-list{
              .filter-color{
                padding-left: 0;
                display: inline-block;
                width: 48%;
                border: none;
                padding-top: 2px;
                padding-bottom: 2px;
                &:before{
                  display: none;
                }
                .swatch-label{
                  img{
                    width: 12px;
                    height: 12px;
                    border: 1px solid #ccc;
                    float: left;
                    margin-top: 3px;
                    margin-right: 6px;
                  }
                }
                .count{
                  float: inherit !important;
                }
              }
            }
          }
			.currently{
				.block-subtitle {
					color: #111;
					text-transform: uppercase;
					margin: 0 0 5px;
				}
				padding: 15px 0px 0;
				ol{ 
					margin: 0;
					padding: 0 0 10px 20px;
					li{
						position: relative;
						padding: 5px 0;
						.label {
							font-size: 100%;
							padding: 0;
							margin: 0;
						}
						.btn-remove {
							top: 50%;
							margin-top: -10px;
						}
					}
				}
				.color-value {
					span {
						.inline-block();
					}
					.color-label {
						.hide-text();
						.square(15px);
						margin-right: 5px;
						border: 1px solid #ddd;
					}
				}
			}
			.actions{ 
				text-align: right;
				padding: 0px 15px 15px;
				border-bottom: 1px solid #ddd;
			}
			dl#narrow-by-list{
				margin: 0 0;
				dt	{
					text-transform:uppercase; 
					position: relative; 
					color: #333333;
					font-size:100%;
                    font-weight: bold;
				}
				dd{ 
					margin: 0;
					padding: 5px 0px 8px;
					a {
						color: #666;
						&:hover {
							color: @color1;
						}
					}
					ol{
						.ulclear();
						li{
							padding: 8px 0;
							color: @text;
                            border-bottom: 1px dotted #ccc;
							position: relative;
							padding-left: 18px;
                            &:last-child{
                              border: none;
                            }
							&:before {
								display: block;
								position: absolute;
								top: 50%;
								left: 0;
								margin-top: -6px;
								width:12px !important;
								height:12px !important;
								border:1px solid #ddd !important;
								content:"";
							}
							a {
								.transition(all 0.2s ease-out);
								color:#666;
                              display: inline-block;
                              width: 100%;
                              span.count{
                                float: right;
                              }
							}
							.item-count {
								color: @color1;
								margin-left: 3px;
							}
							&:hover {
								&:before {
									border:1px solid @color1 !important;		
									.font-awesome (f00c,10px);
									color:@color1;
									font-size:11px;
								}
								.item-count {
									color: @color1;
									font-style: normal;
								}
								a {
									color: @color1;
								}
							}
						}
						&.color-filter {
							.clearfix();
							li {
								
								padding:7px 0px;
								
								&:before, &:after {display: none;}
								.item {
									span {
										.inline-block();
									}
								}
								.color-label {
									.hide-text();
									.square(12px);
									margin-right: 10px;
									border:1px solid #ddd;
									
								}
							}
						}
					}
					.price{
						padding-top: 10px; 
						.text-box{
							.clearfix();
							margin: 0 0 15px;
							position: relative;
							width: 100%;
							> .inner {
								> * {
									.inline-block();
									float: none;
								}
								input {
									background: #fff;
									border: 1px solid #dddddd;
									text-align: left;
									height: 28px;
									line-height: 28px;
									padding: 0 5px;
									width: 57px;
									color:@text;
								}
	
								button {
									position: relative;
									width:65px;
									height:28px;
									line-height: 15px;
									margin-left: 10px;
									border: none;
									text-transform: uppercase;
									.border-radius(4px) ;
									padding:0px;
									&:hover {
											&:before {color:@color2;}
											background: @color2;
										
									}
									&:before {
										.font-awesome (f0d9,40px);
										position: absolute;
										top: 0px;
										left:-22px;
										z-index: 1;
										line-height: 30px;
										color:@color1;
									}
								}
							}
							.price-separator{
								float: none;
								margin: 0;
							}
							input[type="text"]{
								margin: 0;
								width: 60px;
							}

						}
						p{
							input#amount{.box-shadow(none); margin: 0 0;
								&:focus{.box-shadow(none);}
							}
						}
						.range-wrap{ padding: 6px 0;
							#slider-range{
								border-radius: 0;
								margin: 3px 8px; 
								background: #ddd; 
								height: 10px; 
								.ui-slider-range{
									background: @color2; 
									height: 10px; 
									top: 0px;
								}
								.ui-slider-handle{ 
									.square(25px);
									background: @color1;
									margin-left: -12px; 
									top: 50%;
									margin-top: -12px;
									z-index: 1;
									.border-radius(4px);
								}
							}
						}
					}
					&.last{ border: none;
						ol{margin-bottom: 0px;}
					}
				}
			}
		}
	}
	.sns-productlist{
		&.style-default .item .item-inner {
			padding: 8px 15px;
			min-height: 85px;
		}
		.block-content{ 
			padding: 5px 0 20px;
			.item {
				&:hover {
					.item-inner {
						.item-box {
							a.product-image  {
								border: none;
							}
							.product-image {
								border: 1px solid #ddd;
							}
						}
					}
				}
				.item-inner {
					.clearfix();
					.item-box {
						float: left;
						margin-right: 10px;
						a.product-image  {
							border: none;
						}
						.product-image {
							border: 1px solid transparent;
							.transition(all 0.25s ease);
							overflow: hidden;
						}
					}
					.item-title {
						color: #666;
						font-weight: bold;
						text-transform: uppercase;
					}
				}
				.ratings {
					display: none;
					.amount {
						display: none;
					}
				}
				.more-info {overflow: hidden;}
			}
		}
	}

}
.my-account {
	border:1px solid #ddd;
	padding:15px;
	.dashboard {
		.box-content {padding:0px;}
		
	}
	.box-head h2 {margin:20px 0 0;font-size:125%; text-transform:capitalize;}
	.box .box-title {
			position:relative;
			border-bottom:1px solid #ddd;
			margin-bottom:20px;
			padding:12px 0;
			h3 {margin:0;font-size:110%; text-transform:capitalize;}
			> a {
				position:absolute;
				right:0px;
				top:12px;
			}
	}
	button.btn-cart {
		.inline-block();
		padding: 5px 15px 5px 40px;
		position: relative;
		font-size: 100%;
		border-color: @color1;
		background: @color1;
		color: #fff;
		i {
			position: absolute;
			.square(30px);
			text-align: center;
			display: block;
			top: 0;
			left: 0;
			line-height: 30px;
			font-size: 16px;		
			padding-left: 15px;
		}
		&:hover {
						border-color: @color2;
						background: @color2;
						color: #fff;
						&:after{.border-arrow-left (6px,12px,@color2);}
						
					}
	}

}

.slider-inner .pull-right small {
    font-size: 13px;
	.fa { padding-right: 2px;}
}				