/*--- Product page ---*/
.sns-product-detail{
  .row-img {
    margin-bottom: 20px;
  }
  .staticblock {
    padding-top: 30px;
  }
  .sns_product_qv_img {
    .owl-buttons {
      .owl-prev, .owl-next {
        position: absolute;
        top: 50%;
        font-size: 30px;
        margin-top: -15px;
        color: #ccc;
        .opacity(0.8);
        &:hover {
          color: @color1;
          .opacity(1);
        }
      }
      .owl-next {
        right: 10px;
      }
      .owl-prev {
        left: 10px;
      }
    }
  }
  .sns_product_img {
    .product-image-zoom {
      overflow: hidden;
      //text-align: center;
    }
    .zoomWrapper {
      .center-block();
    }
    .product-image-zoom{
      position: relative;
      /*z-index: 1;*/
      margin-bottom: 20px;
      cursor:pointer;
      .cloud-zoom{
        display: block;
        text-align: center;
      }
    }
    .more-views{
      position: relative;
      z-index: 1;
      margin: 0 -5px 0px;
      .gallery_img {
        &:hover {
          .owl-prev,
          .owl-next {
            .opacity(1);
          }
          .owl-prev{
            left: 5px;
          }
          .owl-next{
            right: 3px;
          }
        }
        .owl-prev,
        .owl-next {
          display: block;
          position: absolute;
          top: 48%;
          margin-top: -10px;
          .opacity(0);
          .transition(all 0.2s linear);
          background: #fff;
          color: #666;
          border: 1px solid #eaeaea;
          i {
            .square(20px);
            line-height: 20px;
            text-align: center;
            font-size: 16px;
          }
          &:hover {
            background: @color1;
            color: #fff;
            border-color: @color1;
          }
        }
        .owl-prev{
          left: -10px;
        }
        .owl-next{
          right: -10px;
          .transition(all 0.2s linear);
        }
        .item-img {
          margin: 0 4px;
          text-align: center;
          a.elevatezoom-gallery {
            background: #fff;
            overflow: hidden;
            display: block;
            margin: 1px;
            &.active, &:hover {
              border-color: @color1;
            }
          }
        }
      }
    }
    @media (max-width: @screen-sm-max) {
      & {
        margin-bottom: 30px;
      }
    }
  }
  .product-name {
    font-size: 150%;
    margin-bottom: 5px;
    color: #333;
    text-transform:uppercase;
  }
  .ratings, .no-rating {margin-bottom: 0px;}
  .availability {
    .inline-block();
    margin-top: 0px;
    span {
      margin-left: 12px;
      .inline-block();
      border-radius: 5px;
      padding: 0px 10px;
      background:#05b826;
      .inline-block();
      color:#fff;
      text-align: center;
      position:relative;
      display: inline-block;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
  }
  #product-options-wrapper {
    margin: 0 0 5px;
    position:relative;
    > dl {margin: 0;}
    p.required {
      margin: 0;
      color: #ec3d3d;
      position:absolute;
      right:0;
      top:0px;
      color:#fe6d4c;
    }
    label {
      padding: 5px 0;
      &.required {
        em {color: #fe6d4c;}
      }
    }
    input, input.input-text {
    }

    .input-box {
      select {
        width: 100%;
        padding: 6px;
        height:auto;
        line-height: 150%;
        position: relative;
        background:#eee;
        color:#666;
        &:before {
          content: '';
        }
      }
    }
    //	  .configurable-swatch-list{
    //		padding-left: 10px;
    //		li{
    //		  list-style: none;
    //		  &:before{
    //		  	content: "";
    //			font-family: FontAwesome;
    //			margin-right: 5px;
    //		  }
    //		}
    //	  }
  }
  .product-shop{
    form{
      margin: 0 0;
      .rating-links{margin: 0}
    }
    .price-box{
      margin: 5px 0 5px 0;
      padding: 5px 0;
      display: inline-block;
      .old-price {
        padding-top: 3px;
        .price {
          font-size: 100%;
          font-weight: normal;
          color: #666;
        }
      }
      .minimal-price{
        .price{
          color: #333;
          font-size: 100%;
        }
      }
      .special-price {
        .price {
          color: #333;
          font-size: 133%;
        }
      }
      .price-to,
      .price-from {
        .price {
          color: #333;
          font-size: 133%;
        }
      }
      .regular-price {
        .price {
          color: #333;
          font-size: 133%;
        }
      }
      .full-product-price {
        .price {
          color: #333;
          font-size: 133%;
          display: none;
        }
      }
    }
    .grouped-items-table { // .price-box in Groupped product
      .input-text {
        &.qty {
          width: 50px;
        }
      }
      .price-box {
        .old-price {
          margin: 0 0 0 5px;
          font-size: 95%;
          .price {
            font-size: 95%;
            font-weight: normal;
          }
        }
        .special-price {
          font-size: 100%;
          .price { font-size: 120%; }
        }
        .regular-price {
          .price {
            font-size: 100%;
          }
        }
      }
    }
    .add-to-box {
      padding-bottom: 15px;
      margin-bottom: 15px;
      margin-top: 15px;
      &.product-options-bottom {
        padding-top: 5px;
        .price-box {
          padding: 25px 0 15px;
          display: none;
        }
      }
      .add-to-cart {
        padding-bottom: 12px;
        margin-bottom: 5px;
        float:left;
        width: 100%;

        > label {
          font-weight:normal;
          text-transform: uppercase;
          color:#666;
        }
        > .input-text.qty { // update product
          .square(32px);
          text-align: center;
          color: @text;
          line-height: 20px;
          margin-right: 10px;

        }
        .qty-container {
          .inline-block();
          margin-right: 10px;
          padding: 5px 6px;
          padding-right: 25px;
          border: 1px solid #eaeaea;
          height: 38px;
          line-height: 40px;
          position: relative;
          button {
            position: absolute;
            border: 1px solid #eaeaea;
            color: #666;
            .square(20px);
            padding: 0;
            font-size: 100%;
            right: -1px;
            background: #fff;
            &.qty-decrease {
              bottom: -1px;
              z-index: 1;
              &:before {
                content: "";
                font-family: FontAwesome;
                .square(20px);
                line-height: 18px;
                display: block;
                font-size: 12px;
              }
            }
            &.qty-increase {
              top: -1px;
              z-index: 2;
              &:before {
                content: "";
                font-family: FontAwesome;
                font-size: 12px;
                .square(20px);
                line-height: 18px;
                display: block;
              }
            }
            &:hover {
              color: @color1;
            }
          }
          input {
            .inline-block();
            background: none;
            color: #666;
            float: left;
            padding: 0;
            border:none;
            width: 25px;
            height: 30px;
            &.qty {
              width: 30px;
              height: 25px;
              text-align: center;
            }
          }
        }
        .btn-cart {
          font-size: 12px;
          padding:0px 25px;
          height: 38px;
          background: #ccc;
          font-weight: bold;
          i {
            padding: 0;
            padding-right: 5px;
            .inline-block();
            font-size: 16px;
            float: left;
            margin-top: 11px;
          }
          span {
            .inline-block();
            padding: 0;
            height: 38px;
            line-height: 38px;
          }
          &:after{
            .transition(all 0.2s linear);
            content: '';
            display: block;
            position: absolute;
            left:0;
            top:35%;
            margin-left: -6px;
            .opacity(1);

          }
          &:hover {
            background: @color1;
            color: #fff;
            outline: 0;
            i{
            }
          }
        }
      }
      .add-to-list {
        .ulclear();
        float:left;
        width: 100%;
        li {.inline-block();
          &:first-child{
            a{
              margin: 0;
              padding-left: 20px;
              &:after{
                display: none;
              }
              &:before{
                text-align: left;
                padding-left: 0;
              }
            }
          }
        }
        .separator {display: none;}
      }

      .link-wishlist,
      .email-friend,
      .link-compare {
        display: block;
        text-align: center;
        .transition(all 0.3s ease);
        position: relative;
        color: #ccc;
        font-size: 100%;
        margin-left:8px;
        font-weight: bold;
        background: none;
        padding-left: 35px;
        &:before {
          position: absolute;
          .square(32px);
          text-align: center;
          display: block;
          top: 0;
          left: 0;
          font-size: 14px;
          padding-left: 15px;
        }
        &:after{
          position: absolute;
          width: 1px;
          height: 12px;
          background: #ccc;
          top: 9px;
          left: -4px;
          content: "";
        }
        &:hover {
          color: @color1;
        }
      }
      .link-wishlist {
        &:before {
          .font-awesome (f004, 30px);
          line-height: 30px;
        }
      }
      .link-compare {
        &:before {
          .font-awesome (f074, 30px);
          line-height: 32px;
        }
      }
      .email-friend {
        &:before {
          .font-awesome (f0e0, 26px);
          line-height: 30px;
        }
      }

    }
    .price-rating{ position: relative;
      border-bottom: 1px solid #E5E5E5;
      border-top: 1px solid #E5E5E5;
      margin: 0 0 15px;
      padding: 5px 0;
      .price-box{float: left;
        .price{line-height: 32px;}
      }
      .ratings, .no-rating{float: right; margin: 0 0;
        line-height: 32px; height: 32px; padding-left: 12px;
        .rating-box{
          float: left; margin: 9px 8px 0 0;
        }
        .rating-links{float: left; line-height: 32px}
      }
      .ratings-table{  margin-left: 15px; margin-bottom: 0px; float: right;
        th{text-align: right; padding-right: 10px;}
        .rating-box{margin: 0 0;}
      }
      a.nobr{float: right;}
    }
    .addthis_sharing_toolbox{
      .clearfix();
    }
    .short-description{
      padding-bottom: 10px;
      margin-bottom: 5px;
      padding-top: 5px;
      h2 {font-size:100%; color:#333; margin-bottom:5px;text-transform: none;}
      p {
        margin: 0 0;
      }
      &.new-short{
        margin-top: -25px;
      }
    }
    dt {
      label {color:#666;font-weight:normal;}

    }

  }

  #review-form{
    .data-table tbody th {
      border-bottom: 1px solid #e9e9e9;
      border-right: 1px solid #e9e9e9;
    }
    .data-table tbody td{text-align: center; }
    ul.form-list {
      margin: 10px 0 0;
      list-style: none;
      padding: 0;
      .input-box{
        textarea{
          width: 240px;
        }
        .input-text{margin-bottom: 5px;}
      }
      label{margin-bottom: 0;}
    }
    .buttons-set .button {
      float: left;
      margin: 0 0;
    }
  }
  .box-reviews {
    .pager {
      background: none repeat scroll 0 0 #efefef;
      border: 1px solid #e9e9e9;
      padding: 5px 10px;
      margin: 15px 0;
    }
    dl {
      padding-left: 10px;
      dt {
        padding: 15px 0 10px;
        margin: 0;
        &:first-child {
          padding-top: 0;
        }
      }
      dd {
        /*padding-left: 20px;*/
      }
    }
  }
  .ratings-table {
    th {padding-right: 15px;}
    margin-bottom: 5px;
  }
  .nobr[href="#customer-reviews"] {
    margin-bottom: 15px;
    display: inline-block;
  }
  // product tab
  #sns_tab_products {
    ul.nav-tabs {
      .clearfix();
      .ulclear();
      position: relative;
      z-index: 1;
      border-bottom:3px solid #eaeaea;
      > li {
        display: block;
        margin: 0;
        float: left;
        margin-right: 15px;
        margin-bottom: -1px;
        &:first-child, &.tabdrop + li {
          > a {
            border-width: 1px;
          }
        }
        &.tabdrop {
        }
        &:hover, &.active {
          > a {
            color: @color1;
          }
        }
        &.tabdrop {
          > a {

          }
        }
        > a {
          color: #666;
          .transition(all 0.2s ease-out);
          position: relative;
          text-transform: uppercase;
          font-size: 130%;
          background: none;
          .inline-block();
          position: relative;
          padding: 8px 20px 8px 0;
          border-radius: 0;
          margin: 0 2px  0  0;
          border: none;
          font-weight:bolder;
          color:#333;
        }
      }
    }
    .tab-content {
      padding:15px 0;
      position: relative;
      overflow: hidden;
      h2, h3, h4 {
        text-transform: uppercase;
        margin-top: 0;
        color: #111;
        font-weight: normal;
      }
      h2{
        font-size: 130%;
      }
      h3 {
        font-size: 120%;
      }
      h4 {
        font-size: 100%;
      }
      label{font-weight: bold;}
      ul.product-tags{
        .ulclear();
        margin-bottom: 20px;
        li{display: inline-block; margin: 0 5px 0 0;}
      }
      tbody td {
        &.label{width: 20%}
      }
      .validation-advice{display: none;}

      #addTagForm{ margin: 0 0 10px;
        .input-box{
          input{
            float: left;
            margin: 0 10px 5px 0;
            padding: 6px 10px 6px;
          }
        }
        button.button{clear: both}
        .validation-advice{float: left;width: 100%; line-height: normal;}
      }
      .box-tags{
        h2{display: none;}
      }
    }
  }
  #customer-reviews{
    .pager{
      p.amount{float: left; margin: 0 0; line-height: 24px;}
      .limiter{float: right;
        label{float: left; margin: 0 8px 0 0; line-height: 24px;}
        select{width: 60px; height: 24px; line-height: 24px; padding: 2px; margin: 0 5px 0 0;cursor: pointer;}
      }
    }
  }
  #review-form{
    margin: 0px;
    td.value {
      text-align: center;
      input {
        display: inline-block;
      }
    }
  }

}


#confirmbox{
  border: 2px solid #686868;
  .add-to-cart{margin: 0 0 !important}
  .head-cfbox{
    .product-title{font-weight: bold; color: @linkColor;}
  }
  .product-name a{color: @linkColor;
    font-weight: bold; text-transform: uppercase;
    &:hover{color: @activeColor}
  }
  .cf-producinfo{
    .product-image{border: none;}
  }
  #bottom-cfbox{
    padding-top: 20px;
    .btn {
      font-size: 100%; .transition(all 0.2s ease-out); text-transform: uppercase; .box-shadow(none); font-weight: bold;
      padding: 6px 24px; .border-radius(0px); color: @labelColor; border: 1px solid #ccc; background: #f7f7f9;
      &:hover{background-color: @activeColor;color: #FFF; border-color: @activeColor;}
    }
  }
  #cout_down{position: absolute; right: 0px; bottom: 0px; padding: 0 5px; color: #FFF; background: #686868;
  }
  .product-shop{
    table.grouped-items-table{margin-bottom: 0;}
  }
}
//#btn-close{color: #686868;.opacity(100); height: 25px; width: 25px;
//	&:hover{color: @activeColor}
//}
.postWrapper{ padding: 0 0 20px;
  .postTitle{border: none;margin-bottom: 10px;
    h2{line-height: 24px; font-size: 150%;
      a{
        &:hover{color: @activeColor}
      }
    }
    h3{line-height: normal; font-size: 91.5%; font-weight: normal;}
    &.title-detail{ h2{font-size: 116.7%; margin: -3px 0 0; text-transform: uppercase; color: @labelColor }}
  }
  .postContent{ padding-bottom: 5px;
  }
  .aw-blog-read-more{display: none;}
  .post-info{padding:3px 0; border-top: 1px solid #dfdfdf;}
  .postDetails{
    h4.poster{font-size: 100%; line-height: normal;}
    .create-time{margin: 0 0;}
  }
}


.cmt-heading{
  h2{font-size: 125%; line-height: 24px;}
}
.commentWrapper{
  h4.username{font-size: 100%; line-height: normal; color: @activeColor;}
}
#postComment{
  h4.legend{font-weight: normal;font-size: 125%;}
  .commentDetails{margin: 0 0;}
  ul.form-list{list-style: none;margin: 0 0;
    .input-box{ margin-bottom: 20px;
      input.input-text{margin: 0 0; padding: 5px 10px;max-width:215px;}
      textarea{margin: 0 0;}
      .validation-advice{margin-top: 3px;}
      label{
        color: @labelColor; display: none;
      }
      &.cmt-user{

      }
      &.cmt-email{

      }
    }
  }
}


.shop-policy {
  margin-bottom: 30px;
  li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    i {
      color: #666;
    }
    h4 {
      font-weight: normal;
    }
  }
}
.zoomContainer  {
  z-index: 10 !important;
  .transform(none) !important;
}



.swatch-attr {
  .selected {
    border: 1px solid #000;
    padding: 5px;
  }
}
.elevatezoom-gallery {
  img {
    max-width: 100%;
  }
}
.upsell-products {
  margin-bottom: 0 !important;
}
.catalog-product-view #sns_content{margin-bottom: 10px;}
.box-related-content .mini-products-list .item{
  border-top: none !important;
  .item-img{
    position: relative;
    margin-right: 0;
    label{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      input{
        height: 10px;
        margin-top: 0;
        display: none;
      }
    }
  }
}
.related-blocknote{margin-top: -10px;}
.box-related-content{padding-bottom: 5px;}
.product-view #sns_tab_products .box-tags .form-add button{height: 34px;}
.catalog-product-view .sns_slider_right{
  .block-title{
    padding-right: 40px;
    text-transform: uppercase;
    display: block;
    span{
      overflow: hidden;
      position: relative;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: nowrap;
      display: block;
      width: 100%;
    }
  }
}

.sns-product-detail #product-options-wrapper{
  dl{
    dt.swatch-attr,
    dd.swatch-attr{
      margin: 0 0 3px; display: block; width: 100%;
      label{margin: 0 0; padding: 0 0;}
      .select-label{color: @color1}
      .configurable-swatch-list{padding: 0 0; list-style: none;
        li{display: inline-block; float: left;margin: 0 3px 0 0;
          .swatch-label{background: #f4f4f4; border: 1px solid #FFF; display: block; white-space: nowrap; overflow: hidden;
            img{vertical-align: middle;display: block;}
          }
          .swatch-link{border: 1px solid #CCC; display: block; position: relative;
            .x {
              background: url("../images/bg_x.png") no-repeat center center;
              bottom: 0;display: none;left: 0;position: absolute;right: 0;text-indent: -999em;top: 0;z-index: 1;
            }
            &:hover{border-color:@color1; }
          }
          &.not-available{
            .swatch-link{border-color: #ededed;
              .x{display: block;}
            }
          }
          &.selected{
            padding: 0;
            border: none;
            a{
              border-color: @color1;
            }
          }
          &.not-available{
            opacity: 0.3;
            position: relative;
            a{
              border-color: #eaeaea;
              .swatch-label{
                background: #fff;
              }
            }
          }
        }
      }
    }
  }
}
.catalog-product-view,
.review-product-list{
  #sns_left{padding-top: 25px;}
}
.sns-product-detail .product-options-bottom{
  .add-to-cart {
    padding-bottom: 12px;
    margin-bottom: 5px;
    float:left;
    margin-top: 10px;
    width: 100%;

    > label {
      font-weight:normal;
      text-transform: uppercase;
      color:#666;
    }
    > .input-text.qty { // update product
      .square(32px);
      text-align: center;
      color: @text;
      line-height: 20px;
      margin-right: 10px;

    }
    .qty-container {
      .inline-block();
      margin-right: 10px;
      padding: 5px 6px;
      padding-right: 25px;
      border: 1px solid #eaeaea;
      height: 38px;
      line-height: 40px;
      position: relative;
      button {
        position: absolute;
        border: 1px solid #eaeaea;
        color: #666;
        .square(20px);
        padding: 0;
        font-size: 100%;
        right: -1px;
        background: #fff;
        &.qty-decrease {
          bottom: -1px;
          z-index: 1;
          &:before {
            content: "";
            font-family: FontAwesome;
            .square(20px);
            line-height: 18px;
            display: block;
            font-size: 12px;
          }
        }
        &.qty-increase {
          top: -1px;
          z-index: 2;
          &:before {
            content: "";
            font-family: FontAwesome;
            font-size: 12px;
            .square(20px);
            line-height: 18px;
            display: block;
          }
        }
        &:hover {
          color: @color1;
        }
      }
      input {
        .inline-block();
        background: none;
        color: #666;
        float: left;
        padding: 0;
        border:none;
        width: 25px;
        height: 30px;
        &.qty {
          width: 30px;
          height: 25px;
          text-align: center;
        }
      }
    }
    .btn-cart {
      font-size: 12px;
      padding:0px 25px;
      height: 38px;
      background: #ccc;
      font-weight: bold;
      i {
        padding: 0;
        padding-right: 5px;
        .inline-block();
        font-size: 16px;
        float: left;
        margin-top: 11px;
      }
      span {
        .inline-block();
        padding: 0;
        height: 38px;
        line-height: 38px;
      }
      &:after{
        .transition(all 0.2s linear);
        content: '';
        display: block;
        position: absolute;
        left:0;
        top:35%;
        margin-left: -6px;
        .opacity(1);

      }
      &:hover {
        background: @color1;
        color: #fff;
        outline: 0;
        i{
        }
      }
    }
  }
  .add-to-list {
    .ulclear();
    float:left;
    width: 100%;
    margin-bottom: 10px;
    li {.inline-block();
      &:first-child{
        a{
          margin: 0;
          padding-left: 20px;
          &:after{
            display: none;
          }
          &:before{
            text-align: left;
            padding-left: 0;
          }
        }
      }
    }
    .separator {display: none;}
  }

  .link-wishlist,
  .email-friend,
  .link-compare {
    display: block;
    text-align: center;
    .transition(all 0.3s ease);
    position: relative;
    color: #ccc;
    font-size: 100%;
    margin-left:8px;
    font-weight: bold;
    background: none;
    padding-left: 35px;
    &:before {
      position: absolute;
      .square(32px);
      text-align: center;
      display: block;
      top: 0;
      left: 0;
      font-size: 14px;
      padding-left: 15px;
    }
    &:after{
      position: absolute;
      width: 1px;
      height: 12px;
      background: #ccc;
      top: 9px;
      left: -4px;
      content: "";
    }
    &:hover {
      color: @color1;
    }
  }
  .link-wishlist {
    &:before {
      .font-awesome (f004, 30px);
      line-height: 30px;
    }
  }
  .link-compare {
    &:before {
      .font-awesome (f074, 30px);
      line-height: 32px;
    }
  }
  .email-friend {
    &:before {
      .font-awesome (f0e0, 26px);
      line-height: 30px;
    }
  }
}







