.no-breadcrumbs #sns_menu{margin-bottom: 30px;}
.cms-home #sns_menu{margin-bottom: 50px;}
.cms-home #sns_content{ margin: 0 0 25px;} 

/*--- Wrap: #sns_promotions ---*/
#sns_promotions{ position: relative; z-index: 2;
	margin: 0 0 50px;
}
/*--- Wrap: #sns_productswrap ---*/
#sns_productswrap{ padding: 0 0; 
	.sns-slider{ margin-bottom: 25px;
		.owl-wrapper{
			margin: 10px 0 0;
		}
	}
}

#sns_header {
  position: relative;
  z-index: 99;
  /*background-image: url(../images/bg_header.png);*/
  &.transparent {
    background-color: @color1;
    /*#sns_slideshow {min-height:0px !important;}*/
    #sns_menu {background:none ;}
  }
  &.solid {
    #sns_slideshow {min-height:0px !important;}
    //		 #sns_mainnav  #sns_custommenu ul.mainnav li a ,.tongle , #sns_mommenu > span.btn-navbar , .tongle .fa{ color:#ccc !important;}
  }

  #sns_header-logo {
    position: relative;
    min-height: 110px;
    padding-top: 30px;
    padding-bottom: 30px;
    .container_in {
      position: relative;
      .clearfix();
    }
    h1#logo {
      margin: 0;
      line-height: 1;
      float: left;
      padding-top: 10px;
      @media (max-width: @screen-phone) {text-align:center;}
    }

    .header-menu-block {
      float: right;
      #sns_mainnav {
        .inline-block();
      }
      .header-tools {
        .inline-block();
        position: relative;
        > * {
          .inline-block();
        }
        .mycart {
          &:hover {
            .tongle {
              cursor: pointer;
              .fa {
                &:before {
                  background: @color2;
                }
                &:after {
                  .opacity(1);
                }
              }
            }
            .content {
              display: block;
              .effect-block-show();
            }
          }
          .tongle {
            font-size: 20px;
            color: #fff;
            .fa {
              position: relative;
              &:before {
                .transition(all 0.2s linear);
                display: block;
                .square(36px);
                line-height: 36px;
                border-radius: 4px;
                text-align: center;
              }
              &:after {
                .transition(all 0.2s linear);
                .border-arrow-bottom (12px, 6px, @color2);
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                top: 100%;
                margin-left: -6px;
                .opacity(0);
              }
            }
          }
          .content {
            display: none;
            position: absolute;
            top: 110%;
            right: 0;
            min-width: 200px;
            background: #fff;
            border-radius:5px;
            z-index: 9999;
            padding: 5px 15px;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
            .effect-block-hide();
            &:before {
              content: '';
              display: block;
              width: 100%;
              height: 15px;
              position: absolute;
              bottom: 100%;
              left: 0;
            }
            ul {
              .ulclear();
              li {
                padding: 4px 0;
                a:hover {color:@color2;}
              }
            }

          }
        }
        .mycart {
          .content {
            min-width: 298px;
            .details {
              .detail-title {
                cursor: pointer;
                &:hover {
                  color: @color1;
                }
              }
            }
            .item-options {
              display: none;
              margin: 0;
              dt {
                padding-top: 6px;
                font-weight: normal;
              }
              dd {
                font-weight: normal;
              }
            }
            .block-inner{
              position: relative;
              color: #333;
              a {
                color: #333;
                &:hover {
                  color: @color1;
                }
              }
              .block-subtitle{
                padding: 10px 0;
                border-bottom: 1px solid #ddd;
                margin: 0;
              }
              .minicart-products-list{
                .ulclear();
                padding: 15px 0 0;
                .quantity-container {
                  padding-bottom: 2px;
                  strong {font-weight: normal;}
                }
                .item{
                  padding: 0 0 15px;
                  margin: 0 0 15px;
                  overflow: hidden;
                  border-bottom: 1px solid #ddd;
                  &:hover {
                    .product-image {
                      border: 1px solid @color1;
                    }
                  }
                  .product-image{
                    display: block;
                    float: left;
                    margin-right: 15px;
                    overflow: hidden;
                    border: 1px solid fadeOut(@color2, 100%);
                  }
                  .product-details {
                    overflow: hidden;
                    position: relative;
                    min-height: 55px;
                    .product-name{
                      line-height: 110%;
                      padding: 5px 20px 10px 0;
                      text-transform: uppercase;
                    }
                    .price-box {
                      .inline-block();
                      font-weight: bold;
                      font-size: 165%;
                      .price {
                        color: @color1;
                      }
                    }
                    .action {
                      padding-bottom: 8px;
                      .clearfix();
                      .quantity-wrap {
                        .inline-block();
                        vertical-align: bottom;
                        > span {
                          .inline-block();
                          margin: 0 5px;
                          &.cqty {
                            color: #999;
                            font-weight: bold;
                            margin: 0;
                          }
                        }
                        .qty-container {
                          .inline-block();
                          border: 1px solid #ddd;
                          > * {
                            float: left;
                            text-align: center;
                          }
                          span {
                            display: block;
                            line-height: 16px;
                            padding: 3px;
                            cursor: pointer;
                            height: 20px;
                            font-size: 8px;
                          }
                          input {
                            width: 20px;
                            border: none;
                            padding: 3px;
                            line-height: 16px;
                            height: 20px;
                            border-left: 1px solid #ddd;
                            border-right: 1px solid #ddd;
                          }
                        }
                      }
                      .item-action {
                        position: absolute;
                        right: 0;
                        top: 0;
                        a {
                          border: none;
                          display: block;
                        }
                      }
                    }
                  }
                }
              }
              .bottom-action {
                padding: 0 15px 15px;
                text-align: center;
                .total-price {
                  font-size: 160%;
                  color: @color1;
                  font-weight: bold;
                  margin-bottom: 7px;
                }
              }
              .label {
                color: #999;
              }
            }
            .btn-update {
              text-transform: uppercase;
            }
            button {
              .inline-block();
              margin: 10px 5px 0;
            }
          }
        }
      }
    }

  }
  .sns_header_top{
    .sns_module{
      display: block;
      width: 100%;
    }
    .inline-block();
    position: relative;
    border-bottom: 3px solid #333;
    height: 37px;
    > div > * {
      .inline-block();
    }
    .mysetting,
    .mycart {
      &:hover {
        .tongle {
          cursor: pointer;
          .fa {
            &:before {
              //				background: @color2;
            }
            &:after {
              .opacity(1);
            }
          }
        }
        .content {
          display: block;
          .effect-block-show();
        }
      }
      .tongle {
        font-size: 100%;
        color: #666;
        .fa {
          position: relative;
          &:before {
            .transition(all 0.2s linear);
            display: block;
            height: 36px;
            width: 15px;
            line-height: 36px;
            border-radius: 4px;
            text-align: center;
          }
          &:after {
            .transition(all 0.2s linear);
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: 100%;
            margin-left: -6px;
            .opacity(0);
          }
        }
      }
      .content {
        display: none;
        position: absolute;
        top: 110%;
        right: 0;
        min-width: 120px;
        background: #fff;
        z-index: 9999;
        padding: 0 !important;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
        .effect-block-hide();
        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 15px;
          position: absolute;
          bottom: 100%;
          left: 0;
        }
        ul {
          .ulclear();
          padding: 0;
          li {
            min-height: 30px;
            line-height: 32px;
            a:hover {color: #333;}
            i{
              display: none;
            }
            a{
              padding: 0 0 0 10px;
              display: block;
              width: 100%;
              border-bottom: 1px solid #eaeaea;
              &.selected{
                background: #eaeaea;
              }
              &:hover{
                background: #ccc;
              }
            }
            &:last-child{
              a{
                border: none;
              }
            }
          }
        }

      }
    }
    .mysetting {
      display: inline-block;
      position: relative;
      .content {
        padding: 15px;
        > span {
          color: #333;
          text-transform: uppercase;
          padding: 0 0 5px;
          display: block;
        }
        .list-lang {
          margin-bottom: 15px;
          padding-bottom: 10px;
          border-bottom: 1px solid #ddd;
          img {
            margin-right: 5px;
          }
        }
        li > span {
          color: @color2;
        }
      }
    }
    .myaccount {
      .content {
        ul.links {
          padding: 5px 0;
          li {

            a {
              &:before {
                margin-right: 10px;
                width: 14px !important;
                text-align: center;
              }
              &.top-link-myaccount:before {
                .font-awesome (f007, auto);
              }
              &.top-link-wishlist:before {
                .font-awesome (f004, auto);
              }
              &.top-link-cart:before {
                .font-awesome (f07a, auto);
              }
              &.top-link-checkout:before {
                .font-awesome (f06d, auto);
              }
              &.top-link-login:before {
                .font-awesome (f13e, auto);
              }
              &.top-link-logout:before {
                .font-awesome (f023, auto);
              }
              &.top-link-myaccount{
                position: relative;
                padding-left: 15px;
                &:before{
                  position: absolute;
                  left: 0;
                  top: 0;
                }
              }
            }
          }
        }
      }
    }
    .language-switcher{
      &.mysetting{
        margin-right: 12px;
      }
      img{
        float: left;
        margin-right: 5px;
        margin-top: 12px;
      }
      #select-language{
        img{
          margin-top: 10px;
          margin-right: 7px;
        }
      }
    }
    .header-setting{
      display: inline-block;
      .module-setting{
        display: inline-block;
      }
      .tongle{
        line-height: 34px;
        padding-bottom: 3px;
        padding-right: 13px;
        position: relative;
        &:before{
          position: absolute;
          content: "";
          background: #ccc;
          width: 1px;
          height: 12px;
          top: 12px;
          right: 0;
        }
      }
      .currency-switcher{
        .tongle{
          &:before{
            display: none;
          }
        }
      }
    }
    .header-account{
      float: right;
      .myaccount {
        border-right: none;
        padding-right: 0px;
        color: #666;
        .tongle{
          display: none;
          span{
            display: none;
          }
        }
        .content {
          ul.links {
            padding:0;
            li {
              a {
                line-height: 37px;
                &:before{display: none;}
              }
            }
          }
        }
        .customer-ct{
          display: block;
          margin-top: -2px;
          ul{
            list-style: none;
            margin: 0;
            li{
              display: inline-block;
              position: relative;
              padding-left: 13px;
              margin-left: 10px;
              &:before{
                position: absolute;
                content: "";
                background: #ccc;
                width: 1px;
                height: 12px;
                top: 13px;
                left: 0;
              }
              &:first-child{
                padding-left: 0;
                &:before{display: none;}
              }
              a{
                color: #666;
              }
              &:hover{
                a{
                  color: @color1;
                }
              }
            }

          }
        }
      }
    }
    .language-switcher,
    .currency-switcher{
      .content{
        left: 0 !important;
      }
    }
  }
  #sns_slideshow {
    min-height: 90px;
  }
  #sns_header_bot {
    background: @color2;
    > .container {
      /*display: table;*/
    }
    .block_categories {
      display: table-cell;
      vertical-align: top;
      //			/*width: 260px;*/
      padding-right: 10px;
    }
    .block_topsearch {
      display: table-cell;
      vertical-align: top;
    }
  }
  #sns_menu{
    min-height: 45px;
    position: relative;
    &:before{
      background: url(../images/shadow_menu.png) repeat-x;
      content: "";
      position: absolute;
      width: 100%;
      height: 10px;
      left: 0;
      top: 100%;
    }
    .sns_mainmenu{
      position: relative;
      min-height: 45px;
      border-top: 1px solid #eaeaea;
    }
    #sns_mainnav{
      float: left;
    }
  }
}
#sns_header_top {
}

#sns_slideshow ,.sns-revolutionslider-wrap{
	
	position: relative;
	z-index: 0;
	
	ul {.ulclear();}
	.fsbg {background:rgba(225,225,225,0.15);padding:10px 12px !important;}
	.cwhite { color: #fff; }
	.cred { color: #dd5858; }
	.cyellow { color: @color2; }
	
	.fs80 { font-size: 80px; }
	.fs70 { font-size: 70px; }
	.fs50 { font-size: 50px; }
	.fs40 { font-size: 40px; }
	.fs34 { font-size: 34px; }
	.fs30 { font-size: 30px; }
	.fs24 { font-size: 24px; }
	.fs20 { font-size: 20px; }
	.fs16 { font-size: 16px; }
	.fs13 { font-size: 13px; }
	
	
	.fwbold {
		font-weight: bold;
	}
	.fwnormal {
		font-weight:normal;
	}
	.tuppercase {
		text-transform: uppercase;
	}
	.tleft {
		text-align: left;
	}
	.tright {
		text-align: right;
	}
	.tcenter {
		text-align: center;
	}
	
	.btn-more {
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		padding: 10px;
		display: inline-block;
		background: @color1;
		font-size: 16px;
	}
	
		.sns-revolutionslider { overflow: hidden;}
		.wrap-inner {
			position: relative;
			&:hover {
				.tparrows {
					.opacity(1);
				}
			}
			.tparrows {
				background: none;
				.opacity(0);
				.square(50px);
				&:before {
					.font-awesome (f104, 50px);
					background: fadeOut(#000000,50%);
					font-size: 32px;
					color: #fff;
					line-height: 50px;
					text-align: center;
				}
				&:hover {
					&:before {background: #fff;color:#666;}
				}
				&.tp-leftarrow {
					&:before {content: "\f104";}
				}
				&.tp-rightarrow {
					&:before {content: "\f105";} 
				}
			}
			.tp-bullets {
				.bullet {
					width:12px !important;
					height:12px !important;
					float: none !important;
					.inline-block();
					margin: 0 4px !important;
					background: @white !important;	
					&.selected, &:hover {
						outline:1px solid @white;
						outline-offset:2px;
					}
				}
			}
		}
	
	[class*='col-'] {
		padding-bottom: 30px;
	}
}
.customer-banner .banner2 {
	margin-bottom:18px;
}
.banner-home-v {margin-bottom:50px;}
#sns_content {
	.index_block {
		margin-bottom: 50px;
		&.row20 {
			margin-bottom: 30px;
		}
		.block {
			margin-bottom: 0;
		}
		&.our_partners {
			margin-bottom: 0;
		}
	}
}
#sns_botsl {
	margin-bottom: 30px;
}
#sns_botsl2 {
	margin-bottom: 50px;
	.block {margin: 0;}
}
#sns_partners {
  margin-bottom: 15px;
  padding-top: 20px;
  border-top: 1px solid #eaeaea;
  .block_head {
    color: #333;
    font-family: Roboto;
    font-size: 145%;
    font-weight: bold;
    margin-bottom: 18px;
    padding-bottom: 13px;
    position: relative;
    text-transform: uppercase;
    span {
      .inline-block();
      position: relative;
    }
    .navslider {
      position: absolute;
      right: 0;
      top: -3px;
      z-index: 2;
      a {
        display: inline-block;
        float: left;
        vertical-align: middle;
        i{
          color: #cdcdcd;
          font-size: 14px;
          height: 25px;
          line-height: 23px;
          text-align: center;
          transition: all 0.3s ease 0s;
          width: 25px;
          &:hover{
            background: @color1;
            color: #fff;
          }
        }
        &:hover {
          background: @color2;
        }
      }
    }
  }
  .sns_partner {
    .block-title{
      margin-bottom: 15px;
    }
    .partners_slider {
      overflow: hidden;
      margin: 0 -15px;
      .wrap {
        text-align: center;
        padding: 0 15px;
        .wrap_in {
          position: relative;
          overflow: hidden;
          &:hover {
            img{
              .scale(1.05);
            }
            a{

              &:before{
                .scale(1);
              }
            }
          }
        }
        a {
          display: block;
          width: 100%;
          position: relative;
          text-align: center;
          border: 1px solid #ebebeb;
          overflow: hidden;
          img {
            .transition(all 0.25s ease);
            position: relative;
            z-index: 2;
          }
        }
      }
    }
  }
}

#sns_footer_top,
#sns_footer_middle {
	a {
		text-decoration: none;
		.transition(all 0.5s ease);
		&:hover {
//			.transition(all 0.5s ease);
			color: @color1;
		}
	}
	h3 {
		margin-bottom: 15px;
	}
    h6{font-size: 133.33%}
	.column {
		padding-bottom: 25px;
	}
	ul { 
		.ulclear(); 
		li {
			padding: 3px 0;
		}
	}
	.fa-ul {
		padding-left: 20px;
		li {
          p{margin-bottom: 0;}
			.fa-li {
				margin-top: 4px;
				font-size:120%;
                color: #888;
			}
		}
	}
}
#sns_footer_top {
	border-top: 1px solid #ebebeb;
	padding: 25px 0 0;
	.container_in {
		padding-bottom: 5px;
		> .row > [class*="col-"] {
			padding-bottom: 20px;
		}
	}
	h6 {margin-bottom: 15px;}
	.block-subscribe {
      position: relative;
      padding-left: 100px;
		p {
			margin-bottom: 20px;
		}
      h6{
        position: absolute;
        top: 8px;
        left: 0;
      }
      form{
        display: block;
        width: 100%;
      }
		.input-box {
            position: relative;
			width: 100%;
			.input_warp {
				input {
					width: 100%;
				}
			}
          input{
            height: 35px;
          }
			.button_warp {
				button {
					line-height: 34px;
					.square(35px);
					text-align: center;
					padding: 0;
                    width: 85px;
					position: absolute;
                    top: 0;
                    right: 0;
                    background: #ccc;
                    color: #fff;
                    height: 35px;
                    border-radius: 0;
					.transition(all 0.2s linear);
                    font-family: Oswald,sans-serif !important;
					&:hover {
						background: @color1;
					}
				}
			}
		}
	}
	
	
	.sns-social {
		/*padding-top: 6px;*/
		ul {
			.ulclear();
			color: #000;
			font-size: 30px;
			a {
				color: #000;
			}
			li {
				.inline-block();
				.fa {
					.transition(all 0.2s ease);
					&:hover {
						color: @color2;
					} 
				}
			}
		}
	}
  .footer-link-menu{
      text-align: right;
      padding-top: 5px;
      li{
        display: inline-block;
        position: relative;
        padding-left: 12px;
        margin-left: 10px;
        &:before{
          position: absolute;
          width: 1px;
          background: #d3d3d3;
          height: 10px;
          top: 8px;
          left: 0;
          content: "";
        }
        &:first-child{
          padding-left: 0;
          margin-left: 0;
          &:before{display: none;}
        }
      }
  }
}
#sns_footer_middle {
	padding: 30px 0 10px;
    border-top: 3px solid #333;
	.column {
    max-height: 200px;
    overflow: hidden;
	}
    .left{
      ul li a{
        display: block;
        width: 100%;
        &:before{
          float: left;
          font-family: FontAwesome;
          content: "";
          color: #666;
          margin-right: 5px;
        }
        &:hover{
          padding-left: 5px;
          &:before{
            color: @color1;
          }
        }
      }
    }
}
#sns_footer_bottom {
	color: #666;
    border-top: 1px solid #eaeaea;
  .container-in{
    padding: 28px 0;
  }
	a {
		color: @color1;
		&:hover {
			color: @color2;
		}
	}
	.sns-copyright {
		margin: 0;
	  a{
		color: #000;
		&:hover{
		  color: @color1;
		}
	  }
	}
	.payment {
	 	.ulclear();
	 	padding-top: 2px;
	 	text-align: right;
	 	li {
	 		.inline-block();
	 		padding-left: 5px;
	 		a {
	 			font-size: 25px;
	 			color: #ccc;
	 			&:hover {
	 				color: #111;
	 			}
	 		}
	 	}
	}
}

#sns_footer_map {
	 position: relative;
	 .btn_gmap {
		background:@color1;
		display: block;
		font-size: 100%;
		left: 50%;
		margin-left: -80px;
		padding: 8px 20px 8px 15px;
		position: absolute;
		text-transform: uppercase;
		top: -15px;
		z-index: 1;	
		color:#fff;
		font-weight:bold;
		border-radius:4px;
					&:after {
					.border-arrow-bottom (12px, 6px, @color1);
					.transition(all 0.2s linear);
					content: '';
					display: block;
					position: absolute;
					left: 50%;
					top: 100%;
					margin-left: -6px;
					.opacity(1);
					}
					&:before {
					.font-awesome (f124,20px);
					font-size:14px;
					color:#fff;
					padding-right: 10px;
					z-index: 2;
					.animation-icon(iconmap);
					}
					&:hover{
					background:@color2;
					&:after{.border-arrow-bottom (12px, 6px, @color2);}
					
					}

				
		}
}

//style page customer
.customer-account-create .account-create .control label{padding-top: 5px}
.checkout-onepage-index .opc-payment .sp-methods > dt {
  float: left;
  width: 100%;
}
.block-reorder #reorder-validate-detail #cart-sidebar-reorder .product-name{
  padding-top: 6px;
}
.contacts-index-index .contact-page .fa-envelope{
  padding-top: 3px;
  font-size: 10px;
  text-align: left;
  padding-left: 3px;
}
#checkout-step-review #checkout-review-table tbody .a-right.last{
  padding-right: 20px;
}

.tag-customer-view .my-account .my-tag-edit a.btn-remove{
  padding: 0;box-shadow: none;
}
#checkoutSteps #checkout-step-payment #co-payment-form #checkout-payment-method-load dt{float: left;width: 100%;}
.buttons-set .back-link{ margin-bottom: 0; margin-top: 5px;}

//Home Slideshow v1
.sns-slideshow{
  margin-bottom: 20px;
  .jssorb13{
    > div{
      .square(13px);
      border: 2px solid #fff;
      background: none;
      position: relative;
      .transition(all 0.3s ease);
      &:before{
        .transition(all 0.3s ease);
        .scale(0);
        content: "";
        width: 7px;
        height: 7px;
        background: #fff;
        left: 3px;
        position: absolute;
        top: 3px;
      }
      &:hover,
      &.av{
        &:before{
          .scale(1);
        }
      }
    }
  }
  .jssora15l,
  .jssora15ldn,
  .jssora15rdn,
  .jssora15r{
    //	  display: none;
    background: rgba(0,0,0,0.3) !important;
    width: 50px !important;
    height: 50px !important;
    text-align: center;
    border-radius: 50%;
    display: none;
    &:before{
      font-family: FontAwesome;
      line-height: 48px;
      font-size: 28px;
      color: #fff;
    }
    &:hover{
      background: @color1 !important;
    }

  }
  .jssora15r:before{
    content: "";
  }
  .jssora15l:before{
    content: "";
  }

  .submit{
    background: @color2;
    height: 30px;
    line-height: 30px;
    padding: 6px 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    z-index: 1;
    &:hover{
      background: @color1;
    }
    &.v2{
      background: @color1;
      &:hover{
        background: @color2;
      }
    }
  }

  .slideshow1{
    > div{
      position: absolute;
      color: #fff;
    }

    .item1{
      line-height: 40px;
      text-align: right;
      height: 45px;
      font-size: 30px;
      text-transform: uppercase;
      &.v1{
        top: 250px;
        left: 310px;
      }
      &.v2{
        top: 250px;
        left: 440px;
      }
    }
    .item2{
      font-weight: bold;
      font-size: 40px;
      width: 400px;
      height: 50px;
      top: 185px;
      left: 230px;
      padding-top: 20px;
      text-align: center;
      line-height: 40px;
      text-transform: uppercase;
      transform: rotate(0deg) scale(1);
    }
    &.v3{
      .item2{
        font-size: 80px;
        left: 140px;
        top: 145px;
      }
      .item1.v1{
        left: 220px;
        top: 250px;
      }
      .item1.v2{
        left: 340px;
        top: 250px;
      }
      .item3{
        left: 170px;
        top: 225px;
        font-size: 14px;
        text-transform: uppercase;

      }
    }
    &.v2{
      .item2{
        left: 400px;
        top: 150px;
//        text-shadow: 1px 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
        text-align: left;
        font-weight: 700;
      }
      .item3{
        left: 400px;
        top: 215px;
//        width: 400px;
        height: 40px;
        line-height: 30px;
        text-align: left;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 300;
      }
      .item4{
        left: 400px;
        top: 260px;
        font-weight: normal;
        font-size: 20px;
        text-align: left;
      }
      .item1{
        top: 290px;
        left: 400px;
      }
    }
  }

  .slideshow2{
    > div{
      position: absolute;
      color: #fff;
    }
    &.v2{
      .item2{
        left: 980px;
        top: 130px;
        width: 550px;
        text-align: right;
        font-weight: 700;
        font-size: 40px;
        text-transform: uppercase;
      }
      .item3{
        left: 980px;
        top: 170px;
        width: 550px;
        line-height: 18px;
        font-family: Arial !important;
        text-align: right;
        font-size: 12px;
        font-weight: bold;
        color: #ccc;
//        height: 100px;
        padding-left: 100px;
      }
      .item4{
        left: 980px;
        top: 245px;
        width: 550px;
        font-weight: normal;
        font-size: 20px;
        text-align: right;
        color: @color1;
      }
      .item1{
        top: 285px;
        left: 980px;
        width: 550px;
        text-align: right;
      }
    }
  }

  .slideshow3{
    > div{
      position: absolute;
      color: #fff;
    }

    &.v2{
      .item2{
        left: 780px;
        top: 130px;
        width: 500px;
        text-align: right;
        font-weight: 700;
        color: #222;
        font-size: 40px;
        text-transform: uppercase;
      }
      .item3{
        left: 780px;
        top: 165px;
        width: 500px;
        color: #222;
        line-height: 34px;
        text-align: right;
        font-size: 34px;
        font-weight: 300;
        text-transform: uppercase;
      }
      .item4{
        left: 780px;
        top: 215px;
        width: 500px;
        font-weight: normal;
        font-size: 20px;
        text-align: right;
      }
      .item1{
        top: 255px;
        left: 780px;
        width: 500px;
        text-align: right;
      }
    }
  }
}

//policy
.policy{
  .container_in{
    border-bottom: 1px solid #eaeaea;
  }
  .policy_custom{
    padding: 30px 10px 30px 46px;
    text-align: left;
    position: relative;
    margin-bottom: 20px;
    .policy-titile{
      color: #666;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 2px;
    }
    .policy-ct{
      line-height: 16px;
      margin-bottom: 0;
      color: #666;
    }
    .policy-icon{
      position: absolute;
      left: 0px;
      top:32px;
      .square(40px);
      text-align: center;
      overflow: hidden;
      .transition(all 0.3s ease);
      padding: 3px;
      background: #eaeaea;
      &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 0;
        left: 0;
        bottom: 0;
        background: @color1;
        .transition(all 0.3s ease);
        z-index: 2;
      }
      em{
        font-size: 156%;
        line-height: 34px;
        color: #666;
        display: block;
        position: relative;
        z-index: 3;
        text-align: center;
        height: 34px;
        width: 34px;
        padding-left: 5px;
        background: #fff;
        .transition(all 0.3s ease);
      }
    }
    &:hover{
      cursor: pointer;
      .policy-titile,
      .policy-ct{color: #000;}
      .policy-icon{
        &:before{
          height: 100%;
          .transition(all 0.3s ease);
        }
        em{color: @color1}
      }

    }
  }
}
.placeholder() {
  &::-webkit-input-placeholder{color: #666;}
  &:-moz-placeholder{color: #666;}
  &::-moz-placeholder{color: #666;}
  &:-ms-input-placeholder{color: #666;}
}
.placeholderfocus() {
  &::-webkit-input-placeholder{color: #292929;}
  &:-moz-placeholder{color: #292929;}
  &::-moz-placeholder{color: #292929;}
  &:-ms-input-placeholder{color: #292929;}
}

//top search
.block_topsearch{
  padding-top: 5px;
  .top-search{
    float: left;
    padding-left: 50px;
    .sns-searbox-content{
      border: 1px solid #eaeaea;
    }
  }
  .form-search{
    height: 36px;
    margin-bottom: 0;
    .bootstrap-select{
      width: 145px !important;
      position: absolute;
      height: 36px;
      top: 0px;
      left: 0px;
      color: #333;
      &:before{
        position: absolute;
        width: 1px;
        background: #eaeaea;
        height: 100%;
        right: 0;
        top: 0;
        content: "";
      }
      button.selectpicker{
        position: relative;
        background: none;
        top: inherit;
        right: inherit;
        padding-left: 10px;
        width: 145px;
        height: 37px;
        font-family: Arial !important;
        &:focus,
        &:active{
          border: none !important;
          border-radius: 0 !important;
          box-shadow: none !important;
        }
        .filter-option{
          text-transform: none;
          font-size: 12px;
          padding-top: 5px;
        }
        .caret{
          color: #666;
          right: 16px;
          top: 54%;
        }
        &:before{
          display: none;
        }
        &:focus{outline: 0 !important;box-shadow: none;}
      }
      &.open{
        .dropdown-toggle{
          box-shadow: none !important;
          outline: 0;
          &:focus{
            box-shadow: none !important;
          }
        }
      }
      div.dropdown-menu{
        border-radius: 0;
        padding: 0;
        margin: 0;
        box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
        min-width: 195px;
        left: -1px;
        ul{
          border-top: 3px solid #333;
          padding-top: 10px;
          li{
            a{
              color: #666;
            }
            &:last-child{
              margin-bottom: 10px;
            }
          }
        }
        .selected a{
          color: @color1;
          background: none;
        }
        li a{
          &:hover{
            color: @color1;
            background: none;
          }
        }
      }
    }
    input{
      height: 36px;
      padding-left: 155px;
      &:hover + button,
      &:focus + button{
        color: @color1;
      }
    }
    .button-search{
      height: 36px;
      width: 36px;
      text-align: center;
      font-size: 13px;
      color: #666;
      &:before{
        line-height: 36px;
      }
      &:hover{
        color: @color1;
      }
    }
  }
}
.sns-searchbox-popular{
  margin-top: 5px;
  .sns-searchbox-keyword{
    .note-msg{
      padding: 0;
      background: none;
      border: none;
      margin-bottom: 0;
    }
  }
  .sns-searchbox-popular-title{
    float: left;
    margin-right: 20px;
    text-transform: uppercase;
    padding-left: 5px ;
    line-height: 20px;
    background: #eaeaea;
    position: relative;
    font-size: 11px;
    &:before {
      .transition(all 0.2s linear);
      border-width: 10px 0 10px 10px;
      border-style: solid;
      border-color: transparent transparent transparent #eaeaea;
      content: '';
      display: block;
      position: absolute;
      top: 0%;
      left: 100%;
    }
  }
  .sns-searchbox-keyword-list{
    position: relative;
    overflow: hidden;
    padding-left: 0;
    margin-bottom: 0;
    li{
      list-style: none;
      display: inline-block;
      position: relative;
      a{
        color: #666;
        text-transform: capitalize;
        font-size: 11px;
        margin-right: 3px;
        position: relative;
        padding-right: 3px;
        &:before{
          position: absolute;
          content: ",";
          top: -3px;
          right: 0px;
        }
        &:hover{
          color: @color1;
        }
      }
      &:last-child a{
        &:before{
          display: none;
        }
      }
    }
  }
}
.top-cart{
  float: right;
  padding-top: 10px;
  .custom_link{
    ul{
      padding-left: 0;
      text-align: right;
      margin-bottom: 0;
      padding-bottom: 5px;
      border-bottom: 1px dotted #ccc;
      li{
        list-style: none;
        display: inline-block;
        text-align: right;
        margin-left: 12px;
        padding-left: 12px;
        position: relative;
        &:before{
          content: "";
          position: absolute;
          height: 12px;
          width: 1px;
          background: #ccc;
          top: 5px;
          left: 0;
        }
        &:first-child{
          padding-left: 0;
          margin-left: 0;
            &:before{display: none;}
        }
      }
    }
  }
}

.mycart{
  float: right;
  position: relative;
  height: 30px;
  &:hover {
    .tongle {
      cursor: pointer;
      .fa {
        &:before {
          //									background: @color2;
        }
        &:after {
          .opacity(1);
        }
      }
    }
    .content {
      display: block;
      .effect-block-show();
    }
  }
  .tongle {
    color: #666 !important;
    line-height: 30px;
    .title-cart{
    }
    span{
      font-size: 12px;
    }
    .total-itemprice{
      span{
        color: #333;
      }
    }
    .summary{
      .amount{
        span{color: #666}
      }
      .price{color: #333}
    }
    .fa {
      position: relative;
      color: #666 !important;
      margin-right: 6px;
      float: left;
      height: 50px;
      line-height: 30px;
      &:before {
        .transition(all 0.2s linear);
        display: block;
        //              line-height: 36px;
        text-align: center;
      }
      &:after {
        .transition(all 0.2s linear);
        //								.border-arrow-bottom (12px, 6px, @color2);
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 100%;
        margin-left: -6px;
        .opacity(0);
      }
    }
    .summary{
      display: inline-block;
      span a{
        color: #666;
      }
      .subtotal{
        span.price{
          color: #333;
        }
      }
    }
  }
  .content {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    min-width: 300px;
    background: #fff;
    z-index: 9999;
    padding: 20px 0px 15px 0px;
    border-top: 3px solid #333;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    .effect-block-hide();
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 15px;
      position: absolute;
      bottom: 100%;
      left: 0;
    }

    .empty{
      margin-bottom: 0;
      padding-left: 15px;
    }
    #cart-sidebar{
      border-bottom: 1px solid #eaeaea;
      padding: 0 20px;
      padding-bottom: 5px;
      li{
        list-style: none;
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 16px;
        border-top: none;
        &:first-child{margin-top: 0}
        .product-image{
          float: left;
          width: 70px;
          margin-right: 8px;
          padding-top: 3px;
        }
        .product-details{
          position: relative;
          .btn-edit{
            border: none;
            position: absolute;
            top: 5px;
            right: 0;
            &:before{
              content: "";
            }
          }
          .btn-remove{
            border: none;
            position: absolute;
            top: 25px;
            right: 0;
            &:before{
              content: "";
              font-size: 16px;
            }
          }
          .product-name{
            color: #333333;
            padding-right: 25px;
            margin-bottom: 3px;
          }
          .price{
            color: #333;
            font-size: 138%;
            font-family: Oswald,sans-serif !important;
          }
        }
      }
    }
    .cart-subtotal{
      text-align: right;
      margin-top: 15px;
      padding: 0 20px;
      color: #333;
      .price{
        color: #333;
        font-size: 138%;
      }
      .label{
        padding-right: 0;
        margin-right: 2px;
        font-size: 166.67%;
      }
    }
    .actions{
      text-align: right;
      margin-bottom: 5px;
      margin-top: 15px;
      border-top: 1px solid #eaeaea;
      padding-left: 20px;
      padding-right: 20px;
      button{
        display: inline-block;
        margin-top: 20px;
        height: 30px;
        text-transform: uppercase;
        font-weight: bold;
        .fa{
          margin-right: 5px;
        }
        &:hover{
          background: @color1;
        }
        &.go-to-cart{
          margin-right: 10px;
        }
      }
    }
    ul {
      .ulclear();
      li {
        padding: 4px 0;
        a:hover {
          //                                  color:@color2;
        }
      }
    }

  }
}
.dropdown-menu{font-size: 12px}

.slide-category{
  .block{
    .block-title{
      margin-bottom: 15px;
    }
  }

  .mini-products-list .item{
    padding-top: 0;
    .ratings{
      .rating-links *{
        display: inline-block !important;
      }
    }
    + .item{
      border-top: none;
      padding-top: 10px;
    }
    .item-img{
      padding-top: 5px;
      margin-right: 18px;
      position: relative;
      a{
        display: block;
        &:before{
          content: "";
          position: absolute;
          .square(50px);
          background: rgba(0,0,0,0.3);
          color: #fff;
          text-align: center;
          font-family: FontAwesome;
          line-height: 50px;
          left: 50%;
          top: 50%;
          margin-left: -25px;
          margin-top: -25px;
          border-radius: 100%;
          z-index: 1;
          .scale(0);
          .transition(all 0.3s linear);
        }

      }
    }
    .item-info{
      .rating-links{
        .rating-view{
          display: inline-block;
        }
      }
    }
    .item-price{
      .price{
        color: #333;
        font-size: 133%;
      }
      .old-price{display: inline-block;}
    }
    .item-title{margin-bottom: 3px}
    &:hover{
      .item-img{
        a{
          &:before{
            .scale(1);
          }
        }
      }
    }
  }
  .block{margin-bottom: 0}
  &.v2{
    margin-bottom: 0;
  }
}
.slider_fe{
  .item-img{
    padding-top: 5px;
    margin-right: 18px;
    position: relative;
    a{
      display: block;
      &:before{
        content: "";
        position: absolute;
        .square(50px);
        background: rgba(0,0,0,0.3);
        color: #fff;
        text-align: center;
        font-family: FontAwesome;
        line-height: 50px;
        left: 50%;
        top: 50%;
        margin-left: -25px;
        margin-top: -25px;
        border-radius: 100%;
        z-index: 1;
        .scale(0);
        .transition(all 0.3s linear);
      }
    }
  }
  .item{
  &:hover{
    .item-img{
      a{
        &:before{
          .scale(1);
        }
      }
    }
  }
  }
}
.blog-post-view,
.blog-index-list{
  #sns_left{padding-top: 20px}
}
.home_block{
  .module-ct{
    margin-bottom: 10px;
    .banner7{
      position: relative;
      overflow: hidden;
      display: block;
      img{
        .transition(all 0.2s linear);
        max-width: none;
      }
      &:hover{
        img{
          .scale(1.02);
        }
      }
    }
  }
  &.open{
    .module-ct a{
      opacity: 0.6;
      .transition(all 0.2s linear);
      &.active{
        opacity: 1;
        .transition(all 0.2s linear);
      }
    }
  }
}
.blog-testimonial{
  padding-top: 40px;
  padding-bottom: 20px;
  background: none repeat fixed center;
  .block-latestblog,
  .sns_testimonial{
    .block-title {
      color:#fff;
      margin-bottom: 15px;
    }
    .navslider a i{
      border-color: #666 !important;
      color: #666 !important;
      &:hover{
        border-color: @color1 !important;
        color: #fff !important;
      }
    }
  }
  .block-latestblog {
    margin-bottom: 20px;
    .list-blog {
      display: none;
    }
    .block-content {
      //		margin: 0 -15px;
      color: #fff;
      padding: 0;
      strong {
        color: #fff;
        font-weight: normal;
      }
      .post-img {
        float: left;
        width: 192px;
        height: 122px;
        margin-right: 20px;
        margin-top: 5px;
      }
      .post-title {
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        a {
          color: #fff;
          &:hover {
            color: @color1;
          }
        }
      }

      .item-content{
        margin-bottom: 25px;
        .item-post {
          position: relative;
          min-height: 92px;
          .post-img{
            position: relative;
            .fa{
              position: absolute;
              .square(30px);
              font-size: 16px;
              line-height: 30px;
              text-align: center;
              color: #fff;
              top: 50%;
              margin-top: -15px;
              margin-left: -15px;
              z-index: 9;
              background: rgba(0,0,0,0.3);
              border-radius: 50%;
              left: 50%;
              .transition(~"all 0.2s linear");
              .scale(0);
              &:hover{
                animation: 2s linear 0s normal none infinite running spinAround;
                background: @color1;
              }
            }
            &:hover{
              .date{
                .scale(0);
              }
              .fa{
                .scale(1);

              }
            }
          }
          .blog-content{
            padding-left: 0;
            .user{
              color: #666;
              .user-post{
                float: left;
                margin-right: 3px;
              }
              i{
                margin-right: 3px;
              }
              .comment{
                float: right;
              }
            }

          }
        }
        &:last-child{
          padding-bottom: 5px;
          margin-bottom: 0;
          border: none;
          .item-post {
            border-bottom: none;
            padding-bottom: 0;
          }
        }
      }
      .post-title {
        color: #fff;
        margin-bottom: 0px;
      }
      .post-content p{
        color: #fff;
        margin-bottom: 5px;
      }
    }
    .read-more {
      margin-top: 5px;
      font-weight: bold;
      &:hover{
        color:#fff;
        &:after{}
      }
    }

  }
}
.sns-slidercategory{
  padding-top: 45px;
  border-top: 1px solid #eaeaea;
  .container-slider{
    .products-grid{
      .block-title{
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        margin-top: 8px;
      }
    }
  }
}
#sns_slidercategory{
  margin-bottom: 30px;
}
.after_top_content{
  margin-bottom: 20px;
}



