/*--- category product ---*/
.category-products{
  .configurable-swatch-list {
    .ulclear();
    li {
      .inline-block();
    }
  }
}
.category-title {display:none;}
.category-image{
  margin-bottom: 30px;
}
/*--- products-grid ---*/
.products-grid{
  .item {
    padding: 14px 15px;
    .item-inner {
      .product-block-grid ();
    }

  }
}
/*--- product-list ---*/
.products-list{
  .ulclear();
  margin-bottom: 20px;
  > li.item {

    .clearfix();
    margin-top: 22px;

    .item-title {
      margin-bottom: 2px;
      padding-top: 6px;
      a {
        color:#666;
        &:hover{
          color: @color1;
        }
      }
    }
    .rating-block {
      margin-bottom: 15px;
    }
    .desc {
      margin-bottom: 18px;
      color:@text;
      margin-top: 15px;
      border-top: 1px solid #eaeaea;
      padding-top: 15px;
    }
    .col-left {
      position: relative;
      padding-right: 8px;
      .item-img {
        //				.product-block-list ();
        margin-top: 10px;
        position: relative;

        /*.transition(all 1.5s ease);*/
        overflow: hidden;
        .product-img-list ();
        &.have-additional{
          .imgeffect();
        }
        .product-image {
          display: block;
          text-align: center;
        }
        .quickview-wrap{
          a{
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
            border-radius: 100%;
            color: #fff;
            //					content: "";
            //					font-family: FontAwesome;
            height: 70px;
            left: 50%;
            line-height: 70px;
            margin-left: -35px;
            margin-top: -35px;
            position: absolute;
            text-align: center;
            top: 50%;
            .scale(0);
            transition: all 0.2s linear 0s;
            width: 70px;
            z-index: 1;
            &:before{
              content: "";
              font-family: FontAwesome;
              position: absolute;
              color: #fff;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              font-size: 20px;
            }
            &:hover{
              &:before{
                color: @color1;
              }
            }
          }
        }
        &:hover {
          .transition(all 0.3s ease);
          .quickview-wrap{
            a{
              .scale(1);
            }
          }
        }
      }


    }
    .col-right {
      padding-left: 10px;
      .item-price {
        margin-bottom: 3px;
        .price-box {.inline-block();}
        .ico-sale {
          .ico-product ();
          padding: 3px 2px !important;
        }
        .price-box{
          .price{
            font-size: 133.33%;
            color: #333;
          }
          .old-price{
            .price{
              font-size: 12px;
            }
          }
        }
        .old-price{
          .price{
            color: #666;
            font-weight: normal;
          }
        }
      }
      .actions {
        margin-top:16px;
        border-top: 1px solid #eaeaea;
        padding-top: 10px;
        .btn-cart {
          .inline-block();
          padding: 0px 15px 0px 22px;
          position: relative;
          font-size: 100%;
          border: none;
          border-radius: 0;
          color: #ccc;
          background: none;
          font-weight: bold;
          i {
            position: absolute;
            .square(32px);
            text-align: left;
            display: block;
            top: 0;
            left: 0;
            line-height: 28px;
            font-size: 16px;
          }
          &:hover {
            color: @color1;
          }
        }
        .add-to-list {
          .ulclear();
          .inline-block();
          li {.inline-block();}
        }
        .link-wishlist,
        .link-compare {
          display: block;
          text-align: center;
          .transition(all 0.3s ease);
          position: relative;
          color: #ccc;
          font-size: 100%;
          margin-left:8px;
          font-weight: bold;
          background: none;
          padding-left: 35px;
          &:before {
            position: absolute;
            .square(32px);
            text-align: center;
            display: block;
            top: 0;
            left: 0;
            font-size: 13px;
            padding-left: 15px;
          }
          &:after{
            position: absolute;
            width: 1px;
            height: 12px;
            background: #ccc;
            top: 9px;
            left: -4px;
            content: "";
          }
          &:hover {
            color: @color1;
          }
        }
        .link-wishlist {
          &:before {
            .font-awesome (f004, 30px);
            line-height: 30px;
          }
        }
        .link-compare {
          &:before {
            .font-awesome (f074, 30px);
            line-height: 32px;
          }
        }


      }
    }
  }
}
.catalog-product-compare-index {
  .add-to-list {padding:0px;}
  .product-name {margin: 10px 0;}
}
