<?php
/**
 * @var $this Mirasvit_MstCore_Block_Adminhtml_Toolbar
 */
?>
<?php if ($this->isToolbarAllowed()): ?>
    <?php $results = $this->getResults('dev'); ?>
    <div id="mst-toolbar" class="notification-global notification-global-notice">
        <span class="f-right">
            <a href="<?php echo $this->getUrl('adminhtml/mstcore_validator/index') ?>">Go to Mirasvit Extensions Validator</a>
        </span>
        <p><strong class="label">Mirasvit Extensions Validator</strong></p>
        <?php foreach ($results as $result): ?>
            <?php if ($result[0] != Mirasvit_MstCore_Helper_Validator_Abstract::SUCCESS): ?>
                    <p>
                        <strong><?php echo $result[1] ?>:&nbsp;</strong>
                        <?php if (is_array($result[2])): ?>
                            <?php foreach ($result[2] as $msg): ?>
                                <?php echo $msg ?>
                            <?php endforeach ?>
                        <?php else: ?>
                            <?php echo $result[2] ?>
                        <?php endif ?>
                    </p>
            <?php endif ?>
        <?php endforeach ?>
    </div>
<?php endif ?>