<!--@subject  مرحباً, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">{{htmlescape var=$customer.name}} عزيزي ,</h1>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">أهلاً بك في على مودك. لتسجيل الدخول عند تصفح موقعنا، اضغط على <a href="{{store url="customer/account/"}}" style="text-decoration: none;;color:#1E7EC8;">تسجيل الدخول</a> أو <a href="{{store url="customer/account/"}}" style="text-decoration: none;;color:#1E7EC8;">	في أعلى </a>
<a href="{{store url="customer/account/"}}" style="text-decoration: underline;;color:#1E7EC8;">حسابي </a> كل صفحة، و بعدها أدخل بريدك الإلكتروني و كلمة المرور.</p>
                            <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#f9f9f9;">
                                حين توجه إلى الدخول الرجاء إدخال الآتي:<br/>
                                <strong>البريد الإلكتروني</strong>: {{var customer.email}}<br/>
                                <strong>كلمة المرور</strong>: {{htmlescape var=$customer.password}}<p>
                            <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">عند الولوج الى حسابك يمكنك القيام بالتالي:</p>
                            <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; تسجيل الخروج السريع، </li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; التحقق من حالة الطلبات</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; الاطلاع عل طلباتك السابقة</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; تعديل معلومات حسابك الشخصي</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; تغيير كلمة المرور</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; حفط بريد الكتروني اضافي (في حالة الشحن لأفراد العائلة أو الأصدقاء!)</li>
                            </ul>
                       <p style="font-size:12px; line-height:16px; margin:0;">لمزيد من المعلومات حول حسابك  أو للاستفسار الرجاء التواصل معنا عبر الاتصال على  الهاتف رقم 0126638189 أو على البريد الإلكتروني <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;"> <strong>شكراً ، على مودك </strong></p></center></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>