{* This is a comment block

Use vars: {{var var_name}}
*}<!--@subject Payment Transaction Failed Reminder @-->
<!--@vars
{"var reason":"Transaction Failed Reason",
"var checkoutType":"Checkout Type",
"var customerEmail":"Customer Email",
"var customer":"Customer Name",
"var items":"Shopping Cart Items",
"var total":"Total",
"var billingAddress.format('html')":"Billing Address",
"var shippingAddress.format('html')":"Shipping Address",
"var shippingMethod":"Shipping Method",
"var paymentMethod":"Payment Method",
"var dateAndTime":"Date and Time of Transaction"}
@-->

<table>
    <thead>
        <tr>
            <th>عملية الدفع لم تنجح.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    <b>السبب</b><br />
                    {{var reason}}
                </p>
                <p>
                    <b>نوع الخروج</b><br />
                    {{var checkoutType}}
                </p>
                <p>
                    <b>العميل:</b><br />
                    <a href="mailto:{{var customerEmail}}">{{var customer}}</a> &lt;{{var customerEmail}}&gt;
                </p>
                <p>
                    <b>الطلبات</b><br />
                    {{var items}}
                </p>
                <p>
                    <b>المجموع:</b><br />
                    {{var total}}
                </p>
                <p>
                    <b>العنوان الذي ترسل اليه الفواتير:</b><br />
                    {{var billingAddress.format('html')}}
                </p>
                <p>
                    <b>العنوان الذي ترسل اليه الشحنة:</b><br />
                    {{var shippingAddress.format('html')}}
                </p>
                <p>
                    <b>طريقة الشحن:</b><br />
                    {{var shippingMethod}}
                </p>
                <p>
                    <b>طريقة الدفع:</b><br />
                    {{var paymentMethod}}
                </p>
                <p>
                    <b>التاريخ و الوقت:</b><br />
                    {{var dateAndTime}}
                </p>
            </td>
        </tr>
    </tbody>
</table>