<style>
    .slider_customcontrols {
        margin-top: <?php echo (5 + (Mage::getStoreConfig('colorpicker_section/custom_group/product_swatch_height') - 18) / 2); ?>px;
    }
</style>
<script type="text/javascript">
    function isTouchDevice() {
        var el = document.createElement('div');
        el.setAttribute('ontouchstart', 'return;'); // or try "ontouchstart"
        return typeof el.ontouchstart === "function";
    }
</script>
<?php
$option = $this->getOption();
$optionTypeArray = array("drop_down","radio","checkbox","multiple");
if(in_array ($option->getType(), $optionTypeArray)&&$option->getIsColorpicker()){?>
    <dt><label<?php if ($option->getIsRequire()) echo ' class="required"' ?>><?php if ($option->getIsRequire()) echo '<em>*</em>' ?><?php echo  $this->escapeHtml($option->getTitle());?></label><?php if(Mage::getStoreConfig('colorpicker_section/custom_group/multiselect_hint')&&($option->getType()=="multiple"||$option->getType()=="checkbox")){?></br><small><?php echo $this->__("You can choose a couple options")?></small><?php }?></dt>
    <dd id="dd<?php echo $option->getId();?>" class="cpcustom_holder <?php echo Mage::getStoreConfig('colorpicker_section/custom_group/product_swatch_shape');?>" style="padding:0; margin:0; border:0">
    <?php
    switch ($option->getType()) {
    case "drop_down":
    {?>
        <script type="text/javascript">

            document.observe("dom:loaded", function() {
                $("dd<?php echo $option->getId();?>").next("dt").hide();
                var show_input = <?php echo Mage::getStoreConfig('colorpicker_section/custom_group/product_show_default_input',Mage::app()->getStore())?>;
                formOption = $('select_<?php echo($option->getId());?>');
                if(!show_input){
                    formOption.setStyle({position: "absolute", left:0, visibility: "hidden"});
                }
                else{
                    formOption.onchange = function(){
                        $$(".custom-colorpicker_attribute_<?php echo($option->getId());?> li").each(
                            function(element){
                                element.removeClassName("active");
                            }
                        );
                        opConfig.reloadPrice()
                        $("customid"+this.value).addClassName("active");
                    }
                }
                $$("a.customCP.option<?php echo($option->getId());?>").each(
                    function(link){
                        rel = link.getAttribute("rel").split("_");
                        optionId = rel[0];
                        valueId = rel[1];
                        if($$("select#select_"+optionId+" "+"option[value='"+valueId+"']")[0].selected){
                            link.parentNode.addClassName("active");
                        }
                        link.onclick = function(){
                            temp = this.getAttribute("rel").split("_");
                            optionId = temp[0];
                            valueId = temp[1];
                            if(!$$("select#select_"+optionId+" "+"option[value='"+valueId+"']")[0].selected){
                                $$("select#select_"+optionId+" "+"option[value='"+valueId+"']")[0].selected = true;
                                $$("a.customCP.option<?php echo($option->getId());?>").each(
                                    function(element){
                                        element.parentNode.removeClassName("active");
                                    }
                                )
                                link.parentNode.addClassName("active");
                            }
                            else{
                                $$("select#select_"+optionId+" "+"option[value='"+valueId+"']")[0].selected = false;
                                link.parentNode.removeClassName("active");
                            }
                            opConfig.reloadPrice()
                        }
                    }
                );
            });
        </script>
    <?php break;}

    case "radio":
    {?>
        <script type="text/javascript">
            document.observe("dom:loaded", function() {
                $("dd<?php echo $option->getId();?>").next("dt").hide();
                var show_input = <?php echo Mage::getStoreConfig('colorpicker_section/custom_group/product_show_default_input',Mage::app()->getStore())?>;
                $("dd<?php echo $option->getId();?>").next("dt").hide();
                formOptions = $$('input[name="options[<?php echo($option->getId());?>]"]');
                if(!show_input){
                    $("options-<?php echo $option->getId();?>-list").setStyle({position: "absolute", visibility: "hidden"});
                    formOptions.each(
                        function(option){
                            if (option.checked && option.value != ""){
                                $("customid"+option.value).addClassName("active");
                            }
                        }

                    );
                    /*formOptions.each(
                     function(option){
                     option.parentNode.setStyle({position: "absolute", visibility: "hidden"});
                     }
                     );*/
                }
                else{
                    formOptions.each(
                        function(option){
                            if (option.checked && option.value != ""){
                                $("customid"+option.value).addClassName("active");
                            }
                            option.onchange = function(){
                                $$(".custom-colorpicker_attribute_<?php echo($option->getId());?> li").each(
                                    function(element){
                                        element.removeClassName("active");
                                    }
                                );
                                opConfig.reloadPrice();
                                if(this.value != ""){
                                    $("customid"+this.value).addClassName("active");
                                }
                            }
                        }

                    );

                }
                $$("a.customCP.option<?php echo($option->getId());?>").each(
                    function(link){
                        link.onclick = function(){
                            temp = this.getAttribute("rel").split("_");
                            optionId = temp[0];
                            valueId = temp[1];
                            if(!$$("#options-"+optionId+"-list "+"input[value='"+valueId+"']")[0].checked){
                                $$("#options-"+optionId+"-list "+"input[value='"+valueId+"']")[0].checked = true;
                                $$("a.customCP.option<?php echo($option->getId());?>").each(
                                    function(element){
                                        element.parentNode.removeClassName("active");
                                    }
                                );
                                link.parentNode.addClassName("active");
                            }
                            else{
                                $$("#options-"+optionId+"-list "+"input[value='"+valueId+"']")[0].checked = false;
                                link.parentNode.removeClassName("active");
                            }
                            opConfig.reloadPrice()
                        }
                    }
                );
            });
        </script>
    <?php break;}

    case "checkbox":
    {?>
        <script type="text/javascript">

            document.observe("dom:loaded", function() {
                $("dd<?php echo $option->getId();?>").next("dt").hide();
                var show_input = <?php echo Mage::getStoreConfig('colorpicker_section/custom_group/product_show_default_input',Mage::app()->getStore())?>;
                formOptions = $$('input[name="options[<?php echo($option->getId());?>][]"]');
                if(!show_input){
                    $("options-<?php echo $option->getId();?>-list").setStyle({position: "absolute", visibility: "hidden"});
                    formOptions.each(
                        function(option){
                            if (option.checked){
                                $("customid"+option.value).addClassName("active");
                            }
                        }

                    );
                    /* formOptions.each(
                     function(option){
                     option.parentNode.setStyle({position: "absolute", visibility: "hidden"});
                     }
                     );*/
                }
                else{
                    formOptions.each(
                        function(option){
                            if (option.checked){
                                $("customid"+option.value).addClassName("active");
                            }
                            option.onchange = function(){
                                if (this.checked){
                                    $("customid"+this.value).addClassName("active");
                                }
                                else{
                                    $("customid"+this.value).removeClassName("active");
                                }
                                opConfig.reloadPrice();
                            }

                        }

                    );
                }
                $$("a.customCP.option<?php echo($option->getId());?>").each(
                    function(link){
                        link.onclick = function(){
                            temp = this.getAttribute("rel").split("_");
                            optionId = temp[0];
                            valueId = temp[1];
                            if(!$$("#options-"+optionId+"-list "+"input[value='"+valueId+"']")[0].checked){
                                $$("#options-"+optionId+"-list "+"input[value='"+valueId+"']")[0].checked = true;
                                link.parentNode.addClassName("active");
                            }
                            else{
                                $$("#options-"+optionId+"-list "+"input[value='"+valueId+"']")[0].checked = false;
                                link.parentNode.removeClassName("active");
                            }
                            opConfig.reloadPrice()
                        }
                    }

                );
            });
        </script>
    <?php break;}

    case "multiple":
    {?>
        <script type="text/javascript">

            document.observe("dom:loaded", function() {
                $("dd<?php echo $option->getId();?>").next("dt").hide();
                var show_input = <?php echo Mage::getStoreConfig('colorpicker_section/custom_group/product_show_default_input',Mage::app()->getStore())?>;
                formOption = $('select_<?php echo($option->getId());?>');
                if(!show_input){
                    formOption.setStyle({position: "absolute", left:0, visibility: "hidden"});
                }
                else{
                    formOption.onchange = function(){
                        $$(".custom-colorpicker_attribute_<?php echo($option->getId());?> li").each(
                            function(element){
                                element.removeClassName("active");
                            }
                        );
                        this.getValue().each(
                            function(e){
                                $("customid"+e).addClassName("active");

                            }
                        );
                        opConfig.reloadPrice()
                    }
                }
                $$("a.customCP.option<?php echo($option->getId());?>").each(
                    function(link){
                        rel = link.getAttribute("rel").split("_");
                        optionId = rel[0];
                        valueId = rel[1];
                        if($$("select#select_"+optionId+" "+"option[value='"+valueId+"']")[0].selected){
                            link.parentNode.addClassName("active");
                        }
                        link.onclick = function(){
                            temp = this.getAttribute("rel").split("_");
                            optionId = temp[0];
                            valueId = temp[1];
                            if(!$$("select#select_"+optionId+" "+"option[value='"+valueId+"']")[0].selected){
                                $$("select#select_"+optionId+" "+"option[value='"+valueId+"']")[0].selected = true;
                                link.parentNode.addClassName("active");
                            }
                            else{
                                $$("select#select_"+optionId+" "+"option[value='"+valueId+"']")[0].selected = false;
                                link.parentNode.removeClassName("active");
                            }
                            opConfig.reloadPrice()
                        }
                    }

                );
            });
        </script>
        <?php break;}

    }
    ?>
    <?php if(Mage::getStoreConfig('colorpicker_section/custom_group/product_show_slider')&&(count($option->getValues())>Mage::getStoreConfig('colorpicker_section/custom_group/product_options_per_page'))){?>
        <div id="customcontrols<?php echo($option->getId())?>" class="slider_customcontrols">

            <a class="carousel-control" rel="next" href="javascript:">»</a>
            <a class="carousel-control" rel="prev" href="javascript:">«</a>

        </div>
        <div class="custom-carousel-wrapper" id="custom-carousel-wrapper<?php echo($option->getId())?>">
            <div class="custom-carousel-content" id="custom-carousel-content<?php echo($option->getId())?>">

                <?php
                $iterator = 1;
                $count = 0;
                foreach($option->getValues() as $value){
                    $count++;
                    $priceStr = $this->_formatPrice(array(
                        'is_percent'    => ($value->getPriceType() == 'percent'),
                        'pricing_value' => $value->getPrice(($value->getPriceType() == 'percent'))
                    ), false);
                    $title = preg_replace('/"/', "&quot;", trim($value->getTitle() . ' ' . $priceStr . ''));
                    if($iterator==1){?>
                        <div class="slide" style="width: 278px;">
                        <ul class="custom-colorpicker_attribute_<?php echo($option->getId())?> custom-attribute-list">
                    <?php }

                    ?>
                    <li id="customid<?php echo($value->getId())?>" onclick="">
                        <a rel="<?php echo($option->getId()."_".$value->getId());?>" class="customCP option<?php echo($option->getId());?>" onclick="" href="javascript:void(0);">
                            <div style="width:<?php echo Mage::getStoreConfig('colorpicker_section/custom_group/product_swatch_width');?>px; height:<?php echo Mage::getStoreConfig('colorpicker_section/custom_group/product_swatch_height');?>px; background-color: #<?php echo $value->getColor();?>">
                                <?php if($value->getImage()){?><img alt="<?php echo $title?>" style="width:<?php echo Mage::getStoreConfig('colorpicker_section/custom_group/product_swatch_width');?>px; height:<?php echo Mage::getStoreConfig('colorpicker_section/custom_group/product_swatch_height');?>px;" src="<?php echo($value->getImage()?Mage::helper('orange35_colorpickercustom/image')->getSwatchImageUrl($value->getImage()):"");?>"><?php }?>
                            </div>
                        </a>
                    </li>
                    <?php if(Mage::getStoreConfig('colorpicker_section/custom_group/product_show_tooltip')){?>
                        <script type="text/javascript">
                            document.observe("dom:loaded", function() {
                                if ($("custom-tooltip<?php echo $value->getId();?>") == undefined) {
                                    <?php if (!$value->getImage()) {?>
                                    background_color = " background-color: #<?php echo $value->getColor()?>";
                                    <?php } else {?>
                                    background_color = '';
                                    <?php }?>
                                    var on_click = '$("custom-tooltip<?php echo $value->getId();?>").hide()';
                                    var close_tip = "<a class='close-custom-tooltip' href='javascript:void(0)' onclick='"+on_click+"'>x</a>";
                                    $$('body')[0].insert("<div style='width:<?php echo Mage::getStoreConfig('colorpicker_section/custom_group/product_tooltip_width');?>px;' id='custom-tooltip<?php echo($value->getId());?>' class='colorPickerTooltip'>"+close_tip+"<?php echo($title);?><div style='width:<?php echo Mage::getStoreConfig('colorpicker_section/custom_group/product_tooltip_width');?>px; height:<?php echo Mage::getStoreConfig('colorpicker_section/custom_group/product_tooltip_height');?>px;" + background_color + "'><?php if($value->getImage()){?><img alt='<?php echo $title?>' src='<?php echo($value->getImage()?Mage::helper('orange35_colorpickercustom/image')->getPopupSwatchImageUrl($value->getImage()):"");?>'/><?php }?></div></div>");
                                    $("custom-tooltip<?php echo $value->getId();?>").observe('click', function() {
                                        $("custom-tooltip<?php echo $value->getId();?>").hide();
                                    });
                                    if(!isTouchDevice()){
                                        new Tooltip('customid<?php echo $value->getId();?>', 'custom-tooltip<?php echo $value->getId();?>');
                                    }else{
                                        $("custom-tooltip<?php echo $value->getId();?>").hide();
                                    }
                                }
                            });
                        </script>
                    <?php }?>
                    <?php if(Mage::getStoreConfig('colorpicker_section/custom_group/product_options_per_page')<=$iterator||$count>=count($option->getValues())){
                        $iterator=1;?>
                        </ul>
                        </div>
                    <?php }
                    else{
                        $iterator++;
                    }?>
                <?php }?>
            </div>
        </div>
        <script type="text/javascript">
            if(typeof custom_options_slider == "undefined"){
                var custom_options_slider = [];
            }
            custom_options_slider[<?php echo($option->getId())?>] = new Carousel('custom-carousel-wrapper<?php echo($option->getId())?>', $$('#custom-carousel-content<?php echo($option->getId())?> .slide'), $$('#customcontrols<?php echo($option->getId())?> a.carousel-control'), {
                circular: false,
                auto: false,
                wheel:false,
                effect: scroll,
                frequency: 2,
                duration: 0.5
            });
            custom_options_slider[<?php echo($option->getId())?>].first();
            $('custom-carousel-wrapper<?php echo($option->getId())?>').parentNode.setStyle({
                position: 'relative'
            });
            wrapperWidth = $('custom-carousel-wrapper<?php echo($option->getId())?>').getWidth();
            $('custom-carousel-wrapper<?php echo($option->getId())?>').setStyle({
                width: wrapperWidth-50+'px',
                margin: "0 auto"
            });
            globalWidth = 0;
            $$("#custom-carousel-wrapper<?php echo($option->getId())?> #custom-carousel-content<?php echo($option->getId())?> .slide").each(function(e){
                e.setStyle({width: wrapperWidth-50+"px"});
                globalWidth += wrapperWidth-50;
            });
            $("custom-carousel-content<?php echo($option->getId())?>").setStyle({
                width: globalWidth+"px"
            });
            wrapperHeight = $("custom-carousel-wrapper<?php echo($option->getId())?>").getHeight();
            $("customcontrols<?php echo($option->getId())?>").setStyle({
                marginTop: (wrapperHeight / 2)-9 + "px"
            });
            function onPageResizeCustom(){
                $('custom-carousel-wrapper<?php echo($option->getId())?>').parentNode.setStyle({
                    position: 'relative'
                });
                $('custom-carousel-wrapper<?php echo($option->getId())?>').setStyle({
                    width: 'auto'
                });
                var wrapperWidth = $('custom-carousel-wrapper<?php echo($option->getId())?>').getWidth();
                $('custom-carousel-wrapper<?php echo($option->getId())?>').setStyle({
                    width: wrapperWidth-50+'px',
                    margin: "0 auto"
                });
                globalWidth = 0;
                $$("#custom-carousel-wrapper<?php echo($option->getId())?> #custom-carousel-content<?php echo($option->getId())?> .slide").each(function(e){
                    e.setStyle({width: wrapperWidth-50+"px"});
                    globalWidth += wrapperWidth-50;
                });
                $("custom-carousel-content<?php echo($option->getId())?>").setStyle({
                    width: globalWidth+"px"
                });
                wrapperHeight = $("custom-carousel-wrapper<?php echo($option->getId())?>").getHeight();
                $("customcontrols<?php echo($option->getId())?>").setStyle({
                    marginTop: (wrapperHeight / 2)-9 + "px"
                });
                sliderInstance.each(
                    function(slider){
                        if(slider.current){
                            var tempDuration = slider.options.duration;
                            slider.options.duration = 0;
                            slider.moveTo(slider.current);
                            slider.options.duration = tempDuration;
                        }
                    }
                );
            }
            Event.observe(window, "resize", onPageResizeCustom, sliderInstance = custom_options_slider);
        </script>
    <?php
    }
    else{
        ?>
        <ul class="custom-colorpicker_attribute_<?php echo $option->getId() ?> required-entry custom-attribute-list">
            <?php
            foreach($option->getValues() as $value){
                $priceStr = $this->_formatPrice(array(
                    'is_percent'    => ($value->getPriceType() == 'percent'),
                    'pricing_value' => $value->getPrice(($value->getPriceType() == 'percent'))
                ), false);
                $title = preg_replace('/"/', "&quot;", trim($value->getTitle() . ' ' . $priceStr . ''));
                ?>
                <li id="customid<?php echo($value->getId())?>" onclick="">
                    <a rel="<?php echo($option->getId()."_".$value->getId());?>" class="customCP option<?php echo($option->getId());?>" onclick="" href="javascript:void(0);">
                        <div style="width:<?php echo Mage::getStoreConfig('colorpicker_section/custom_group/product_swatch_width');?>px; height:<?php echo Mage::getStoreConfig('colorpicker_section/custom_group/product_swatch_height');?>px; background-color: #<?php echo $value->getColor();?>">
                            <?php if($value->getImage()){?><img alt="<?php echo $title?>" style="width:<?php echo Mage::getStoreConfig('colorpicker_section/custom_group/product_swatch_width');?>px; height:<?php echo Mage::getStoreConfig('colorpicker_section/custom_group/product_swatch_height');?>px;" src="<?php echo($value->getImage()?Mage::helper('orange35_colorpickercustom/image')->getSwatchImageUrl($value->getImage()):"");?>"><?php }?>
                        </div>
                    </a>
                </li>
            <?php if(Mage::getStoreConfig('colorpicker_section/custom_group/product_show_tooltip')){?>
                <script type="text/javascript">
                    document.observe("dom:loaded", function() {
                        if ($("custom-tooltip<?php echo $value->getId();?>") == undefined) {
                            <?php if (!$value->getImage()) {?>
                            background_color = " background-color: #<?php echo $value->getColor()?>";
                            <?php } else {?>
                            background_color = '';
                            <?php }?>
                            var on_click = '$("custom-tooltip<?php echo $value->getId();?>").hide()';
                            var close_tip = "<a class='close-custom-tooltip' href='javascript:void(0)' onclick='"+on_click+"'>x</a>";
                            $$('body')[0].insert("<div style='width:<?php echo Mage::getStoreConfig('colorpicker_section/custom_group/product_tooltip_width');?>px;' id='custom-tooltip<?php echo($value->getId());?>' class='colorPickerTooltip'>"+close_tip+"<?php echo($title);?><div style='width:<?php echo Mage::getStoreConfig('colorpicker_section/custom_group/product_tooltip_width');?>px; height:<?php echo Mage::getStoreConfig('colorpicker_section/custom_group/product_tooltip_height');?>px;" + background_color + "'><?php if($value->getImage()){?><img alt='<?php echo $title?>' src='<?php echo($value->getImage()?Mage::helper('orange35_colorpickercustom/image')->getPopupSwatchImageUrl($value->getImage()):"");?>'/><?php }?></div></div>");
                            $("custom-tooltip<?php echo $value->getId();?>").observe('click', function() {
                                $("custom-tooltip<?php echo $value->getId();?>").hide();
                            });
                            if(!isTouchDevice()){
                                new Tooltip('customid<?php echo $value->getId();?>', 'custom-tooltip<?php echo $value->getId();?>');
                            }
                            else{
                                $("custom-tooltip<?php echo $value->getId();?>").hide();
                            }
                        }
                    });
                </script>
            <?php }?>
            <?php }?>
        </ul>
    <?php
    } ?>
    <div style="clear:both;"></div>
    </dd>

<?php
}
echo $this->getChildHtml('child');