<div class="page-title">
    <h1><?php echo $this->__('Your Report'); ?></h1>
</div>
<?php echo $this->getChildHtml('celebrity_dashboard'); ?>
<form enctype="multipart/form-data" class="scaffold-form" id="form-validate" autocomplete="off" method="post" action="<?php echo $this->getUrl('celebrity'); ?> ">
    <div class="fieldset">
        <input type="hidden" value="BpA2cwFCdyUEqdjH" name="form_key">
        <h2 class="legend"><?php echo $this->__('Report Generation'); ?></h2>
        <p class="required"><?php echo $this->__('* Required Fields'); ?></p>
        <ul class="form-list">
            <li class="fields">               
			    <div class="field">
			        <label class="required" for="from"><em>*</em><?php echo $this->__('From Date'); ?></label>
			        <div class="input-box">
			            <input type="text" class="input-text required-entry" title="<?php echo $this->__('From Date'); ?>" value="<?php echo $this->getFormData('from'); ?>" name="from" id="from">
			            <img title="Select date" id="from_trig" src="<?php echo $this->getSkinUrl('images/calendar.gif');?>" class="v-middle">
			            <script type="text/javascript">
						//<![CDATA[
							Calendar.setup({
							inputField : 'from',
							ifFormat : '%m/%e/%Y',
							button : 'from_trig',
							align : 'Bl',
							singleClick : true
							});
						//]]>
						</script>
			        </div>
			    </div>
			    <div class="field">
			        <label class="required" for="to"><em>*</em><?php echo $this->__('To Date'); ?></label>
			        <div class="input-box">
			            <input type="text" class="input-text required-entry" title="<?php echo $this->__('To Date'); ?>" value="<?php echo $this->getFormData('to'); ?>" name="to" id="to">
			            <img title="Select date" id="to_trig" src="<?php echo $this->getSkinUrl('images/calendar.gif');?>" class="v-middle">
			            <script type="text/javascript">
						//<![CDATA[
							Calendar.setup({
							inputField : 'to',
							ifFormat : '%m/%e/%Y',
							button : 'to_trig',
							align : 'Bl',
							singleClick : true
							});
						//]]>
						</script>
			        </div>
			    </div>				
            </li>            
        </ul>
    </div>
    
    <div class="buttons-set">
        <button class="button" title="<?php echo $this->__('Show'); ?>" type="submit"><span><span><?php echo $this->__('Show'); ?></span></span></button>
    </div>
</form>
<script type="text/javascript">
	//<![CDATA[
	    var dataForm = new VarienForm('form-validate', true);
	//]]>
</script>

<?php  if($this->getRequest()->getPost()  || Mage::getSingleton('core/session')->getCelebrity()){ ?>
	<?php echo $this->getChildHtml('celebrity_report'); ?>
<?php } ?>