<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $collection = $this->getCollection(); ?>
<div class="page-title">
    <h1><?php //echo $this->__('My Collection') ?></h1>
</div>
<?php echo $this->getPagerHtml(); ?>
<?php if($collection->getSize()): ?>
<table class="data-table" id="my-custom-table">
    <col width="1" />
    <col width="1" />
    <col />
    <col width="1" />
    <col width="1" />
    <col width="1" />   
    <col width="1" />
   
    <thead>
        <tr>
            <th><?php echo $this->__('Order #') ?></th>
            <th><?php echo $this->__('Date Ordered') ?></th>
            <th><span class="nobr"><?php echo $this->__('Product Name') ?></span></th>
            <th><?php echo $this->__('SKU') ?></th>
            <th><?php echo $this->__('Status') ?></th>
            <th><?php echo $this->__('Sold Qty') ?></th>
            <th><?php echo $this->__('Commission') ?></th>
            <th><?php echo $this->__('Sales Value') ?></th>
            <th><?php echo $this->__('Commission Value') ?></th> 
        </tr>
    </thead>
    <tbody>
        <?php $_odd = ''; ?>
        <?php foreach ($collection as $item): ?>
        <tr>
        <?php //echo "<pre>";
            //print_r($item->getData());?>
            <td><?php echo Mage::getModel('sales/order')->load($item->getOrderId())->getIncrementId(); ?></td>
           <!--  <td><?php echo $item->getOrderId()?></td> -->
            <td><?php echo $this->formatDate($item->getCreatedAt()) ?></td>
            <td><span class="nobr"><?php echo $item->getName() ?></span></td>
            <td><?php echo $item->getSku(); ?></td>
            <td><?php
                if($item->getOrder()->getStatus() == 'pending' || $item->getOrder()->getStatus() == 'processing'){
                    echo 'received';
                }
                else {
                    echo $item->getOrder()->getStatus();
                     }
                ?>
            </td>
            <td class="a-center"><?php echo round($item->getQtyOrdered()); ?></td>
            <td class="a-center"><?php if($item->getCommisionPercent()){ echo sprintf('%s%%', $item->getCommisionPercent() + 0); }else{ echo '0%'; } ?></td>
            <td class="a-right"><?php echo $item->getOrder()->formatPrice($item->getPrice()); ?></td>
            <td class="a-right"><?php echo $item->getOrder()->formatPrice($item->getCommisionAmount()); ?></td>
        </tr>
        <?php endforeach; ?>
        
    </tbody>
</table>
<script type="text/javascript">decorateTable('my-custom-table');</script>
<?php echo $this->getPagerHtml(); ?>
<?php else: ?>
    <p><?php echo $this->__('The collection is empty.'); ?></p>
<?php endif ?>
