<!--@subject Email - Header @-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body>
{{var non_inline_styles}}
<!-- Begin wrapper table -->
<table width="600px" style="margin:10px auto 4px;padding:10px;">
    <tr style="text-align:center;">
        <td width="5%" style="padding:10px; border:1px solid;"></td>
        <td width="30%" style="padding:10px; border:1px solid;vertical-align:middle;">100% GENUINE BRANDS</td>
        <td width="30%" style="padding:10px; border:1px solid;"></td>
        <td width="30%" style="padding:10px; border:1px solid; text-transform:uppercase;">{{var payment_html}}</td>
        <td width="5%" style="padding:10px; border:1px solid;"></td>
    </tr>
</table>
<table width="600px" cellpadding="0" cellspacing="0" border="0" id="background-table">
    <tr>
        <td valign="top" class="container-td" align="center">
            <table cellpadding="0" cellspacing="0" border="0" align="center" class="container-table">
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" border="0" class="logo-container">
                            <tr>
                                <td class="logo">
                                    <a href="{{store url=""}}">
                                        <img
                                            {{if logo_width}}
                                            width="{{var logo_width}}"
                                            {{else}}
                                            width="165"
                                            {{/if}}

                                            {{if logo_height}}
                                            height="{{var logo_height}}"
                                            {{else}}
                                            height="48"
                                            {{/if}}

                                            src="{{var logo_url}}"
                                            alt="{{var logo_alt}}"
                                            border="0"/>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <table style="width:100%;">
                                    <tr style="text-align:center;">
                                        <td style="width:12%;background-color:#000;color:#fff;padding:10px;margin:10px auto;">MAKEUP</td>
                                        <td style="width:13%;background-color:#000;color:#fff;padding:10px;margin:10px auto;">SKINCARE</td>
                                        <td style="width:16%;background-color:#000;color:#fff;padding:10px;margin:10px auto;">FRAGRANCES</td>
                                        <td style="width:11%;background-color:#000;color:#fff;padding:10px;margin:10px auto;">BRANDS</td>
                                        <td style="width:16%;background-color:#000;color:#fff;padding:10px;margin:10px auto;">CELEBRITIES</td>
                                        <td style="width:16%;background-color:#000;color:#fff;padding:10px;margin:10px auto;">ACCESSORIES</td>
                                    </tr>
                                </table>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="top-content">
                    <!-- Begin Content -->
