<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Ajaxlogin
 * @version    1.1.5
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><ul class="messages Shaddy" style="display: none;"></ul>

<div class="buttons-set">
    <p class="required"><?php echo $this->__('* Required Fields') ?></p>
    <?php if ( $this->shouldDisplayBacktologinbutton() ): ?>
        <p class="back-link"><a href="<?php echo $this->helper('customer')->getLoginUrl() ?>" id="<?php echo $this->getBacktologinbuttonHtmlId() ?>"><small>&laquo; </small><?php echo $this->__('Back to Login') ?></a></p>
    <?php endif; ?>
    <button type="submit" class="button" title="<?php echo $this->__('Submit') ?>"><span><span><?php echo $this->__('Submit') ?></span></span></button>
</div>

<script type="text/javascript">
    Event.observe(
        window,
        'load',
        function() {
            $('<?php echo $this->getBacktologinbuttonHtmlId() ?>').observe(
                'click',
                function(event) {
                    AjaxLogin.Authorization.__getInstanceByChildnode(this).switchToFrame('login');
                    if (window.event) window.event.cancelBubble = true;
                    if (window.event) window.event.returnValue = false;
                    event.preventDefault();
                    event.stopPropagation();
                    return false;
                }
            );
        }
    );
</script>