.sns-slideshow {
	position: relative;
	margin: 0 auto;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
.sns-slideshow .loading {
	position: absolute; 
	top: 0px; 
	left: 0px;
	width: 100%;
	height: 100%;
	display: block; z-index: 1;
}
.sns-slideshow .loading .bg-loading {
	position: absolute; 
	display: block;
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%;
    background: #fff;
}
.sns-slideshow .loading .icon-loading {
	position: absolute; 
	display: block; 
	background: url('../img/loading.gif') no-repeat center center;
	top: 0px; 
	left: 0px; 
	width: 100%; 
	height: 100%;
}
.sns-slideshow [u="slides"] {
	cursor: move; 
	position: absolute; 
	left: 0px; 
	top: 0px; 
    overflow: hidden;
}
.sns-slideshow [u="navigator"] {
	position: absolute; bottom: 10px; left: 6px;
}
.sns-slideshow [u="navigator"] [u="prototype"] {
	position: absolute; width: 17px; height: 17px; text-align:center; line-height:17px; color:White; font-size:12px;
}
.sns-slideshow [u="arrowleft"] {
	width: 55px; height: 55px; top: 123px; left: 8px;
}
.sns-slideshow [u="arrowright"] {
	width: 55px; height: 55px; top: 123px; right: 8px
}






/** ******************************* */
.jssora01l, .jssora01r, .jssora01ldn, .jssora01rdn {
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../img/a01.png) no-repeat;
    overflow:hidden;
}
.jssora01l { background-position: -8px -38px; }
.jssora01r { background-position: -68px -38px; }
.jssora01l:hover { background-position: -128px -38px; }
.jssora01r:hover { background-position: -188px -38px; }
.jssora01ldn { background-position: -8px -38px; }
.jssora01rdn { background-position: -68px -38px; }
.jssora02l, .jssora02r, .jssora02ldn, .jssora02rdn {
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../img/a02.png) no-repeat;
    overflow:hidden;
}
.jssora02l { background-position: -3px -33px; }
.jssora02r { background-position: -63px -33px; }
.jssora02l:hover { background-position: -123px -33px; }
.jssora02r:hover { background-position: -183px -33px; }
.jssora02ldn { background-position: -3px -33px; }
.jssora02rdn { background-position: -63px -33px; }
.jssora03l, .jssora03r, .jssora03ldn, .jssora03rdn {
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../img/a03.png) no-repeat;
    overflow:hidden;
}
.jssora03l { background-position: -3px -33px; }
.jssora03r { background-position: -63px -33px; }
.jssora03l:hover { background-position: -123px -33px; }
.jssora03r:hover { background-position: -183px -33px; }
.jssora03ldn { background-position: -243px -33px; }
.jssora03rdn { background-position: -303px -33px; }
.jssora04l, .jssora04r, .jssora04ldn, .jssora04rdn {
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../img/a04.png) no-repeat;
    overflow:hidden;
}
.jssora04l { background-position: -16px -39px; }
.jssora04r { background-position: -76px -39px; }
.jssora04l:hover { background-position: -136px -39px; }
.jssora04r:hover { background-position: -196px -39px; }
.jssora04ldn { background-position: -256px -39px; }
.jssora04rdn { background-position: -316px -39px; }
.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn {
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../img/a17.png) no-repeat;
    overflow:hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05ldn { background-position: -250px -40px; }
.jssora05rdn { background-position: -310px -40px; }
.jssora06l, .jssora06r, .jssora06ldn, .jssora06rdn {
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../img/a06.png) no-repeat;
    overflow:hidden;
}
.jssora06l { background-position: -8px -38px; }
.jssora06r { background-position: -68px -38px; }
.jssora06l:hover { background-position: -128px -38px; }
.jssora06r:hover { background-position: -188px -38px; }
.jssora06ldn { background-position: -248px -38px; }
.jssora06rdn { background-position: -308px -38px; }
.jssora07l, .jssora07r, .jssora07ldn, .jssora07rdn {
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../img/a07.png) no-repeat;
    overflow:hidden;
}
.jssora07l { background-position: -5px -35px; }
.jssora07r { background-position: -65px -35px; }
.jssora07l:hover { background-position: -125px -35px; }
.jssora07r:hover { background-position: -185px -35px; }
.jssora07ldn { background-position: -245px -35px; }
.jssora07rdn { background-position: -305px -35px; }
.jssorb08l, .jssorb08r, .jssorb08ldn, .jssorb08rdn {
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../img/a08.png) no-repeat;
    overflow:hidden;
    opacity: .4; filter:alpha(opacity=40);
}
.jssorb08l { background-position: -5px -35px; }
.jssorb08r { background-position: -65px -35px; }
.jssorb08l:hover { background-position: -5px -35px; opacity: .8; filter:alpha(opacity=80); }
.jssorb08r:hover { background-position: -65px -35px; opacity: .8; filter:alpha(opacity=80); }
.jssorb08ldn { background-position: -5px -35px; opacity: .3; filter:alpha(opacity=30); }
.jssorb08rdn { background-position: -65px -35px; opacity: .3; filter:alpha(opacity=30); }
.jssora09l, .jssora09r, .jssora09ldn, .jssora09rdn {
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../img/a09.png) no-repeat;
    overflow:hidden;
    opacity: .4; filter:alpha(opacity=40);
}
.jssora09l { background-position: -5px -35px; }
.jssora09r { background-position: -65px -35px; }
.jssora09l:hover { background-position: -5px -35px; opacity: .8; filter:alpha(opacity=80); }
.jssora09r:hover { background-position: -65px -35px; opacity: .8; filter:alpha(opacity=80); }
.jssora09ldn { background-position: -5px -35px; opacity: .3; filter:alpha(opacity=30); }
.jssora09rdn { background-position: -65px -35px; opacity: .3; filter:alpha(opacity=30); }
.jssora10l, .jssora10r, .jssora10ldn, .jssora10rdn {
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../img/a10.png) no-repeat;
    overflow:hidden;
}
.jssora10l { background-position: -16px -39px; }
.jssora10r { background-position: -76px -39px; }
.jssora10l:hover { background-position: -136px -39px; }
.jssora10r:hover { background-position: -196px -39px; }
.jssora10ldn { background-position: -256px -39px; }
.jssora10rdn { background-position: -316px -39px; }
.jssora11l, .jssora11r, .jssora11ldn, .jssora11rdn {
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../img/a11.png) no-repeat;
    overflow:hidden;
}
.jssora11l { background-position: -11px -41px; }
.jssora11r { background-position: -71px -41px; }
.jssora11l:hover { background-position: -131px -41px; }
.jssora11r:hover { background-position: -191px -41px; }
.jssora11ldn { background-position: -251px -41px; }
.jssora11rdn { background-position: -311px -41px; }
.jssora12l, .jssora12r, .jssora12ldn, .jssora12rdn {
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../img/a12.png) no-repeat;
    overflow:hidden;
}
.jssora12l { background-position: -16px -37px; }
.jssora12r { background-position: -75px -37px; }
.jssora12l:hover { background-position: -136px -37px; }
.jssora12r:hover { background-position: -195px -37px; }
.jssora12ldn { background-position: -256px -37px; }
.jssora12rdn { background-position: -315px -37px; }
.jssora13l, .jssora13r, .jssora13ldn, .jssora13rdn {
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../img/a13.png) no-repeat;
    overflow:hidden;
}
.jssora13l { background-position: -10px -35px; }
.jssora13r { background-position: -70px -35px; }
.jssora13l:hover { background-position: -130px -35px; }
.jssora13r:hover { background-position: -190px -35px; }
.jssora13ldn { background-position: -250px -35px; }
.jssora13rdn { background-position: -310px -35px; }
.jssora14l, .jssora14r, .jssora14ldn, .jssora14rdn {
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../img/a14.png) no-repeat;
    overflow:hidden;
}
.jssora14l { background-position: -15px -35px; }
.jssora14r { background-position: -75px -35px; }
.jssora14l:hover { background-position: -135px -35px; }
.jssora14r:hover { background-position: -195px -35px; }
.jssora14ldn { background-position: -255px -35px; }
.jssora14rdn { background-position: -315px -35px; }
.jssora15l, .jssora15r, .jssora15ldn, .jssora15rdn {
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../img/a15.png) no-repeat;
    overflow:hidden;
}
.jssora15l { background-position: -20px -41px; }
.jssora15r { background-position: -80px -41px; }
.jssora15l:hover { background-position: -140px -41px; }
.jssora15r:hover { background-position: -200px -41px; }
.jssora15ldn { background-position: -260px -41px; }
.jssora15rdn { background-position: -320px -41px; }
.jssora16l, .jssora16r, .jssora16ldn, .jssora16rdn {
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../img/a16.png) no-repeat;
    overflow:hidden;
}
.jssora16l { background-position: -19px -42px; }
.jssora16r { background-position: -79px -42px; }
.jssora16l:hover { background-position: -139px -42px; }
.jssora16r:hover { background-position: -199px -42px; }
.jssora16ldn { background-position: -259px -42px; }
.jssora16rdn { background-position: -319px -42px; }
.jssora18l, .jssora18r, .jssora18ldn, .jssora18rdn {
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../img/a18.png) no-repeat;
    overflow:hidden;
}
.jssora18l { background-position: -16px -45px;}
.jssora18r { background-position: -76px -45px;}
.jssora18l:hover { background-position: -136px -45px;}
.jssora18r:hover { background-position: -196px -45px;}
.jssora18ldn { background-position: -256px -45px;}
.jssora18rdn { background-position: -316px -45px;}
.jssora19l, .jssora19r, .jssora19ldn, .jssora19rdn {
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../img/a19.png) no-repeat;
    overflow:hidden;
}
.jssora19l { background-position: -5px -35px; }
.jssora19r { background-position: -65px -35px; }
.jssora19l:hover { background-position: -125px -35px; }
.jssora19r:hover { background-position: -185px -35px; }
.jssora19ldn { background-position: -245px -35px; }
.jssora19rdn { background-position: -305px -35px; }
.jssora20l, .jssora20r, .jssora20ldn, .jssora20rdn {
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../img/a20.png) no-repeat;
    overflow:hidden;
}
.jssora20l { background-position: -3px -33px; }
.jssora20r { background-position: -63px -33px; }
.jssora20l:hover { background-position: -123px -33px; }
.jssora20r:hover { background-position: -183px -33px; }
.jssora20ldn { background-position: -243px -33px; }
.jssora20rdn { background-position: -303px -33px; }
.jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn {
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../img/a21.png) center center no-repeat;
    overflow: hidden;
}
.jssora21l { background-position: -3px -33px; }
.jssora21r { background-position: -63px -33px; }
.jssora21l:hover { background-position: -123px -33px; }
.jssora21r:hover { background-position: -183px -33px; }
.jssora21ldn { background-position: -243px -33px; }
.jssora21rdn { background-position: -303px -33px; }
/**
*
*/

.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
    filter: alpha(opacity=70);
    opacity: .7;
    overflow:hidden;
    cursor: pointer;
    border: #000 1px solid;
}
.jssorb01 div { background-color: gray; }
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #fff; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }
.jssorb02 div, .jssorb02 div:hover, .jssorb02 .av {
    background: url(../img/b02.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.jssorb02 div { background-position: -5px -5px; }
.jssorb02 div:hover, .jssorb02 .av:hover { background-position: -35px -5px; }
.jssorb02 .av { background-position: -65px -5px; }
.jssorb02 .dn, .jssorb02 .dn:hover { background-position: -95px -5px; }
.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
    background: url(../img/b03.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.jssorb03 div { background-position: -5px -4px; }
.jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
.jssorb03 .av { background-position: -65px -4px; }
.jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    background: url(../img/b05.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }
.jssorb06 div, .jssorb06 div:hover, .jssorb06 .av {
    background: url(../img/b06.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.jssorb06 div { background-position: -6px -6px; }
.jssorb06 div:hover, .jssorb06 .av:hover { background-position: -36px -6px; }
.jssorb06 .av { background-position: -66px -6px; }
.jssorb06 .dn, .jssorb06 .dn:hover { background-position: -96px -6px; }
.jssorb07 div, .jssorb07 div:hover, .jssorb07 .av {
    background: url(../img/b07.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.jssorb07 div { background-position: -5px -5px; }
.jssorb07 div:hover, .jssorb07 .av:hover { background-position: -35px -5px; }
.jssorb07 .av { background-position: -65px -5px; }
.jssorb07 .dn, .jssorb07 .dn:hover { background-position: -95px -5px; }
.jssorb09 div, .jssorb09 div:hover, .jssorb09 .av {
    filter: alpha(opacity=70);
    opacity: .7;
    overflow:hidden;
    cursor: pointer;
    border: #fff 1px solid;
}
.jssorb09 div { background-color: #d3d3d3; }
.jssorb09 div:hover, .jssorb09 .av:hover { background-color: gray; }
.jssorb09 .av { background-color: #000; }
.jssorb09 .dn, .jssorb09 .dn:hover { background-color: #a9a9a9; }
.jssorb10 div, .jssorb10 div:hover, .jssorb10 .av {
    background: url(../img/b10.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.jssorb10 div { background-position: -10px -10px; }
.jssorb10 div:hover, .jssorb10 .av:hover { background-position: -40px -10px; }
.jssorb10 .av { background-position: -70px -10px; }
.jssorb10 .dn, .jssorb10 .dn:hover { background-position: -100px -10px; }
.jssorb11 div, .jssorb11 div:hover, .jssorb11 .av {
    background: url(../img/b11.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.jssorb11 div { background-position: -10px -10px; }
.jssorb11 div:hover, .jssorb11 .av:hover { background-position: -40px -10px; }
.jssorb11 .av { background-position: -70px -10px; }
.jssorb11 .dn, .jssorb11 .dn:hover { background-position: -100px -10px; }
.jssorb12 div, .jssorb12 div:hover, .jssorb12 .av {
    background: url(../img/b12.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.jssorb12 div { background-position: -7px -7px; }
.jssorb12 div:hover, .jssorb12 .av:hover { background-position: -37px -7px; }
.jssorb12 .av { background-position: -67px -7px; }
.jssorb12 .dn, .jssorb12 .dn:hover { background-position: -97px -7px; }
.jssorb13 div, .jssorb13 div:hover, .jssorb13 .av {
    background: url(../img/b13.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.jssorb13 div { background-position: -5px -5px; }
.jssorb13 div:hover, .jssorb13 .av:hover { background-position: -35px -5px; }
.jssorb13 .av { background-position: -65px -5px; }
.jssorb13 .dn, .jssorb13 .dn:hover { background-position: -95px -5px; }
.jssorb14 div, .jssorb14 div:hover, .jssorb14 .av {
    background: url(../img/b14.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.jssorb14 div { background-position: -9px -9px; }
.jssorb14 div:hover, .jssorb14 .av:hover { background-position: -39px -9px; }
.jssorb14 .av { background-position: -69px -9px; }
.jssorb14 .dn, .jssorb14 .dn:hover { background-position: -99px -9px; }
.jssorb16 div, .jssorb16 div:hover, .jssorb16 .av {
    background: url(../img/b16.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.jssorb16 div { background-position: -5px -5px; }
.jssorb16 div:hover, .jssorb16 .av:hover { background-position: -35px -5px; }
.jssorb16 .av { background-position: -65px -5px; }
.jssorb16 .dn, .jssorb16 .dn:hover { background-position: -95px -5px; }
.jssorb17 div, .jssorb17 div:hover, .jssorb17 .av {
    background: url(../img/b17.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.jssorb17 div { background-position: -7px -7px; }
.jssorb17 div:hover, .jssorb17 .av:hover { background-position: -37px -7px; }
.jssorb17 .av { background-position: -67px -7px; }
.jssorb17 .dn, .jssorb17 .dn:hover { background-position: -97px -7px; }
.jssorb18 div, .jssorb18 div:hover, .jssorb18 .av {
    background: url(../img/b18.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.jssorb18 div { background-position: -3px -3px; }
.jssorb18 div:hover, .jssorb18 .av:hover { background-position: -33px -3px; }
.jssorb18 .av { background-position: -63px -3px; }
.jssorb18 .dn, .jssorb18 .dn:hover { background-position: -93px -3px; }
.jssorb18 .n {
    display: none;
    color: #000;
}
.jssorb18 div:hover .n, .jssorb18 .av .n, .jssorb18 .av:hover .n, .jssorb18 .dn .n { display: block; }
.jssorb20 div, .jssorb20 div:hover, .jssorb20 .av {
    background: url(../img/b20.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.jssorb20 div { background-position: -5px -5px; }
.jssorb20 div:hover, .jssorb20 .av:hover { background-position: -35px -5px; }
.jssorb20 .av { background-position: -65px -5px; }
.jssorb20 .dn, .jssorb20 .dn:hover { background-position: -95px -5px; }
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
    background: url(../img/b21.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.jssorb21 div { background-position: -5px -5px; }
.jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
.jssorb21 .av { background-position: -65px -5px; }
.jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }
/**
*
*/
.jssort01 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.jssort01 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 68px;
    height: 68px;
    border: #000 2px solid;
}
.jssort01 .p:hover .c, .jssort01 .pav:hover .c, .jssort01 .pav .c {
    background: url(../img/t01.png) center center;
    border-width: 0px;
    top: 2px;
    left: 2px;
    width: 68px;
    height: 68px;
}
.jssort01 .p:hover .c, .jssort01 .pav:hover .c {
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
    border: #fff 1px solid;
}
.jssort02 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.jssort02 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 95px;
    height: 62px;
    border: #000 2px solid;
}
.jssort02 .p:hover .c, .jssort02 .pav:hover .c, .jssort02 .pav .c  {
	background: url(../img/t01.png) center center;
	border-width: 0px;
    top: 2px;
    left: 2px;
    width: 95px;
    height: 62px;
}
.jssort02 .p:hover .c, .jssort02 .pav:hover .c {
    top: 0px;
    left: 0px;
    width: 97px;
    height: 64px;
    border: #fff 1px solid;
}
.jssort03 .w, .jssort03 .pav:hover .w {
	position: absolute;
	width: 60px;
	height: 30px;
	border: white 1px dashed;
}
* html .jssort03 .w {
	width /**/: 62px;
	height /**/: 32px;
}
.jssort03 .pdn .w, .jssort03 .pav .w { border-style: solid; }
.jssort03 .c {
	width: 62px;
	height: 32px;
	filter:  alpha(opacity=45);
	opacity: .45;
	
	transition: opacity .6s;
    -moz-transition: opacity .6s;
    -webkit-transition: opacity .6s;
    -o-transition: opacity .6s;
}
.jssort03 .p:hover .c, .jssort03 .pav .c {
	filter:  alpha(opacity=0);
	opacity: 0;
}
.jssort03 .p:hover .c {
	transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}
.jssort04 .w, .jssort04 .pav:hover .w {
    position: absolute;
    width: 60px;
    height: 30px;
    border: #0099FF 1px solid;
}
* html .jssort04 .w {
    width /**/: 62px;
    height /**/: 32px;
}
.jssort04 .pdn .w, .jssort04 .pav .w { border-style: solid; }
.jssort04 .c {
    width: 62px;
    height: 32px;
    filter:  alpha(opacity=45);
    opacity: .45;
    transition: opacity .6s;
    -moz-transition: opacity .6s;
    -webkit-transition: opacity .6s;
    -o-transition: opacity .6s;
}
.jssort04 .p:hover .c, .jssort04 .pav .c {
    filter:  alpha(opacity=0);
    opacity: 0;
}
.jssort04 .p:hover .c {
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}
.jssort05 .f {
    clip: rect(8px 63px 63px 8px);
}
.jssort05 .i {
    position: absolute;
    background: #000;
    filter: alpha(opacity=30);
    opacity: .3;
    width: 72px;
    height: 72px;
    top: 0;
    left: 0;
    
	transition: background-color .6s;
    -moz-transition: background-color .6s;
    -webkit-transition: background-color .6s;
    -o-transition: background-color .6s;
}
.jssort05 .pav .i {
    background: #fff;
    filter: alpha(opacity=80);
    opacity: .8;
}
.jssort05 .pdn .i { background: none; }
.jssort05 .p:hover .i, .jssort05 .pav:hover .i {
    background: #fff;
    filter: alpha(opacity=30);
    opacity: .3;
}
.jssort05 .p:hover .i {
	transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}
.jssort06 .f {
    clip: rect(8px 91px 58px 8px);
}
.jssort06 .pav .f {
    clip: rect(2px 97px 64px 2px);
}
.jssort06 .i {
    position: absolute;
    background: #000;
    filter: alpha(opacity=30);
    opacity: .3;
    width: 99px;
    height: 66px;
    top: 0;
    left: 0;
    
	transition: background-color .6s;
    -moz-transition: background-color .6s;
    -webkit-transition: background-color .6s;
    -o-transition: background-color .6s;
}
.jssort06 .pav .i {
    background: #fff;
    filter: alpha(opacity=100);
    opacity: 1;
}
.jssort06 .pdn .i { background: none; }
.jssort06 .p:hover .i, .jssort06 .pav:hover .i {
    background: #fff;
    filter: alpha(opacity=30);
    opacity: .3;
}
.jssort06 .p:hover .i {
	transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}
.jssort07 .i {
    position:absolute;
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
	filter: alpha(opacity=80);
	opacity: .8;
}
.jssort07 .p:hover .i, .jssort07 .pav .i {
	filter: alpha(opacity=100);
	opacity: 1;
}
.jssort07 .o {
    position: absolute;
    top:0px;
    left:0px;
    width:70px;
    height:70px;
    
    border: 1px solid #000;
    
    transition: border-color .6s;
    -moz-transition: border-color .6s;
    -webkit-transition: border-color .6s;
    -o-transition: border-color .6s;
}
* html .jssort07 .o {
	/* ie quirks mode adjust */
	width /**/: 72px;
	height /**/: 72px;
}
.jssort07 .pav .o, .jssort07 .p:hover .o {
	border-color: #fff;
}
.jssort07 .pav:hover .o {
	border-color: #0099FF;
}
.jssort07 .p:hover .o {
	transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}
.jssort08 .i {
    position:absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
	filter: alpha(opacity=80);
	opacity: .8;
}
.jssort08 .p:hover .i, .jssort08 .pav:hover .i {
	filter: alpha(opacity=100);
	opacity: 1;
}
.jssort08 .o {
    position: absolute;
    top:0px;
    left:0px;
    width:48px;
    height:48px;
    
    border: 1px solid #000;
    
    transition: border-color .6s;
    -moz-transition: border-color .6s;
    -webkit-transition: border-color .6s;
    -o-transition: border-color .6s;
}
* html .jssort08 .o {
	/* ie quirks mode adjust */
	width /**/: 50px;
	height /**/: 50px;
}
.jssort08 .pav .o, .jssort08 .p:hover .o {
	border-color: #fff;
}
.jssort08 .pav:hover .o {
	border-color: #0099FF;
}
.jssort08 .p:hover .o {
	transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}
.jssort11 .p .t {
    FILTER: alpha(opacity=45);
    opacity: .45;
    transition: opacity .6s;
    -moz-transition: opacity .6s;
    -webkit-transition: opacity .6s;
    -o-transition: opacity .6s;
}
.jssort11 .pav .t, .jssort11 .pav:hover .t, .jssort11 .p:hover .t {
    FILTER: alpha(opacity=100);
    opacity: 1;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}
.jssort12 .p img {
    FILTER: alpha(opacity=55);
    opacity: .55;
    transition: opacity .6s;
    -moz-transition: opacity .6s;
    -webkit-transition: opacity .6s;
    -o-transition: opacity .6s;
}
.jssort12 .pav img, .jssort12 .pav:hover img, .jssort12 .p:hover img {
    FILTER: alpha(opacity=100);
    opacity: 1;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}
.jssort12 .pav:hover img, .jssort12 .p:hover img {
    FILTER: alpha(opacity=70);
    opacity: .7;
}
.jssort12 .title, .jssort12 .title_back {
    position: absolute;
    top: 70px;
    left: 0px;
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #000;
    font-size: 20px;
}
.jssort12 .title_back {
    background-color: #fff;
    filter: alpha(opacity=50);
    opacity: .5;
}
.jssort12 .pav:hover .title_back, .jssort12 .p:hover .title_back {
    filter: alpha(opacity=40);
    opacity: .4;
}
.jssort12 .pav .title_back {
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: .5;
}
.jssort12 .pav .title {
    color: #fff;
}
