<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Storecredit
 * @version    1.0.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if (count($this->getSource()->getAwStorecredit()) > 0): ?>
    <?php foreach($this->getSource()->getAwStorecredit() as $storeCredit): ?>
        <tr>
            <td class="label">
                <?php echo $this->__('Store Credit'); ?>
            </td>
            <td>
                <?php echo $this->displayPrices(-$storeCredit->getBaseStorecreditAmount(), -$storeCredit->getStorecreditAmount()); ?>
            </td>
        </tr>
    <?php endforeach;?>
<?php endif; ?>
<?php if (count($this->getSource()->getAwRefundedStorecredit()) > 0): ?>
    <?php foreach($this->getSource()->getAwRefundedStorecredit() as $refundedStoreCredit): ?>
        <tr>
            <td class="label">
                <?php echo $this->__('Refunded to Store Credit'); ?>
            </td>
            <td>
                <?php echo $this->displayPrices($refundedStoreCredit->getBaseRefundedAmount(), $refundedStoreCredit->getRefundedAmount()); ?>
            </td>
        </tr>
    <?php endforeach;?>
<?php endif; ?>