<div id="checkout-review" class="onepagecheckout_block">
    <div class="opc_review_title step-title">
        <h1><p class="checkout_headings_review"><?php echo "5"; ?></p><p><?php echo $this->__('Review Your Order') ?></p></h1>
    </div>
    <div class="opc_review_content">
        <div id="checkout-review-load">
            <?php echo $this->getChildHtml('info') ?>
        </div>
        <div class="other">
            <?php echo $this->getChildHtml('coupon') ?>
            <?php echo $this->getChildHtml('comment') ?>
            <?php echo $this->getChildHtml('suvery') ?>
            <?php echo $this->getChildHtml('tem_condition') ?>
            <div style="clear: both;"></div>
        </div>
        <div id="checkout-review-submit">    
            <div class="buttons-set" id="review-buttons-container">
                <a id="edit_Cart" href="<?php echo $this->getUrl('checkout/cart') ?>"><?php echo $this->__('Edit Your Cart') ?></a>
                <button type="submit" title="<?php echo $this->__('Place Order Now') ?>" class="button btn-checkout"><?php echo $this->__('Place Order Now') ?></button>
                <div class="checkout_message_div">
                    <ul class="checkout_message">
                        <li><?php echo $this->__('Maximum KNET payment is 400 KD.') ?></li>
                        <li><?php echo $this->__('Maximum Cash On Delivery payment is 300 KD.') ?></li>
                        <li><?php echo $this->__('Our call center agent might need to call you verify the order, missing the call may cause late of delivery or order cancelation.') ?></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
