<?php
/** @var Orange35_ImageSwitcher_Block_Adminhtml_Catalog_Product_Edit_Tab_CustomMatches $this */
$product = $this->getProduct();
$customOptions = $product->getOptions();
/** @var Mage_Catalog_Model_Resource_Product_Option_Collection $customOptions */
/** @var Mage_Catalog_Model_Product_Option $option */
foreach ($customOptions as $key => $option) {
    if (!in_array($option->getType(), array('drop_down', 'radio', 'checkbox', 'multiple'))) {
        unset($customOptions[$key]);
    }
}
?>
<div class="entry-edit">
    <div class="entry-edit-head" id="co_main_title">
        <h4><?php echo $this->getTabTitle(); ?></h4>
    </div>
    <div class="box">
        <div class="custom-matches-notice" style="display: none">
            <?php echo $this->__(
                'Please save changes to Custom Options to have Image Combinations management available.'
            ); ?>
        </div>
        <div class="custom-matches-content">
            <div class="custom-matches-images-list-empty-notice" style="display: none;">
                <?php echo $this->__(
                    'No product images detected. Please upload product image(s) to have Image Combinations management available.'
                ) ?>
            </div>
            <div class="custom-matches-custom-options-list-empty-notice" style="display: none;">
                <?php echo $this->__(
                    'No Custom Options detected. Please set Custom Options to have Image Combinations management available.'
                ) ?>
            </div>
            <div class="custom-matches-new-form custom-options">
                <?php echo $this->__("Match Custom Options with a Product Image"); ?>
                <div class="entry-edit-head" id="co_title" style="margin-top:10px;">
                    <h4><?php echo $this->__("Custom Options"); ?></h4>

                    <div class="msg" style="display: none">
                        &nbsp;<?php echo $this->__('Edit Combination') ?>
                    </div>
                </div>
                <div id="matches-form">
                    <?php foreach ($customOptions as $option): ?>
                        <div class="match-option option-box form-list"
                             id="match_option_<?php echo $option->getId(); ?>">
                            <div class="match-title">
                                <label for="match_option_<?php echo $option->getId(); ?>">
                                    <?php echo $option->getData('title'); ?>
                                </label>
                            </div>
                            <input type="checkbox" id="checkbox_allvalue_<?php echo $option->getId(); ?>" value="%all%">
                            <span class="label">
                                <label for="checkbox_allvalue_<?php echo $option->getId(); ?>">
                                    <?php echo $this->__("ALL VALUES"); ?>
                                </label>
                            </span>

                            <p class="note"><?php echo $this->__(
                                    "Check off to assign an image for all the values within this option."
                                ); ?></p>
                            <br/>

                            <div class="match-value">
                                <?php if ($type = $option->getType() == 'checkbox'): ?>
                                    <div class="input-box">
                                        <ul class="options-list">
                                            <?php foreach ($option->getValues() as $value): ?>
                                                <li>
                                                    <input type="checkbox" class="checkbox product-custom-option"
                                                           id="checkbox_value_<?php echo $option->getId(
                                                           ); ?>_<?php echo $value->getId(); ?>"
                                                           value="<?php echo $value->getId(); ?>">
                                            <span class="label">
                                                <label for="checkbox_value_<?php echo $option->getId(
                                                ); ?>_<?php echo $value->getId(); ?>">
                                                    <?php echo $value->getTitle(); ?>
                                                </label>
                                            </span>
                                                </li>
                                            <?php endforeach; ?>
                                        </ul>
                                    </div>
                                <?php elseif ($option->getType() == 'radio'): ?>
                                    <div class="input-box">
                                        <ul class="options-list">
                                            <li>
                                                <input type="radio"
                                                       id="radio_value_<?php echo $option->getId(); ?>_none"
                                                       checked="checked"
                                                       name="match_option_<?php echo $option->getId(); ?>">
                                                <span class="label">
                                                    <label for="radio_value_<?php echo $option->getId(); ?>_none">
                                                        <?php echo $this->__('--Not Selected--') ?>
                                                    </label>
                                                </span>
                                            </li>
                                            <?php foreach ($option->getValues() as $value): ?>
                                                <li>
                                                    <input type="radio" class="radio product-custom-option"
                                                           id="radio_value_<?php echo $option->getId(
                                                           ); ?>_<?php echo $value->getId(); ?>"
                                                           name="match_option_<?php echo $option->getId(); ?>"
                                                           value="<?php echo $value->getId(); ?>">
                                            <span class="label">
                                                <label for="radio_value_<?php echo $option->getId(
                                                ); ?>_<?php echo $value->getId(); ?>">
                                                    <?php echo $value->getTitle(); ?>
                                                </label>
                                            </span>
                                                </li>
                                            <?php endforeach; ?>
                                        </ul>
                                    </div>
                                <?php elseif (in_array($option->getType(), array('drop_down', 'multiple'))): ?>
                                    <div class="input-box">
                                        <select id="select_<?php echo $option->getId(); ?>"
                                                class="select product-custom-option" <?php echo
                                        'multiple' == $option->getType() ? 'multiple="multiple"' : ''; ?>>
                                            <?php if ($option->getType() == 'drop_down'): ?>
                                                <option value="" id="select_value_<?php echo $option->getId() ?>_none">
                                                    <?php echo $this->__('--Not Selected--') ?>
                                                </option>
                                            <?php endif; ?>
                                            <?php foreach ($option->getValues() as $value): ?>
                                                <option value="<?php echo $value->getId(); ?>"
                                                        id="select_value_<?php echo $option->getId(
                                                        ) ?>_<?php echo $value->getId(); ?>">
                                                    <?php echo $value->getTitle(); ?>
                                                </option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                <?php endif; ?>
                            </div>

                        </div>

                    <?php endforeach; ?>
                    <div class="entry-edit-head" id="co_main_title">
                        <h4><?php echo $this->__('Product Images'); ?></h4>
                    </div>
                    <div class="option-box form-list">
                        <div id="gallery-image-selector">
                            <?php foreach ($this->getProductImages() as $image): ?>
                                <div id="gallery_image_<?php echo $image->getId(); ?>">
                                    <img src="<?php echo $image->getUrl(); ?>"/>
                                </div>
                            <?php endforeach; ?>
                        </div>
                        <p class="note"><?php echo $this->__('Choose multiple images to have them show in Image Gallery upon option selection');?></p>
                        <div class="matches-action-block">
                            <button id="match-apply"><?php echo $this->__('Apply'); ?></button>
                            <div class="error" style="display: none">
                                <?php echo $this->__(
                                    'At least one custom option should be matched with an image to create a combination'
                                ) ?>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="entry-edit-head" id="co_combination" style="margin-top:10px;">
                    <h4><?php echo $this->__("Option Combinations"); ?></h4>
                </div>
                <div id="matches-preview-container" class="option-box" style="margin-top:0px;">
                    <?php echo $this->getEmptyMatchesListNotice(); ?>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $$("[id^='checkbox_allvalue_']").each(function (element) {
        var optionId = element.id.replace(/[a-z_]*/, '');
        Event.observe(element, 'change', function () {
            if (element.checked) {
                $$("#select_" + optionId + ", [id^='checkbox_value_" + optionId + "'], [id^='radio_value_" + optionId + "']").each(function (e) {
                    if (e.type == "checkbox" || e.type == "radio") {
                        e.parentNode.hide();
                    }
                    else {
                        e.hide();
                    }
                });
            }
            else {
                $$("#select_" + optionId + ", [id^='checkbox_value_" + optionId + "'], [id^='radio_value_" + optionId + "']").each(function (e) {
                    if (e.type == "checkbox" || e.type == "radio") {
                        e.parentNode.show();
                    }
                    else {
                        e.show();
                    }

                });
            }
        });
    });
    if (typeof document.Orange35 === 'undefined') {
        document.Orange35 = {};
    }
    if (typeof document.Orange35.ImageSwitcherMatchesData === 'undefined') {
        document.Orange35.ImageSwitcherMatchesData = {};
    }

    var module = document.Orange35.ImageSwitcherMatchesData;

    <?php foreach ($this->prepareData4JS() as $field => $data): ?>
    module.<?php echo $field ?> = <?php echo is_array($data) ? json_encode($data) : (is_int($data) ? $data : "'" . $data . "'"); ?>;
    <?php endforeach; ?>
</script>