<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Ajaxlogin
 * @version    1.1.5
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><h2>How to create LinkedIn application</h2>
<p>In order to use the LinkedIn login feature you need to create your application with LinkedIn.</p>
<p>The first step is to visit the <a target="_blank" href="http://developers.linkedin.com/">LinkedIn Developers website</a> and click <b>API Keys</b> item in the top menu:</p>
<center><img src="<?php echo Mage::getDesign()->getSkinUrl('ajaxlogin/doc') ?>/linkedin-application-1.png" /></center>
<p>It takes you to <b>LinkedIn Developers Network</b> authorization page, you can use your personal LinkedIn account credentials here to sign in or any other LinkedIn account if you prefer:</p>
<center><img src="<?php echo Mage::getDesign()->getSkinUrl('ajaxlogin/doc') ?>/linkedin-application-2.png" /></center>
<p>As soon as you sign in, it takes you to the list of your applications, probably empty. Just click the following button to add one:</p>
<center><img src="<?php echo Mage::getDesign()->getSkinUrl('ajaxlogin/doc') ?>/linkedin-application-3.png" /></center>
<p>Now, please fill the form carefully. Please, pay additional attention to the fields described below.</p>
<p><b>Application Name</b> - it appears in the LinkedIn popup window (the one that requests permissions from your customers when they use the feature) so you may want to put something related to your webstore here:</p>
<center><img src="<?php echo Mage::getDesign()->getSkinUrl('ajaxlogin/doc') ?>/linkedin-application-4.png" /></center>
<p><b>Website URL</b> should be set to Base URL (unsecure) of your Magento store:</p>
<center><img src="<?php echo Mage::getDesign()->getSkinUrl('ajaxlogin/doc') ?>/linkedin-application-5.png" /></center>
<p class="Example">
    For example, in your Magento the default value for the Base URL option is currently set to: <tt><?php echo Mage::getStoreConfig('web/unsecure/base_url') ?></tt><br />
    Please, note that if you have several webstores with different Base URLs served by the same Magento instance, you may need to add several LinkedIn applications accordigly.
</p>
<p><b>Live Status</b> of your new application is initially set to <b>Development</b>, and it's fine while you're going around testing the feature to make sure it works correctly.</p>
<center><img src="<?php echo Mage::getDesign()->getSkinUrl('ajaxlogin/doc') ?>/linkedin-application-6.png" /></center>
<p>Don't forget to turn it to <b>Live</b> as soon as your website goes live:</p>
<center><img src="<?php echo Mage::getDesign()->getSkinUrl('ajaxlogin/doc') ?>/linkedin-application-7.png" /></center>
<p>In <b>Default Scope</b> option the <b>r_basicprofile</b> checkbox is only selected by default. The login feature additionally requires the "r_emailaddress" to be selected as well:</p>
<center><img src="<?php echo Mage::getDesign()->getSkinUrl('ajaxlogin/doc') ?>/linkedin-application-8.png" /></center>
<p>As soon as you finish, click <b>Save</b> button to save your application. It appears in the list within the given name. The last step is to click the application title to get back to application settings.</p>
<p>You can see the application details page now has additional section called <b>OAuth Keys</b>. This is exactly where the <b>API Key</b> and the <b>Secret Key</b> values are specified. Just take them from here and put into appropriate inputs in the LinkedIn login configuration options.</p>
<center><img src="<?php echo Mage::getDesign()->getSkinUrl('ajaxlogin/doc') ?>/linkedin-application-9.png" /></center>
<p>Now you're all set and ready to use login with LinkedIn account feature.</p>
<p>Find more information about authentication with LinkedIn in the <a target="_blank" href="http://developer.linkedin.com/documents/authentication">official documentation</a>.</p>