<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Ajaxlogin
 * @version    1.1.5
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><h2>How to create Facebook application</h2>
<p>You will need a Facebook <b>Application ID</b> before you start using the feature.</p>
<p>Create a new app on the <a target="_blank" href="http://developers.facebook.com/apps/">Facebook App Dashboard</a>, and enter your app's basic information.</p>
<center><img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-ash3/851558_608093449202580_1445287580_n.PNG" alt="" /></center>
<p>Once you've created the app, note the app ID shown at the top of the dashboard page.</p>
<center><img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-prn1/851565_609147282448177_1169536347_n.PNG" alt="" /></center>
<p>You can see a special secret value is automatically generated for it. Please, put both <b>Application ID</b> and <b>Application Secret</b> into appropriate inputs in the Facebook login configuration options.</p>
<p>Now you're all set and ready to use login with Facebook account feature.</p>
<p>Find more information about Facebook Login for Websites in the <a target="_blank" href="https://developers.facebook.com/docs/facebook-login/overview/">official documentation</a>.</p>