<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Ajaxlogin
 * @version    1.1.5
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><h2>How to create Twitter application</h2>
<p>In order to use the Twitter login feature you need to create your application with Twitter.</p>
<p>The first step is to visit the <a target="_blank" href="https://dev.twitter.com/apps">Twitter Developers website - My Application page</a> and click <b>Create a new application</b> button:</p>
<center><img src="<?php echo Mage::getDesign()->getSkinUrl('ajaxlogin/doc') ?>/twitter-application-1.png" width="850"/></center>
<p>It takes you to <b>Twitter Developers</b> create an application page. Please fill the form carefully and click <b>Create your twitter application</b> button to save the application.</p>
<center><img src="<?php echo Mage::getDesign()->getSkinUrl('ajaxlogin/doc') ?>/twitter-application-2.png" width="850"/></center>
<p>Right after the application is created it takes you to the first section of the details page called <b>Details</b>:</p>
<center><img src="<?php echo Mage::getDesign()->getSkinUrl('ajaxlogin/doc') ?>/twitter-application-3.png" width="850"/></center>
<p>Congratulations! Now you're all set and ready to use login with Twitter login feature.</p>
<p>Find more information about authentication with Twitter in the <a target="_blank" href="https://dev.twitter.com/docs">official documentation</a>.</p>