<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Ajaxlogin
 * @version    1.1.5
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div class="al-optionHintPopup" style="display: none;">
    <div class="Shadow"></div>
    <div class="Window">
        <div class="CloseButton"></div>
        <div class="Title"><?php echo $this->__("What's this?"); ?></div>
        <div class="Content"></div>
        <div class="Toolbar">
            <button title="Close hint" type="button" class="scalable save" onclick="">
                <span><?php echo $this->__('OK, I got it'); ?></span>
            </button>
        </div>
    </div>
</div>