.slider-banner-left img {
	width: 100%;
	height: 280px;
}
.calendar {
	z-index: 999;
}
.calendar input[type="button"],.calendar .button,.calendar button{
	font-size:100%;
	text-transform:uppercase;
	background-color: #e4e0d8;
	font-family: tahoma,verdana,sans-serif !important;
	line-height:30px;
	height:auto;
	color:#000;
	display:table-cell;
	vertical-align:middle;
	position:unset;
}
.calendar thead .hilite{
	border-width:0px;
}
#sns_custommenu ul.mainnav li.level0.nav-1.drop-submenu a {
	/*background-color: #681e71;*/
	background-color: none;
	color: #FFF;
}
#sns_custommenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 > li a {
	background-color: #FFF;
}
.slider-sec-container {
	position: relative;
}
/*.slider-sec-container .row::before {
    background: url("../images/shadow_menu.png") repeat-x scroll 0 0 hsla(0, 0%, 0%, 0);
    content: "";
    height: 10px;
    left: 15px;
    /*left: 0;
    position: absolute;
    top: 0;
    width: 1140px;
    /*width: 100%;
    z-index: 1;
}*/
#sns_header #sns_menu::before {
	background: 0 none;
}
#sns_header .sns_header_top .header-setting .tongle::before {
	width: 0;
}
.sales-order-history .my-account .pages {
	margin: 13px 0 0;
}
.sales-order-history .my-account .pages strong {
	display: inline-block;
}
.sales-order-history .my-account .pages ol {
	display: inline-block;
	padding-left: 10px;
}
.validation-advice{
	display:block;
}
#sns_celebrity1 #sns_partners, #sns_celebrity2 #sns_partners, #sns_celebrity3 #sns_partners {
  margin-bottom: 10px;

}
/*#sns_celebrity3 {
	margin-bottom: 20px;
}*/
#sns_celebrity1 .wrap .sns_partner .block-title, #sns_celebrity2 .wrap .sns_partner .block-title, #sns_celebrity3 .wrap .sns_partner .block-title{
  display: none !important;
}

#sns_wrapper input.input-text{
  color: #A997AC;
}
.checkout-cart-index .shipping-form .sp-methods dt {
    margin: 10px 0 0;
}
.checkout-cart-index .shipping-form .sp-methods dd {
    clear: both;
    display: block;
    margin: 10px 0 0;
    overflow: hidden;
}
.my-account .my-wishlist button.btn-cart {
	line-height: 20px;
}
.header-setting {
    float: left;
    width: 30%;
}
.header-welcome-msg {
    float: left;
    width: 19%;
	text-align: center;
}
.header-welcome-msg .welcome-msg {
    line-height: 36px;
}
.category-products .amscroll-page.loading{
	text-align: center;
	margin-bottom: 15px;
}
.category-products .toolbar .toolbar-inner .limiter{
	display: none;
}
.cele-dashboard table tbody td {
	border:0 none;
}
.cele-dashboard .fieldset {
	width:45%;
}
#onepagecheckout_orderform button.btn-checkout {
  margin-left: 25px;
}
@media (max-width: 1600px) {
	.slider-sec-container {
		width: 100%;
	}
	.sns-slideshow [u="slides"] {
		width: 100% !important;
	}
}

@media (max-width: 1199px) {
	.slider-banner-left img {
	    height: 210px;
	}
	.slider-sec-container .row::before {
		/*width: 940px;*/
	}
	/*.slider-sec-container {
	    width: 940px;
	}*/
}

@media (max-width: 1024px) {
	.slider-banner-left img {
		height: 218px;
	}
	.action-quickview {
		display: none;
	}
}

@media (max-width: 991px) {
	.slider-banner-left {
		margin-bottom: 20px;
	}
	.slider-banner-left img {
		height: 210px;
	}
	.slider-sec-container .row::before {
		background: 0 none;
	}
	.action-quickview {
		display: none;
	}
	.cele-dashboard .fieldset {
		width:50%;
	}
	#checkout-review-submit .checkout_message_div {
	  margin-bottom: 10px;
	  width:60%;
	}
}

@media (max-width: 767px) {
	.header-setting {
	    width: 20%;
	}
	.header-welcome-msg {
		width: 32%;
	}
	.cele-dashboard .fieldset {
		width:65%;
	}
}
@media (max-width: 640px) {
	#checkout-review-submit .checkout_message_div {
	  clear: both;
	  margin-bottom: 10px;
	  width:100%;
	}
}
@media (max-width: 450px) {
	.header-welcome-msg {
		display: none;
	}
	.cele-dashboard .fieldset {
		width:100%;
	}
}

/*@media (min-width: 992px) and (max-width: 1086px) {
	.fancybox-wrap.fancybox-desktop {
		width: 530px !important;
	}
}*/

.cms-index-index #sns_content {
    min-height: auto;
}
.custom-attribute-list {
	list-style: outside none none;
}
.custom-attribute-list li {
	float: left;
	padding-right: 10px;
}

.products-grid .item .item-inner .item-title .ico-product.ico-sale::before{
	 border-bottom:12px solid transparent;
}

.products-list .item .item-inner .ico-product.ico-sale::before{
	border-bottom: 12px solid transparent;
	border-right: 7px solid #681e71;
	border-top: 9px solid transparent;
	content: "";
	display: block;
	height: 0;
	position: absolute;
	right: 100%;
	top: 0;
	transition: all 0.2s linear 0s;
	width: 0;
}
.products-list .item .item-inner .ico-product.ico-sale
{
	background: #681e71 none repeat scroll 0 0;
	color: #fff;
	font-size: 10px;
	line-height: 100%;
	margin-left: 10px;
	padding: 4px 4px 4px 2px;
	position: relative;
}
.products-list .item .item-inner .ico-product.ico-sale .arow::before{
	border-left: 0 solid transparent;
	border-right: 8px solid transparent;
	border-top: 12px solid #681e71;
	content: "";
	height: 0;
	left: 0;
	position: absolute;
	top: 0;
	width: 0;
}
.products-list .item .item-inner .ico-product.ico-sale .arow::after{
	border-bottom: 0 solid transparent;
	border-left: 9px solid #681e71;
	border-top: 11px solid transparent;
	bottom: 0;
	content: "";
	height: 0;
	left: 0;
	position: absolute;
	width: 0;
}
@media screen and (max-width: 480px) {
	#desktop_view{
		display: none;
	}
	#mobile_view{
		display: block !important;
	}
}