#sns_breadcrumbs {
  min-height: 20px;
  body.homepage & {display: none;}
  padding-top: 18px;
  margin-bottom: 8px;
}
#sns_pathway {
  .clearfix();
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  span[class^="icon-"]{
    .ulclear();
  }
  .breadcrumbs{
    .ulclear();
    .inline-block();
    a {
      color: #666;
      font-size: 100%;
      &:hover {
        color: @color1;
      }
    }
    li{
      display: inline-block;
      .fa {font-size:120%;}
      &:before {
        content: "";
        font-family: FontAwesome;
        margin: 0;
        color: #ccc;
      }
      > * {
        padding: 1px 5px;
      }
      &:first-child:before {display: none;}
      &.last span {color: @color1;}
      &.home a{padding-left: 0 !important;}
    }
  }
}
