body{
	overflow-x: hidden;
	position: relative;
	color: #666;
	line-height: 165%;
	font-size: 12px;
	&.page-popup{
		font-size: 12px;
		padding: 20px 30px 30px;
		.page-title{
			h1{float: left;font-weight: normal; margin-top: 0px;
				text-transform: none;color: @labelColor;
			}
			.link-print {
				background: url("../images/i_print.gif") 0 2px no-repeat;
				padding: 0 0 0 25px; margin: 10px 0 0; float: right;
			}
		}
		.data-table thead th,
		.data-table tbody th {
			background: #efefef; padding-left: 10px; padding-right: 10px;
		}
		.compare-table{
			td{vertical-align: top;
				button{margin: 0 0;}
			}
			thead{
				th,td{padding-top: 5px; padding-bottom: 5px; text-align: center;}
			}
		}
		.product-name{line-height: normal; margin-bottom: 10px;}
		.ratings,
		.price-box{margin-bottom: 10px; text-align: center;}
		.ratings .amount{font-size: 10px;}
		.add-to-list{list-style: none; margin: 0 0; text-align: center;}
		.product-shop-row td,
		.add-to-row td{text-align: center;}
	}
	&.open-stickynote-top{
		.stickynote-top{
			.btn-close{top: 50%; margin-top: -11px; .transform(scale(1) rotate(0deg)); }
		}
	}
}
#bd.boxed-layout {
	#sns_wrapper{
		max-width: 1200px; 
		margin: 0 auto; 
		background: #f3f3f3;
//		box-shadow:0 0 3px rgba(0,0,0,0.2);
		@media (max-width: @screen-md-max){
			max-width: 1000px; 
		}
		@media (max-width: @screen-sm-max){
			max-width: 770px; 
		}
	}
    #sns_header{
    margin-bottom: 30px;
    background: #fff;
    #sns_menu{
      &:before{
        background: none;
      }
    }
    .sns_header_top{
      border: none;
      .sns_module{
        border-bottom: 3px solid #333;
      }
    }
  }
	#sns_menu {
		max-width: 1200px; 
		margin-left: auto; 
		margin-right: auto; 
		@media (max-width: @screen-md-max){
			max-width: 1000px; 
		}
		@media (max-width: @screen-sm-max){
			max-width: 770px; 
		}
	}
	@media (max-width: @screen-xs-max){
		& {padding: 0;}
	}
  #sns_content{
    background: #fff;
    padding-top: 10px;
    margin-bottom: 30px;
  }
  .after_top_content{
    margin-bottom: 30px;
    .home_block{
      background: #fff;
      padding-top: 30px;
      padding-bottom: 20px;
    }

  }
  .after_middle_content{
    padding-top: 10px;
    background: #fff;
    padding-bottom: 25px;
    margin-bottom: 30px;
    .slide-category{
      margin-bottom: 0;
    }
    .blog-testimonial{
      margin-bottom: 20px;
    }
    .block-trending{
      margin-bottom: 20px;
      .sns-slider{
        margin-bottom: 0;
      }
    }
  }
  #sns_slidercategory{
    background: #fff;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    .sns-slidercategory{border-top: none;padding-top: 0; }
  }
  #sns_partner{
    background: #fff;
    margin-bottom: 30px;
    #sns_partners{
      border: none;
      margin-bottom: 0;
    }
  }
  #sns_footer{
    background: #fff;
    #sns_footer_top{
      border-top: none;
      .container_in{
        border-bottom: 3px solid #333;
      }
    }
    #sns_footer_middle{
      border-top: none;
    }
    #sns_footer_bottom{
      border-top: none;
      .container-in{
        border-top: 1px solid #eaeaea;
      }
    }
  }
  .before_content{
    background: #fff;
    padding: 30px 30px 0 30px;
    margin-bottom: 30px;
    .policy{
      margin: 0 -30px;
      .container_in{
        border-bottom: none;
        .policy_custom{
          margin-bottom: 0;
        }
      }
    }
    .sns-slideshow{
      margin-bottom: 0;
    }
  }
  .category-products{
    padding-bottom: 30px;
    .toolbar-bottom{
      .toolbar{
//        border-bottom: none;
      }
    }

  }
  .blog-toolbar{
    .toolbar{
      border-bottom: none;
    }
  }
  .slideshow1{
    > div{padding-left: 40px !important;}
  }
  #sns_header .sns_header_top .currency-switcher .content,
  #sns_header .sns_header_top .language-switcher .content{
    margin-top: 3px;
  }
  #sns_header .sns_header_top .header-account .myaccount .customer-ct{margin-top: 0px;}
}

a { 
	color: #666;
	&:hover, &:focus, &:active {
		color: @activeColor; 
		text-decoration: none;
	}
}
a, span, i {
	.transition(all 0.25s ease);
	&:hover {
		.transition(all 0.25s ease);
	}
}
h1,h2,h3,h4,h5,h6{
	margin-top: 0;
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
}

h1 {
	font-size: 330%;
}
h2 {
	font-size: 160%;
}
h3 {
	font-size: 140%;
}
h4 {
	font-size: 130%;
}
h5 {
	font-size: 115%;
}
h6 {
	font-size: 100%;
}
img {
	max-width: 100%;
	table & {
		max-width: none;
	}
}

hr.h20 {
	height: 20px;
	margin: 0;
	padding: 0;
	border: none;
}




