/*--- price-box ---*/
.price-box{
	p {
		margin: 0 0; 
		display: inline-block;
	}
	.old-price{
		margin: 0; 
		padding: 0; 
		margin-right: 6px;
		display: inline-block;
		position: relative;
        padding-top: 4px;
        position: relative;
        &:before{
          float: left;
          margin-right: 4px;
          content: "/";
        }
		.price{
			text-decoration: line-through; 
			color: #666;
			position: relative; 
			line-height: normal;
		}
	}
	.regular-price,
	.special-price,.minimal-price{
		.price {
			font-size: 133.33%;
		}
	}
  .special-price{
    float: left;
    margin-right: 7px;
  }
	.price{
		color: #333;
		line-height: 24px;
	}
		
	.minimal-price-link .price{font-size: 100%}
	.price-label{display: none;}
	.price-from{
		padding: 0 10px 0 0;
		.price-label{display: inline-block;}
		.price{
			font-size: 130%;
		}
	}
	.price-to {
		padding: 0 0;
		.price-label{display: inline-block;}
		.price{
			font-size: 130%;
		}
	}
}
