/*------------------------------------------------------------------------
 * Copyright (C) 2013 The SNS Group. All Rights Reserved.
 * @license - GNU/GPL, http://www.gnu.org/licenses/gpl.html
 * Author: SNS Group
 * Websites: http://www.snstheme.com
-------------------------------------------------------------------------*/
.ratings, .no-rating {
	margin: 0 0 5px; 
}
/*--- rating ---*/
.rating-box{
    position: relative;
    .inline-block();
    margin: 0;
    &:before {
		content: '\f005\f005\f005\f005\f005';
		display: inline-block;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		letter-spacing: 2px;
		color: #dfdfdf;
		white-space: nowrap;
    }
    
	.rating {
		left: 0;
		position: absolute;
		top: 0;
		height: 100%;
		overflow: hidden;
		&:before {
			content: '\f005\f005\f005\f005\f005';
			white-space: nowrap;
			display: inline-block;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-align: center;
			letter-spacing: 2px;
			color: #fad507;
		}
	}
}
.no-rating a{
	color: #888;
	&:hover{color: @color1;}
}
.rating-links {
	.inline-block();
	margin: 0;
	.separator {color: #888;}
	a {
		margin: 0 1px;
		color: #888;
		&:hover{color: @color1;}
	}
}
.no-rating-mixin (){
	.clearfix();
	&:before {
		content: '\f005\f005\f005\f005\f005';
		display: inline-block;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		letter-spacing: 2px;
		color: #dfdfdf;
		white-space: nowrap;
	}
	a { display: none; }
}