.toolbar { 
	padding: 0; 
	margin-bottom: 15px;
	color: #666;
    border: none;
	border-top:1px solid #eaeaea;
    border-bottom: 3px solid #333;
	padding:0px;
	position: relative;
	
	 & {
		text-align: right;
		.view-mode {
			float: left;
		}
		.sort-by, .limiter {
			text-align: left;
			margin: 0;float:left;
			padding: 10px 18px;
            color: #666;
			label {
              color: #666;
			}
		} 
		.pager {
			/*display: none;*/
		}
	}
	.limiter {
//		padding-left: 25px;
		float: right;
	}
	
	.toolbar-inner {
		> * {
			.inline-block();
			margin: 0;
		}
	}
	.view-mode{
		label {
			display:none;
		}
		a, strong {
			text-align: center;
			position: relative;
			color: #ccc;
			.inline-block();
			&:before {
				font-size: 30px;
			}
		}
		a {
			margin-left:1px;
			&:hover {
				color: #666;
              &:before{
                color: #666;
              }
			}
		}
		strong {
			&:before {
				color: #666;
			}
		}
      .icon-grid:before {
        .font-awesome (f00a,50px);
        width: 36px;
        line-height:54px;
      }
      .icon-list:before {
        .font-awesome (f03a,50px);
        width: 36px;
        line-height:54px;
      }
	}
	.limiter {
		label{
			.inline-block();
			margin: 0 5px 0 0;
			font-weight: normal;
		}
		> span {
			display: none;
		}
      .select-new{
        .inline-block();
        .select-inner{
          cursor: pointer;
          select{
            .opacity(0);
          }
          .jqTransformSelectWrapper{
            .transition(all 0.2 ease-in);
            height: 30px;
            border: 1px solid #eaeaea;
            z-index: 1 !important;
            background: none;
            width: 70px !important;
            color:@text;
            &:hover{
              background: #fff ;
              border: 1px solid #ddd;
              //						color: @color2;
              div {
                span, a {
                  //								color:  @color2;
                }
              }
              ul {
                display: block !important;
              }
            }
            div{
              .transition(all 0.25s ease);
              span{
                line-height: 30px;
                height: 30px;
                padding-left: 10px;
                color: #666;
                font-size: 100%;
                width: auto !important;
              }
              a.jqTransformSelectOpen{
                &:before {
                  .font-awesome (f0dd, 22px);
                  width: 15px;
                  line-height: 24px;
                  font-size: 14px;
                }
                right: 5px;
                position: absolute;
                height: 100%;
                width: 15px;
              }
            }
            ul{
              top: 100%;
              width: 70px !important;
              left: -1px !important;
              border: 1px solid #ddd;
              bolder-top:0px;
              a {
                padding: 5px 10px;
                background: #fff;
                border-bottom:1px solid #ddd;
                &.selected{ color: @color1;}
                &:hover{color: @color1}
              }
              li{
                &:last-child{
                  a{
                    border: none;
                  }
                }
              }
            }
          }
          select{
            cursor: pointer;
            width: 50px;
            border: none;
            background: none;
          }
        }
      }
	}
	.sort-by{
        float: right;
      padding-left: 0px;
		.limiter;
        .select-new{
        .select-inner{
          .jqTransformSelectWrapper{
            width: 100px !important;
            ul{
              width: 100px !important;
            }
          }
        }
      }
      .set-desc,.set-asc{
        .inline-block();
        .square(30px);
        width: 15px;
        position: relative;
        background: none;
        margin: 0;
        .transition(all 0.2s ease-in);
        text-align: center;
        color: #707070;
        &:before{
          .font-awesome (f176, 30px);
          font-size: 14px;
          width: 15px;
          .transition(all 0.25s ease);
        }
        &:hover{
          &:before {
            color:@color1;
          }
        }
      }
      .set-desc{
        background: #eaeaea;
        .square(30px);
        &:before{
          .font-awesome (f175, 30px);
          width: 15px;
          font-size: 14px;
        }
      }
	}
	.pager {
		float: right;
        height: 30px;
        margin-top: 10px;
        margin-left: 2px;
		p.amount { display: none; }
		.pages {
			> strong {
				text-transform: uppercase;
				color:@text;
				font-weight:normal;
				padding-right:10px;
                display: none;
			}
			> ol {
				.inline-block();
				.ulclear();
				li {
					float: left;
                    border: 1px solid #eaeaea;
                    border-left: none;
                    .square(30px);
                    &:first-child{border-left: 1px solid #eaeaea}
					&.current {
						line-height: 28px;
						text-align: center;
						color:#666;
                        border-color: @color1;
                        background: @color1;
                        color: #fff;
					}
					a {
						display: block;
						border: none;
                        padding: 0;
						background: none;
						border-radius: 0;
						color:#666;
						line-height: 28px;
						&.previous,
						&.next {
							border: none;
							padding: 0px;
							width: auto;
							.square(28px);
                            width: 30px;
							overflow:hidden;
						}
						
						&.next:before{.font-awesome (f0da, 28px);font-size: 14px;}
						&.previous:before{.font-awesome (f0d9, 28px);font-size: 14px;}
					}
					&:hover {
                        border-color: @color1;
						a {
                            color: #fff;
							border-color: @color1;
							background: @color1;
						}
					}
				}
			}
		}
	}
}
.toolbar-bottom {
  margin:10px 0 0px ;
  .toolbar{margin-bottom: 0;}
}
.safari .toolbar .view-mode a {margin-left:0px !important;}