<?php $collection = $this->getOrderCollection();
$commissionTotal = $collection->getData();
if(count($collection)):
?>
<div class="cele-dashboard">
<!-- <div style="float:right;text-decoration:underline;"><a href="<?php// echo $this->getBaseUrl().'celebrity';?>">Celebrity Reports</a></div> -->
<div class="fieldset">
	<h2 class="legend"><?php echo $this->__('Dashboard'); ?></h2>
	<table class="data-table" style="width:100%; border:0 none;">
		<tbody>
			<tr>
				<td><?php echo $this->__('Total Number of Items on Paid Status :'); ?></td>
				<td><?php echo round($this->__($commissionTotal['total_ordered_qty'])); ?></td>
			</tr>
			<tr>
				<td><?php echo $this->__('Total Commision Earned by Paid Status :'); ?></td>
				<td>
					<?php $totalCommision = Mage::helper('core')->formatPrice($commissionTotal['commision_total'], true);
					echo $this->__($totalCommision); ?>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="clear"></div>
</div>
</div>

<?php endif; ?>
