<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $collection = $this->getCollection(); ?>
<div class="page-title">
    <h1></h1>
</div>
<?php echo $this->getPagerHtml(); ?>
<?php if($collection->getSize()): ?>
<table class="data-table" id="my-custom-table">
    <col width="1" />
    <col width="1" />
    <col />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <thead>
        <tr>
            <!-- <th><?php echo $this->__('Invoice #') ?></th>
            <th><?php echo $this->__('Date Invoiced') ?></th> -->
            <th><?php echo $this->__('SKU') ?></th>
            <th><?php echo $this->__('Item Description') ?></th>          
            <th><span class="nobr"><?php echo $this->__('Product Name') ?></span></th>
            <th><?php echo $this->__('Sold Qty') ?></th>
            <th><?php echo $this->__('Commission Percentage') ?></th>
            <th><?php echo $this->__('Sales Value') ?></th>
            <th><?php echo $this->__('Commission Value') ?></th>
        </tr>
    </thead>
    <tbody>
        <?php $_odd = ''; ?>
        <?php foreach ($collection as $item): ?>
        <tr>
            <!-- <td><?php echo Mage::getModel('sales/order_invoice')->load($item->getParentId())->getIncrementId(); ?></td>
            <td><?php echo $this->formatDate($item->getDateInvoiced()) ?></td> -->
            <td><?php echo $item->getSku() ?></td>
            <td></td>
            <td><span class="nobr"><?php echo $item->getName() ?></span></td>
            <td class="a-center"><?php echo round($item->getTotal()); ?></td>
            <td class="a-center"><?php if($item->getCommisionPercent()){ echo sprintf('%s%%', $item->getCommisionPercent() + 0); }else{ echo '0%'; } ?></td>
            <td class="a-right"><?php echo $item->getOrderItem()->getOrder()->formatPrice($item->getPrice()); ?></td>
            <td class="a-right"><?php echo $item->getOrderItem()->getOrder()->formatPrice($item->getAmount()); ?></td>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<script type="text/javascript">decorateTable('my-custom-table');</script>
<?php echo $this->getPagerHtml(); ?>
<?php else: ?>
    <p><?php echo $this->__('The collection is empty.'); ?></p>
<?php endif ?>
