#itoris_login .input_text{
	padding-top: 8px;
	height: 22px;
}

#itoris_login_box.register-form .field_box {
	zoom: 1;
	*display: inline;
}

#itoris_login .field_box select {
	height: 22px;
	padding: 0;
}