<?php
$_categories     = $this->getCategories();
$_collectionSize = count($_categories);
$cur_cat = Mage::registry('current_category')->getId();
$thumb_nail = Mage::getModel('catalog/category')->load($cur_cat)->getThumbnail();
$url = Mage::getBaseUrl('media').'catalog/category/'.$thumb_nail;
$image = Mage::getModel('catalog/category')->load($cur_cat)->getImage();
$_imgUrl = Mage::getBaseUrl('media').'catalog/category/'.$image;

if (!$_collectionSize) :
    return;
endif;

$columnsCount = $this->getColumnCount();
$showImage    = $this->getShowImage();
$height       = $this->getImageHeight();
$width        = $this->getImageWidth();
$maxCategoryCount    = $this->getCategoryCount();
$maxSubcategoryCount = $this->getSubcategoryCount();
$i = 0;
?>

<div class="category-products celebrity-landing">
<?php if($image && $thumb_nail): ?>
<div id="desktop_view">
	<?php if($_imgUrl): ?>
		<p class="category-image"><img src="<?php echo $_imgUrl; ?>"/> </p>
	<?php endif; ?>
</div>
<div id="mobile_view" style="display:none;">
	<?php if($url): ?>
		<p class="category-thumbnail"><img src="<?php echo $url; ?>"/></p>
	<?php endif; ?>
</div>
<?php endif; ?>
<div class="products-grid row">
<?php foreach ($_categories as $_category) : ?>

    <?php if ($i >= $maxCategoryCount): break; endif; ?>
	<?php $catId = $_category->getId();
		  $thumb_nail = Mage::getModel('catalog/category')->load($catId)->getThumbnail();
		  $url = Mage::getBaseUrl('media').'catalog/category/'.$thumb_nail;
			?>
		

    <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6 col-phone-6">
        <?php if ($showImage) : ?>
            <div class="item-img text-center">
                <a href="<?php echo $_category->getUrl() ?>" title="<?php echo $this->htmlEscape($_category->getName()) ?>" class="product-image">
                    <span class="img-main">
                        <?php if($thumb_nail): ?>
                            <?php
                                $style = '';
                                if (!empty($width)):
                                    $style = 'width: ' . (is_numeric($width) ? $width . 'px' : $width);
                                elseif (!empty($height)):
                                    $style = 'height: ' . (is_numeric($height) ? $height . 'px' : $height);
                                endif;
                            ?>
                            <img src="<?php echo $url ?>" style="<?php echo $style ?>" alt="<?php echo $this->htmlEscape($_category->getName()) ?>" />
                        <?php else: ?>
                            <img src="<?php echo Mage::helper('easycatalogimg/image')->resize($this->getImage($_category), $width, $height) ?>" alt="<?php echo $this->htmlEscape($_category->getName()) ?>" />
                        <?php endif; ?>
                    </span>
                </a>
            </div>
        <?php endif; ?>
        <div class="item-title text-center"><a href="<?php echo $_category->getUrl() ?>" title="<?php echo $this->htmlEscape($_category->getName()) ?>"><?php echo $this->htmlEscape($_category->getName()) ?></a></div>
        <?php /*
        if ($maxSubcategoryCount) :
            $j = 0;
            $_subcategories = $_category->getSubcategories();
            $_count         = count($_subcategories);
            // display More link, if more than 1 subcategories are not shown, otherwise - display last category
            $_displayMoreLink = $_count > $maxSubcategoryCount + 1;
            if ($_count) : ?>
                <ul class="list-subcategories">
                <?php foreach ($_subcategories as $_subcategory) :
                    if ($_displayMoreLink && ($j > $maxSubcategoryCount - 1)): ?>
                        <li>
                            <a href="<?php echo $_category->getUrl() ?>" title="<?php echo $this->htmlEscape($_category->getName()) ?>" class="link-more"><?php echo $this->__('More in %s...', $this->htmlEscape($_category->getName())); ?></a>
                        </li>
                        <?php break;
                    endif; ?>
                    <li>
                        <a href="<?php echo $_subcategory->getUrl() ?>"
                            title="<?php echo $this->htmlEscape($_subcategory->getName())?>"
                            class="category-name child-category"><?php
                            echo $this->htmlEscape($_subcategory->getName());
                        ?></a>
                    </li>
                    <?php $j++; ?>
                <?php endforeach;?>
                </ul>
            <?php
            endif;
        endif; */ ?>
    </div>
<?php endforeach; ?>
</div>
</div>

<script type="text/javascript">decorateGeneric($$('ul.category-grid'), ['odd','even','first','last'])</script>