/*------------------------------------------------------------------------
 * Copyright (C) 2013 The SNS Group. All Rights Reserved.
 * @license - GNU/GPL, http://www.gnu.org/licenses/gpl.html
 * Author: SNS Group
 * Websites: http://www.snstheme.com
-------------------------------------------------------------------------*/

@import "../sns/producttabs/less/effects.less";
@import "../sns/producttabs/less/styles.less";
@import "../sns/twitter/less/style.less";
@import "../sns/facebook/less/style.less";


#fancybox-content,
#fancybox-content > div{overflow: visible !important;}

.fancybox-overlay + .zoomContainer {
	z-index: 8888 !important;
}
.zoomContainer {
//	z-index: 10 !important;
}
.zoomWindow {
	border-right:1px solid #ddd !important;
}


.sns-slider { 
	margin: 8px 0;
	.container-slider {
		margin: 0 -15px;
		position: relative;
		&:hover {
			.navslider {
				.opacity(1);
			}
		}
		.navslider {
			.opacity(0);
			.transition(all 0.25s linear); 
			a {
				position: absolute;
				top: 50%;
				margin-top: -20px;
				font-size: 40px;
				color: #ccc;
				z-index: 1;
				&:hover {
					color: @color1;
				}
				&.prev {
					left: 25px;
				}
				&.next {
					right: 25px;
				}
			}
		}
		.owl-item {
			> .item {
				padding: 1px 15px;
				margin-top: 0;
			}
			
		}
	}
}


.promo-wrap{
	background: #e8e8e8;
	.pro-col{width: 33.33%; float: left;
		&.pro-left{
			position: relative;
			&:before{position: absolute;content: ""; display:inline-block;//width: 25px; height: 50px;
				border-bottom: 25px solid rgba(0, 0, 0, 0);
			    border-right: 25px solid #e8e8e8;
			    border-top: 25px solid rgba(0, 0, 0, 0);
			    right: 0px; top: 50%; margin-top: -13px; z-index: 1;
			}
		}
		&.pro-right{
			position: relative;
			&:before{position: absolute;content: ""; display:inline-block;//width: 25px; height: 50px;
				border-bottom: 25px solid rgba(0, 0, 0, 0);
			    border-left: 25px solid #e8e8e8;
			    border-top: 25px solid rgba(0, 0, 0, 0);
			    left: 0px; top: 50%; margin-top: -13px; z-index: 1;
			}
		}
		&.pro-mid{ text-align: center;
			.title{font-size: 269.23%; font-weight: bold;text-transform: uppercase; padding: 50px 0 18px; margin: 0 0;
				line-height: 32px; position: relative;
				&:after{position: absolute;content: ""; width: 80%; left: 10%; bottom:0px; height: 1px; border-bottom: 2px dashed #CCC;}
			}
			.sub-title{padding: 16px 0; margin: 0 15px; font-size: 100%;}
		}
	}
	&.twocol-special{
		.pro-col{
			&.pro-left{width: 55%;}
			&.pro-mid{width: 45%;}
		}
	}
}

.sns_testimonial {
	.wrap {
		.clearfix();
		.avatar {
			overflow: hidden;
			float: left;
			margin-right: 20px;
		}
		.info {
			overflow: hidden;
            color: #fff;
            font-style: italic;
			.tes-info {
              .name{
                color: #fff;
                border-top: 1px dotted #666;
                display: inline-block;
                margin-top: 10px;
                padding-top: 10px;
                padding-right: 120px;
              }
			}

		}
		
	}
	.owl-carousel {
		position: relative;
        padding-top: 5px;
		.owl-pagination {
			text-align: center;
			position: absolute;
			top: 0;
			width: 100%;
			left: 0;
			.owl-page {
				.inline-block();
				.square(16px);
				border: 2px solid #ddd;
				position: relative;
				margin: 0 5px;
				border-radius: 50%;
				span {
					.square(8px);
					margin: 2px;
					display: block;
					border-radius: 50%;
				}
				&.active,
				&:hover {
					span {
						background: #ddd;
					}
				}
			}
		}
	}
	p {
		margin: 0;
		padding: 0 5%;
	}
	.tes-info {
		color: #666;
	}
}









