// 2.Tablets landscape to regular desktops
// --------------------------------------------------
@media (min-width: @screen-lg-min) {
	.col-lg-first {
		clear: left;
	}
}
@media (min-width: @screen-md-min) {
	.col-md-first {
		clear: left;
	}
}
@media (min-width: @screen-sm-min) {
	.col-sm-first {
		clear: left;
	}
}
@media (max-width: @screen-xs-max) {
	.col-xs-first {
		clear: left;
	}
}
@media (max-width: @screen-phone) {
	[class*="col-phone-"]{
		position: relative;
		min-height: 1px;
		padding-left:  (@grid-gutter-width / 2);
		padding-right: (@grid-gutter-width / 2);
		float: left
	}
	.make-grid(12, phone, width);
	.visible-phone {
		display: block !important;
	}
}

.row.index_block {
	@media (max-width: @screen-md-max){
		> [class*='col-lg-'] {
			padding-top: 30px;
			&:first-child {
				padding-top: 0;
			}
		}
	}
	@media (max-width: @screen-sm-max){
		> [class*='col-lg-'], > [class*='col-md-'] {
			padding-top: 30px;
			&:first-child {
				padding-top: 0;
			}
		}
	}
	@media (max-width: @screen-xs-max){
		> [class*='col-lg-'], > [class*='col-md-'], > [class*='col-sm-'] {
			padding-top: 30px;
			&:first-child {
				padding-top: 0;
			}
		}
	}
}
@media  (max-width: 1024px)  {
		.block  .block-title{font-size: 130% !important;}
		.products-list > li.item .col-left .item-img .countdown {
			top:10px !important;
		}
		#sns_content .block.block-layered-nav dl#narrow-by-list dd .price .text-box {
		> .inner input{width:40px;}
		> .inner button{width:55px;}
		}
	}
@media (min-width: 980px) and (max-width: 1024px) {
	.sns-product-detail{
		#sns_tab_products{
			ul.sns-tab-navi{
				li{
					a{padding: 9px;}
				}
			}
		}
	}
	.promo-wrap{
		.pro-col{
			&.pro-mid{
				.title{padding: 30px 0 18px; font-size: 200%;
				}
			}
		}
		&.twocol-special{
			.pro-col{
				&.pro-left{width: 55%;}
				&.pro-mid{width: 45%;}
			}
		}
	}
}
// 3.Tablets to regular desktops
// /*--------------------------------------------------*/
@media (min-width: 768px) and (max-width: 979px) {
	.promo-wrap{
		.pro-col{
			&.pro-mid{
				.title{padding:30px 0 15px; font-size: 150%; line-height: 22px;
				}
				.sub-title{padding: 10px 0; line-height: 18px;}
			}
		}
		&.twocol-special{
			.pro-col{
				&.pro-left{width: 55%;}
				&.pro-mid{width: 45%;}
			}
		}
	}
}
@media (max-width: 979px) {
	#sns_header #sns_menu .header-menu-block {padding:20px;}
	.data-table{
		thead tr td, thead tr th{
			white-space: normal;
			padding: 5px;
		}
		tbody td{padding: 5px;}
		input.input-text{
			width: auto; max-width: 70%;
		}
		textarea{max-width: 70%;}
		.button{padding-left: 7px; padding-right: 7px; margin: 2px 0;}
		.price-box .price{font-size: 120%}
		&.cart-table{
		}
	}
	.wrap-quickview{display: none !important;}
	.sns-btn-quickview{display: none;}
	#sns_content{
		.category-products{
			.toolbar{
				.view-mode label,
				.sort-by label{display: none;}
				.limiter{display: none}
				.pager{
					.amount{display: none;}
				}
			}
		}
	}
	#sns_cpanel{display: none}
}

@media (max-width: 641px) {
	
	.stickynote-top{display: none;}
	.col2-set{
		.col-1{width: 100%; margin-bottom: 10px;}
		.col-2{width: 100%; margin-bottom: 10px;}
	}
	.cart{
		.col2-set{width: 100%;}
		tbody td{.product-name{line-height: 18px;}}
		tfoot td{ padding: 10px 5px;}
		.totals{width: 100%}
		.a-center{input.input-text{padding: 6px 2px; text-align: center}}
	}
	#sns_content{
		.block.block-social .block-title{float: none; display: block; margin-bottom: 20px;}
		.block.slide-banner {
			ul{ margin-left: 0px !important;
				> li{width: 620px !important;}
			}
		}
		#sns_right,
		#sns_left{ margin-bottom: 30px;
			.block-layered-nav{
				.price{
					.text-box{
						input[type="text"]{width: 60px;}
					}
				}
			}
		}
		#sns_mainmidle{
			.category-products{
				.toolbar{
					.sort-by{display: none}
				}
			}
		}
	}
	#sns_promotions{display: none;}
	.price-box .old-price{margin-right: 5px;}
	
	
		
}
@media(max-width: @screen-md-max){
  .sns-product-detail .product-shop .add-to-box .add-to-list li a{padding-right: 0;margin-left: 0;}
  .sns-product-detail .product-shop .add-to-box .email-friend::after,
  .sns-product-detail .product-shop .add-to-box .link-compare::after,
  .sns-product-detail .product-shop .add-to-box .link-wishlist::after{left: 5px;}
}

@media (max-width: @screen-xs-max) {
  #bd.boxed-layout .before_content{
    padding: 15px 15px 0;
  }
  #bd.boxed-layout .before_content .policy{margin: 0 -15px;}

	.sns-pdt-nav {
		h3.pdt-nav {display:none;}
		> li.dropdown {display:block !important;}
	}
	.block.sns-deals .countdown .countdown-section {
		margin-left:1px !important;
	}
	#sns_footer_map .btn_gmap {margin-left:-95px !important; top:-28px !important;}
  .block{
    &.sns-deals{
      .countdown{
        .countdown-row{
          .countdown-section{width: 24%;}
        }
      }
    }
  }
  #sns_footer_top .footer-link-menu{text-align: center;}
  #sns_footer_bottom .payment{text-align: center;margin-top: 10px;}
  #sns_footer_bottom .sns-copyright{text-align: center;}
  #sns_header .sns_header_top .header-account{
    .myaccount {
      .acc_tonge ();
      .tongle{
        display: block;
      }
    }
  }
  #sns_header .sns_header_top .header-account {
    display: inline-block;
    float: inherit;
    .myaccount{
      padding-bottom: 7px;
      position: relative;
      &:before{
        position: absolute;
        width: 1px;
        height: 12px;
        background: #ccc;
        top: 12px;
        left: 0;
        content: "";
      }
      .customer-ct{
        margin-top: 2px;
        left: 0;
        right: inherit;
        ul.links{
          li{
            display: block;
            width: 100%;
            min-height: 32px;
            margin-left: 0;
            line-height: 32px;
            a{
              padding-top: 0px;
              padding-bottom: 0px;
              padding-left: 10px;
              display: block;
              line-height: 34px;
              width: 100%;
              border: none;
              &:hover{
                background: #ccc;
                color: #666;
              }
            }
            &:last-child a{
              border-bottom: none !important;
            }
            &:before{display: none;}
          }
        }
      }
    }
  }
  .sns-slidercategory img{width: 100%;}
  #sns_header{
    .block_topsearch .top-search{
      width: 100%;
      padding-left: 0;
      input{width: 100%;padding-left: 135px;}
      .bootstrap-select{
        width: 125px !important;
        button.selectpicker{width: 125px}
      }
    }
    .top-cart{
      position: absolute;
      right: 15px;
      top: 99px;
      padding-top: 0;
      .custom_link{display: none;}
      .mycart{
        height: 50px;line-height: 50px;
        .tongle{line-height: 50px; .fa{line-height: 50px;}}
      }
    }
  }
}
@media (max-width:480px){
.cart ul.checkout-types {padding-left:0 !important;float:left;width:100% !important;}
	.cart .data-table .button {
	display:block !important;
	width:100%;
	margin:10px 0;
	}
	.cart-collaterals .totals table td {text-align:left !important; padding:0px !important;}
	
}

@media (max-width: @screen-sm-max) {
  #sns_header {
    #sns_header-logo {
      padding-top: 10px;
      #logo {
        text-align: center;
        padding-bottom: 10px;
      }
    }
    .block_topsearch .top-search{padding-left: 0;}
  }
  .policy .policy_custom{margin-bottom: 0;padding-bottom: 15px;}
  .policy .container_in{padding-bottom: 20px;}

}
@media (max-width: @screen-phone) { 
	#sns_header {
		#sns_menu {
		 h1 {margin:0px;}
		.header-menu-block {padding:0px !important;}
		}
		#sns_header_bot .block_categories {display:none !important;}
		#sns_header_bot {
		//margin-top:50px;
		.container {width:100% !important;}
		.block_categories {display:none;}
		}
		
		
	}
	#sns_header{
		&.transparent { 
			#sns_menu  {position:static !important;}
			#sns_slideshow {min-height:0px !important;}
		}
	}
	
	.mrb40 .slideshow-homepage {margin-bottom:20px;}
	
	.mrb50 {
		margin-bottom: 30px;
		.banner {
			margin-bottom: 2px;
		}
	}
	#sns_header #sns_menu .header-menu-block .header-tools {
		float:right;
		margin-top:4px;
	}
  .sns-product-detail .product-shop .add-to-box .email-friend span,
  .sns-product-detail .product-shop .add-to-box .link-compare span,
  .sns-product-detail .product-shop .add-to-box .link-wishlist span{display: none;}
  .blog-testimonial .block-latestblog .block-content .post-img{
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .sns_testimonial .wrap {
    .avatar-info{
      float: left;
      width: 100%;
      margin-bottom: 10px;
    }
    .avatar{
      width: 100%;
      margin-right: 0;
      img{
        width: 100%;
      }
    }
  }
	
}
