/*------------------------------------------------------------------------
 * Copyright (C) 2013 The SNS Group. All Rights Reserved.
 * @license - GNU/GPL, http://www.gnu.org/licenses/gpl.html
 * Author: SNS Group
 * Websites: http://www.snstheme.com
-------------------------------------------------------------------------*/



.product-image-gallery {
    position: relative;
}
.product-image-gallery .gallery-image {
    display: none;
}
.product-image-gallery .gallery-image.visible {
    display: block;
}
.product-image-gallery .gallery-image.visible.hidden {
    visibility: hidden;
}
















label, span.label {font-size:100%; font-weight: normal;}
label em, p.required{color:#fe6d4c;}

.tooltip {
  padding-bottom: 20px;
  .in {
	.opacity(0.6);
	//      margin-top: 0;
  }
  .tooltip-inner {
	background: @color1;
	border-radius:3px;
	color: #fff;
	border:1px solid @color1;
  }
}
.tooltip.top .tooltip-arrow{
  border-top-color:@color1;
}
.tooltip.right .tooltip-arrow{
  border-right-color: @color1;
}

.mrb30 {
  margin-bottom: 30px;
}
.mrb40 {
  margin-bottom: 40px;
}
.mrb20 {
  margin-bottom: 20px;
}
.mrb10 {
  margin-bottom: 10px;
}
.mrb50 {
  margin-bottom: 50px;
}
.wrap{
  width: 100%; clear: both;
  .clearfix();
}

input, textarea, .uneditable-input {width:206px;}
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
width:auto;
}
[class*="col-"]:hover {z-index: 1;}
[data-icon]{
	font-style: normal;
}
#sns_sticky_right,
#sns_sticky_left {
	display: none;
}
.sticky{ background: #FFF; padding: 0px; z-index: 998; border: 1px solid #cecece; border-right: none; 
	position: fixed; right: 0px; top: 100px; .border-radius(0 0 0 4px); .box-shadow(0 3px #cecece); border-bottom: none;
	&.style-show-content{width: 270px;}
	&.style-show-title{
		height: 50px; line-height: 50px; .border-radius(0);
		.sticky-content{padding: 0 20px; display: block;}
	}
	.sticky-button{position: absolute;top: -1px; left: -50px; height: 50px; width: 50px; font-size: 20px; cursor: pointer; line-height: 46px;
		background: #f5f5f5; text-align: center; border: 1px solid #cecece; border-bottom:none; .box-shadow(0 3px #cecece); .border-radius(4px 0 0 4px);
		span{display: none;}
		i{text-align: center; vertical-align: middle;}
		body.ie8 &{
			border-bottom: 3px solid #cecece;
		}
	}
	.sticky-content{ padding: 12px 20px;
		.block{
			.block-title{
				padding: 0px 0px 10px; border-bottom: 1px solid #DDD; 
			}
			.block-content{
				padding: 10px 0px 5px;
			}
			&.block-facebook{
				.btn-like{top: 0px; right: 0px;}
				.fanpage-list .item > .item-face{background: #efefef; .transition(all 0.2s ease);
					&:hover{background: @color1;}
				}
			}
		}
	}
}
#sns_sticky_left{
	.sticky{ border: 1px solid #cecece; border-left: none; right: auto;left: 0px;
		.border-radius(0 0 4px 0);
		body.ie8 &{
			border-bottom: 3px solid #cecece;
		}
		.sticky-button{ right: -50px; left: auto;
			border: 1px solid #cecece; border-bottom:none; .border-radius(0 4px 4px 0);
			body.ie8 &{
				border-bottom: 3px solid #cecece;
			}
		}
		
	}
}
#sns-totop {
    background: #aaa; .border-radius(100%);
    width: 45px;bottom: 5px;right: 5px;height: 45px; text-decoration: none;
    overflow: hidden; z-index: 40;position: fixed;display: block;text-align: center;
    .transition(all 0.2s ease-out 0s);
    &.hidden-top {bottom: -100px; }
    &:hover{background-color:@activeColor;
    	i{color: #FFF;}
    }
    i{font-size: 24px;color: #e5e5e5;position: relative; top: 8px;}
}
#facebook_fan iframe[style]{width: 100% !important}

.stickynote-top{background: #2d3538; color: #CCC; left: 0px; top: -100%; z-index: 99; position: fixed; visibility: hidden;
	.container{position: relative;
		.block{padding: 25px 80px 25px 0px;}
		.btn-close{position: absolute; height: 32px; width: 32px; right: 0px; top: 100%; margin-top: 5px; .transition(all 0.2s ease-in);
			text-indent: -999em; background: url("../images/btn-close.png") no-repeat left top; cursor: pointer; .transform(scale(0.5) rotate(45deg))
		}
	}
	&.loaded{visibility: visible;}
}

.sns-slider,
.block-latestblog {
	.owl-item {
		> * {
			.opacity(0.3);
			.scale(0.8);
			.transition(all 0.8s ease);
		}
		&.active {
			> * {
				.opacity(1);
				.scale(1);
			}
		}
	}
}
.tabdrop {
	margin: 0;
	.dropdown-toggle {
		margin: 0;
		&:before {
			.font-awesome (f13a, 14px)
		}
		* {display: none}
	} 
	
}

.blog-toolbar {
	.pager {
		margin: 0;
	}
}
.blog-toolbar{
	.toolbar{margin: 30px 0 0;
		.limiter{display: none;}
		.sort-by .select-new{
			.select-inner{
				select{width: 70px;}
				.jqTransformSelectWrapper{
					width: 110px !important;
					ul{width: 110px !important;}
				}
			}
		}
	}
	&.post{
		.toolbar{margin: 10px 0 20px;}
	}
}
.price .text-box input[type="button"]{
	background:#666; margin-left: 5px;
	&:hover{background-color: @activeColor;}
}
.product-name{
	font-size: 100%;
	a{color: inherit;
		&:hover{color: @activeColor}
	}
}




.search-form{
	ul{list-style: none;}
}
.page-head{ color: @labelColor;
	h2,h3,h4,h5{text-transform: uppercase; font-weight: bold; margin: 0 0 10px;}
}
.page-title{
	&.title-buttons {
		margin-bottom: 20px;
	}
	h1{
		font-size: 160%; 
		margin: 0px 0 25px; 
		text-transform: uppercase; 
	}
}
.sub-title{font-size: 110%}



a.readmore {
	color: @color1;
}
.highlight {
	color: @color1;
}
.height20 {
	margin: 0 0 20px;
	padding: 0;
	border: none;
}
.visible-phone {
	display: none;
}
@media (max-width: @screen-sm-max){
	.height20 {
		margin-bottom: 30px;
	}
}
@media (min-width: @screen-md-min){
	.row20 {
		margin: 0 -10px;
		[class^='col-']{
			padding: 0 10px;
		}
	}
}
@media (max-width: @screen-phone){
	[class*='col-xs-']{
	//	width: 100%; 
	}
	.visible-phone {
		display: block;
	}
}
.col-md-2d4 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	@media (min-width: 992px) {
		& {
			float: left;
			width: 100 / 5%;
		}
	}
}


.no-display{display: none}

#fancybox-close,
.btn-remove{
	.hide-text();
	.square(20px);
	.inline-block();
	&:before {
		.font-awesome(f00d, 20px);
		font-size: 14px;
		color: #666;
	}
	&:hover{
		border-color: @color1;
		&:before {
			color: @color1;
		}
	}
}
.btn-edit {
	.hide-text();
	.square(20px);
	.inline-block();
	border: 1px solid #ddd;
	border-radius: 5px;
	&:before {
		.font-awesome(f040, 20px);
		font-size: 14px;
		color: #666;
	}
	&:hover{
		border-color: @color1;
		&:before {
			color: @color1;
		}
	}
}


#fancybox-close{top: 10px; right: 10px;}
#fancybox-wrap{
	#fancybox-outer{border:2px solid #686868;.box-shadow(0 3px 7px rgba(0, 0, 0, 0.3));
	}
	.fancybox-bg{background: none}
}
#fancybox-overlay{background: #000 !important; .opacity(20) !important;}

/* jqTransform */
body {
	.jqTransformSelectWrapper{
		height: 22px; background: #E2E2E2;
		div{
			span{
				padding: 0 0; line-height: 22px; height: 22px;
			}
			a.jqTransformSelectOpen{
				height: 21px; width: 9px; background: none;
			}
		}
		ul{top: 22px;
			a{padding: 0 5px;
				&.selected:hover, &:hover{background:#999;}
			}
		}
		.jqTransformHidden {
			display: none;
		}
	}
	.jqTransformRadioWrapper {
		margin-top: 0;
		.jqTransformHidden {
			display: none;
		}
	}
	.jqtransformdone {
		line-height: 20px;
	}
}
.banner-item{ position: relative; display: block; text-align: center;
	&:before{
	    content: "";
	    display: block;
	    height: 100%;width: 100%;
	    position: absolute;
	    .transition(all 0.2s ease-in 0s);
	    background: rgba(0, 0, 0, 0.5);
	    .opacity(0);
	}
	&:hover{
		&:before{.opacity(100);}
	}
}
//.banner {
//	position: relative;
//	overflow: hidden;
//	display: block;
//	z-index: 0;
//	img {
//		width: 100%;
//		.transition(~"all 0.2s linear");.transition(~"all 0.2s linear");
//	}
//	&:before {
//		position: absolute;
//		content: '';
//		display: block;
//		.square(100%);
//		left: 0;
//		top: 0;
//		.transition(~"all 0.2s linear");
//		border: 0px solid fadeOut(@white, 100%);
//		z-index: 1;
//	}
//	&:hover{
//		&:before {
//			border: 15px solid fadeOut(@white, 70%);
//		}
//		img {
//			.scale(1.05);
//		}
//	}
//}
#banner {
	.style1 () {
		position: relative;
		overflow: hidden;
		display: block;
		z-index: 0;
		img {
			width: 100%;
			.transition(~"all 0.2s linear");.transition(~"all 0.2s linear");
		}
		&:before {
			position: absolute;
			content: '';
			display: block;
			left: 20px;
			top: 20px;
			right: 20px;
			bottom: 20px;
			.transition(~"all 0.35s ease-out");
			border: 3px solid @white;
			z-index: 1;
		}
		&:hover{
			&:before {
				border: 10px dashed fadeOut(@white, 100%);
				left: 5px;
				top: 5px;
				right: 5px;
				bottom: 5px;
			}
			img {
				.scale(1.05);
			}
		}
	}
	.style2 () {
		position: relative;
		overflow: hidden;
		display: block;
		z-index: 0;
		img {
			width: 100%;
			.transition(~"all 0.2s linear");.transition(~"all 0.2s linear");
		}
		&:before {
			position: absolute;
			content: '';
			display: block;
			.transition(~"all 0.35s ease-out");
			z-index: 1;
				left: 30%;
				top: 30%;
				right: 30%;
				bottom: 30%;
				border: 0px solid fadeOut(@white, 50%);
		}
		&:hover{
			&:before {
				border: 100px double fadeOut(@white, 100%);
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
			}
			img {
				.scale(1.05);
			}
		}
	}
	/*----------style 3--------*/
	.style3 () {
		cursor: default;
		overflow: hidden;
		position: relative;
			&:before, &:after {
				height:127px;
				width: 127px;
				 opacity: 0.5 !important;
				background-color:@color1;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				filter: alpha(opacity=100);
				opacity: 1;
				.transition(all 0.3s ease-out 0.3s);
				content: "";
				display: block;
				position: absolute;
			}
			&:before{
				left: auto;
				right: 0;
				.rotate(45deg,-180px);
				.transform-origin (100%,0%)
			}
			&:after{
				top: auto;
				bottom: 0;
				.rotate(45deg,180px);
				.transform-origin (0%,100%)
			}
			&:hover{
				&:before, &:after{
					.transition-delay (0s);
				}
				&:before{
					.rotate(45deg,0px);
				}
				&:after{
					.rotate(45deg,0px);
				}
			
			}	
		}
		/*-----style 4---------*/
		.style4(){
			display: block;
			width:100%;
			overflow: hidden;
			position: relative;
			&:before{
				content: "";
				position: absolute;
				top: 0; bottom: 0; left: 0; right: 100%;
				.transition( all 0.2s ease-out 0.3s);
				
				
			}
			&:after{
				content: "";
				position: absolute;
				top: 0; bottom: 0; left: 100%; right: 0;
				.transition( all 0.2s ease-out 0.3s);
			}
			&:hover {
				&:before{
				right: 50%;
				background-color:#fff;
				opacity:0.5;z-index:1;
				}
				&:after{
				left: 50%;
				background-color:#fff;
				opacity:0.5;
				}
			}
			&.black {
				&:hover {
				&:before{
				background-color:#000;
				opacity:0.1;
				}
				&:after{
				background-color:#000;
				opacity:0.1;
				}
			}
			}
		}
		/*------style5---------*/
		.style5 (){
			display: block;
			position: relative;
			overflow: hidden;
			&:before{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			.transition(all 0.6s ease-in-out);	
			}
			&:after{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			.transition(all 0.6s ease-in-out);
				
			}
			&:hover{
				&:before{right: 50%;left: 50%;background: rgba(255,255,255,0.2);}
				&:after {top: 50%;bottom: 50%;background: rgba(255,255,255,0.2);}
			}
			&.black {
				&:hover{
				&:before{right: 50%;left: 50%;background: rgba(0,0,0,0.1);}
				&:after {top: 50%;bottom: 50%;background: rgba(0,0,0,0.1);}
			}
			}
		}
}
.banner {
	#banner .style1();
}
.banner2 {
	position: relative;
	overflow: hidden;
	display: block;
	z-index: 0;
	img {
		width: 100%;
		.transition(~"all 0.2s linear");
		.scale(1.05);
	}
	&:before {
		position: absolute;
		content: '';
		display: block;
		.square(100%);
		left: 0;
		top: 0;
		.transition(~"all 0.2s linear");
		border: 0px solid fadeOut(@white, 100%);
		z-index: 1;
	}
	&:hover{
		&:before {
			border: 10px solid fadeOut(@white, 70%);
			
		}
		img {
			.scale(1);
		}
	}
	&.black {
		&:before  {border: 0px solid fadeOut(@black,100%);}
		&:hover:before {border: 10px solid fadeOut(@black, 90%);}
	}
}
.banner4 {
	#banner .style4();
		img{
		.transition(all 0.2s linear 0s);
			width:100%;
		}
		&:hover img {
			.transform(scale(1.05));
		}

}
 .banner5 {#banner .style5();}
.sns-custom-tabs {
	.custom-tab-head {
		.clearfix();
		h3 {
			border-bottom: 1px solid #ddd;
			padding-bottom: 10px;
		}
		.nav-tabs {
			.ulclear();
			border: none;
			li {
				font-size: 100%;
				color: #aaa;
				text-transform: uppercase;
				margin: 5px 0;
				+ li {
					margin-left: 10px;
				}
				&:hover {
					a {
						color: @color1;
					}
				}
				&.active {
					a {
						color: #fff;
						background: @color1;
						&:before {
							.border-arrow-bottom (12px, 6px, @color1);
							content: '';
							display: block;
							position: absolute;
							top: 100%;
							left: 50%;
							margin-left: -6px;
						}
					}
				}
				a {
					border: none;
					color: #666;
					background: #f1f1f1;
					padding: 2px 8px;
					display: block;
					border-radius: 0;
					position: relative;
				}
			}
		}
	}
	.tab-content {
		margin-bottom: 15px;
		.block-title-slider {
			position: static;
			margin: 0;
			padding: 0;
			height: 0;
			h3 {display: none;}
			.navslider {
				position: static;
				margin: 0;
				a {
					position: absolute;
					bottom: 50%;
					z-index: 1;
					&.next {
						right: -36px/2;
						left: auto;
					}
					&.prev {
						right: auto;
						left: -36px/2;
					}
					i {
						font-size: 20px;
						.square(40px);
						line-height: 34px;
						background: #fff;
						color: #ccc;
						border: 3px solid #ddd;
					}
				}
			}
		}
	}
}

// hide owl container
.products-deals {
	display: none;
}


#fancybox-loading {
    position: fixed;
    left: 50%;
    padding: 15px 0 10px;
    width: 180px;
    background: #000;
    margin: -15px 0 0 -90px;
    text-align: center;
    box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    -o-box-shadow: 0 0 5px #000;
    .opacity(0.7);
    &:before {
    	content: '';
    	display: block;
    	height: 30px;
    	background: url(../images/camera-loader.gif) no-repeat center center;
    }
    div {
        margin-top: 8px;
        color: #FFF;
        background: none;
    	width: 100%;
    	height: auto;
        &:before {
        	content: 'Please wait...';
        	text-align: center;
        }
    }
}


.fa-ul {
	li {
		padding-top: 0;
		i {
			margin-top: 3px;
		}
	}
}


.fright {
	right: auto !important;
	left: 100% !important;
}
.head-policy {
	line-height: 1.3;
	strong {
		color: #666;
	}
	[class*='col-']:hover {
		.fa {color: @color1;}
	}
}
.banner-slider {
	display: none;
	.owl-controls {
		.owl-pagination {
			position: absolute;
			bottom: 10%;
			left: 0;
			right: 0;
			text-align: center;
			height: 0;
			.owl-page {
				.inline-block();
				margin: 0 5px;
				&:hover, &.active {
					span {
						&:before {
							border: 1px solid #fff;
						}
					}
				}
				span {
					display: block;
					.square(10px);
					background: #f2f2f2;
					position: relative;
					&:before {
						position: absolute;
						display: block;
						.square(16px);
						top: 50%;
						left: 50%;
						margin: -8px 0 0 -8px;
						content: '';
					}
				}
			}
		}
	}
}


/*------*/
#links {
	.style1(){
		a.have-borderinset , button.have-borderinset{
			background:transparent;
			color:@color1;
			margin-left:-5px;
			padding:0px;
			.transition(all 0s ease 0s);
			 > span {transition:0s;}
			&:before, &:after {
				display: inline-block;
				opacity: 0;
				-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
				-moz-transition: -moz-transform 0.3s, opacity 0.2s;
				transition: transform 0.3s, opacity 0.2s;
			}
			&:before{
				margin-right:5px;
				content: '[';
				.transform(translateX(20px));
						}
			&:after{
				margin-left:5px;
				content: ']';
				.transform(translateX(-20px));		
			}
			&:hover {
				background:transparent;
				color:@color2;
				&:before, &:after{
				opacity: 1;
				.transform(translateX(0px));
				}
			}
		}
		}
		
}
/*----animation-----*/
.animation-icon(@name) {
	-webkit-animation-name: @name;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
	-moz-animation-name: @name;
    -moz-animation-duration: 0.6s;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 0.1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-play-state: running;
	-o-animation-name: @name;
    -o-animation-duration: 0.6s;
    -o-animation-timing-function: linear;
    -o-animation-delay: 0.1s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: alternate;
    -o-animation-play-state: running;
	animation-name: @name;
	animation-duration:0.6s;
	animation-timing-function: linear;
	animation-delay: 0.1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;
}

	@keyframes iconmap {
		0%{
				transform: translate(-2px, -2px);
		}
		 100%{
				transform: translate(3px, -3px);
		}
	}
	@-moz-keyframes iconmap {
		0%{
				-moz-transform: translate(-2px, 2px);
		}
		 100%{
				-moz-transform: translate(3px, -3px);
		}
	}
	@-webkit-keyframes iconmap {
		 0%{
				-webkit-transform: translate(-2px, 2px);
		}
		 100%{
				-webkit-transform: translate(3px, -3px);
		}
	}
	@-o-keyframes iconmap {
		 0%{
				-o-transform: translate(-2px, 2px);
		}
		 100%{
				-o-transform: translate(3px, -3px);
		}
	}

.style-aylen(){
  .button--aylen::before,
  .button--aylen::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }
  .button--aylen::before {
    background: #fd7171;
  }
  .button--aylen::after {
    background: #e54d4d;
  }
  .button--aylen:hover {
    color: #fff;
  }
  .button--aylen:hover::before,
  .button--aylen:hover::after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .button--aylen:hover::after {
    -webkit-transition-delay: 0.175s;
    transition-delay: 0.175s;
  }
}