.celebrity .celebrity-landing .item-img{
	/*border: 1px solid #ccc;*/
}
.products-grid .item .item-title {
  max-height: 28px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  position: relative;
}
.cart-empty .click-continue-shopping{
	text-decoration: underline;
	font-style: italic;
}