<?php
    $mage_ver = Mage::helper('onepagecheckout')->getMagentoVersion();
    $logged		= $this->isCustomerLoggedIn();
    $has_addr	= $this->customerHasAddresses();
    //Exclude field
    $enable_country = !trim(Mage::getStoreConfig('onepagecheckout/exclude/country'));
    $enable_city = !trim(Mage::getStoreConfig('onepagecheckout/exclude/city'));
    $enable_telephone = !trim(Mage::getStoreConfig('onepagecheckout/exclude/telephone'));
    $enable_company = !trim(Mage::getStoreConfig('onepagecheckout/exclude/company'));
    $enable_fax = !trim(Mage::getStoreConfig('onepagecheckout/exclude/fax'));
    $enable_region = !trim(Mage::getStoreConfig('onepagecheckout/exclude/region'));
    $enable_zip_post = !trim(Mage::getStoreConfig('onepagecheckout/exclude/zip_post'));
    $enable_address = !trim(Mage::getStoreConfig('onepagecheckout/exclude/address'));
    $enable_tax_vat = !trim(Mage::getStoreConfig('onepagecheckout/exclude/tax_vat'));
    //Required field
    $required_fname = trim(Mage::getStoreConfig('onepagecheckout/required/firtname'));
    $required_lname = trim(Mage::getStoreConfig('onepagecheckout/required/lastname'));
   /* echo "<pre>";
    echo $required_fname." ".$required_lname;
    echo "</pre>";
    exit();*/
    $required_country = trim(Mage::getStoreConfig('onepagecheckout/required/country'));
    $required_city = trim(Mage::getStoreConfig('onepagecheckout/required/city'));
    $required_telephone = trim(Mage::getStoreConfig('onepagecheckout/required/telephone'));
    $required_company = trim(Mage::getStoreConfig('onepagecheckout/required/company'));
    $required_fax = trim(Mage::getStoreConfig('onepagecheckout/required/fax'));
    $required_region = trim(Mage::getStoreConfig('onepagecheckout/required/region'));
    $required_zip_post = trim(Mage::getStoreConfig('onepagecheckout/required/zip_post'));
    $required_address = trim(Mage::getStoreConfig('onepagecheckout/required/address'));
    $required_tax_vat = trim(Mage::getStoreConfig('onepagecheckout/required/tax_vat'));
    //Auto update ajax
    $auto_update_section = trim(Mage::getStoreConfig('onepagecheckout/auto_update_section/option'));
    
    $type_auto_update = explode(',',$auto_update_section);
	//Registration 
    $registration = trim(Mage::getStoreConfig('onepagecheckout/registration/type'));
?>
<input type='hidden' name='billing[address_id]' id='billing:address_id' value='<?php echo $this->getBillAddress()->getId() ?>'/>
<div class="opc_billing_title step-title"><h1>	<?php	echo $this->__('Billing Address');	?></h1></div>
<div class="opc_billing_content">
    <?php if ($has_addr){ ?>
        <div class="full">
            <label for="billing_cutomer_address">
            	<?php echo $this->__('Select a billing address from your address book or enter a new address.') ?>
            </label>
            <div class="data_area">
                <?php echo $this->getCustomerBillAddr() ?>
            </div>
        </div>
    <?php } ?>
    <div class="billing_full_info" <?php if ($has_addr) {echo ' style="display:none;" ';} ?>>
		<ul>
		
        <li class="two-fields ">
            <div class="field firt_name">
                <label class="<?php echo $required_fname?'required':''; ?>" for="billing_firstname">
                    <?php echo $this->__('First Name') ?>
                    <?php echo $required_fname?'<em>*</em>':''; ?>
                </label>
                <div class="input-box">
                    <input id="billing_firstname" class="input-text <?php echo $required_fname?'required-entry':''; ?>" type="text" title="First Name" value="<?php if (!$has_addr){echo $this->htmlEscape($this->getBillAddress()->getFirstname());} ?>" name="billing[firstname]" autocomplete="off"/>
                </div>
            </div>
            <div class="field last_name">
                <label class="<?php echo $required_lname?'required':''; ?>" for="billing_lastname">
                    <?php echo $this->__('Last Name') ?>
                    <?php echo $required_lname?'<em>*</em>':''; ?>
                </label>
                <div class="input-box">
                    <input id="billing_lastname" class="input-text <?php echo $required_lname?'required-entry':''; ?> " type="text" title="Last Name" value="<?php if(!$has_addr){echo $this->htmlEscape($this->getBillAddress()->getLastname());} ?>" name="billing[lastname]" autocomplete="off"/>
                </div>
            </div>
            <div class="both" style="clear: both;"></div>
        </li>
		<li class="one-field ">
        <?php //if (!$logged)  : ?>
            <div class="field email">
                <label class="required" for="billing_email">
                    <?php echo $this->__('Email Address') ?>
                    <em>*</em>
                </label>
                <div class="input-box">
                    <input id="billing_email" class="input-text required-entry validate-email" type="text" title="Email Address" value="<?php if(!$has_addr){echo $this->htmlEscape($this->getBillAddress()->getEmail());} ?>" name="billing[email]" autocomplete="off"/>
                </div>
            </div>
        <?php //endif ?>
		</li>

				
		<li class="two-fields ">
        <?php if($enable_telephone){?>
            <div class="field phone">
                <label class="<?php echo $required_telephone?'required':''; ?>" for="billing_telephone">
                    <?php echo $this->__('Mobile') ?>
                    <?php echo $required_telephone?'<em>*</em>':''; ?>
                </label>
                <div class="input-box billing_telephone">
                    <input id="billing_telephone" class="input-text <?php echo $required_telephone?'required-entry':''; ?> " type="text" title="<?php echo $this->__('Mobile') ?>" value="<?php if(!$has_addr){echo $this->htmlEscape($this->getBillAddress()->getTelephone());} ?>" name="billing[telephone]" autocomplete="off"/>
                </div>
            </div>
        <?php } ?>
        <?php if($enable_country) {?>
            <div class="field country">
                <label class="<?php echo $required_country?'required':''; ?>" for="billing_country_id">
                    <?php echo $this->__('Country') ?>
                    <?php echo $required_country?'<em>*</em>':''; ?>
                </label>
                <div class="input-box input-box-country billing-country">
                    <?php echo $this->getBillingCountriesSelectBox() ?>
                </div>
            </div>
        <?php } ?>
        </li>
        <li class="two-fields ">
        <?php if($enable_region){?>
            <div class="field state">
                <label class="<?php echo $required_region?'required':''; ?>" for="billing_region_id">
                     <?php echo $this->__('Governorate') ?>
                     <?php echo $required_region?'<em>*</em>':''; ?>
                </label>
                <div class="input-box input-box-region billing-region">
                    <select id="state_id" name="billing[region_id]" title="<?php echo $this->__('Governorate') ?>" class="<?php echo $required_region?'validate-select':''; ?>" style="display:none;">
                        <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                    </select>
                    <input id="billing_region" class="input-text <?php echo $required_region; echo $required_region?'required-entry':''; ?>" type="text" name="billing[region]" autocomplete="off" value="<?php echo $this->htmlEscape($this->getBillAddress()->getRegion()); ?>" title="<?php echo $this->__('State/Province') ?>" style="display:none;" />
                </div>
            </div>
        <?php } ?>
        <?php if($enable_zip_post){?>
            <div class="field zip">
                <label class="<?php echo $required_zip_post?'required':''; ?>" for="billing_postcode">
                    <?php echo $this->__('Zip/Postal') ?>
                    <?php echo $required_zip_post?'<em>*</em>':''; ?>
                </label>
                <div class="input-box billing_postcode">
                    <input id="billing_postcode" class="input-text <?php echo $required_zip_post?'required-entry':''; ?>" type="text" title="Zip/Postal" value="<?php echo $this->htmlEscape($this->getBillAddress()->getPostcode()); ?>" name="billing[postcode]" autocomplete="off"/>
                </div>
            </div>
        <?php } ?>
		</li>
        <li class="two-fields">
        </li>
        <li class="two-fields kw_only_fields" style="display:none;">
            <?php if($enable_city){ ?>
                <div class="field city">
                    <label class="<?php echo $required_city?'required':''; ?>" for="billing_city">
                        <?php echo $this->__('Area') ?>
                        <?php echo '<em>*</em>'; ?>
                    </label>
                    <div class="input-box billing_city">
                        <input value="<?php echo $this->htmlEscape($this->getBillAddress()->getCity()); ?>" id="billing_city" class="input-text <?php echo $required_city?'required-entry':''; ?>" type="text" title="City" name="billing[city]" autocomplete="off"/>
                    </div>
                </div>
            <?php } ?>
            <div class="field addrblock">
                <label class="required" for="billing_addr_block">
                    <?php echo $this->__('Block') ?>
                    <?php echo '<em>*</em>'; ?>
                </label>
                <div class="input-box">
                    <input id="billing_addr_block" class="input-text required-entry" type="text" title="<?php echo $this->__('Block') ?>" value="<?php if(!$has_addr){echo $this->htmlEscape($this->getBillAddress()->getAddrBlock());} ?>" name="billing[addr_block]" autocomplete="off"/>
                </div>
            </div>
        </li>
        <li class="two-fields kw_only_fields" style="display:none;">
            <div class="field street">
                <label class="required" for="billing_street">
                    <?php echo $this->__('Street') ?>
                    <?php echo '<em>*</em>'; ?>
                </label>
                <div class="input-box billing_addr_street">
                    <input id="billing_addr_street" class="input-text required-entry" type="text" title="Street" value="<?php if(!$has_addr){echo $this->htmlEscape($this->getBillAddress()->getAddrStreet());} ?>" name="billing[addr_street]" autocomplete="off"/>
                </div>
            </div>
            <div class="field villa">
                <label class="required" for="billing_addr_villa">
                    <?php echo $this->__('Villa/Building') ?>
                    <?php echo '<em>*</em>'; ?>
                </label>
                <div class="input-box billing_addr_villa">
                    <input id="billing_addr_villa" class="input-text required-entry" type="text" title="Villa/Building" value="<?php if(!$has_addr){echo $this->htmlEscape($this->getBillAddress()->getAddrVilla());} ?>" name="billing[addr_villa]" autocomplete="off"/>
                </div>
            </div>
        </li>
        <li class="two-fields kw_only_fields" style="display:none;">
            <?php /*<div class="field avenue">
                <label for="billing_addr_avenue">
                    <?php echo $this->__('Avenue') ?>
                </label>
                <div class="input-box">
                    <input id="billing_addr_avenue" class="input-text" type="text" title="<?php echo $this->__('Avenue') ?>" value="<?php if(!$has_addr){echo $this->htmlEscape($this->getBillAddress()->getAddrAvenue());} ?>" name="billing[addr_avenue]" autocomplete="off"/>
                </div>
            </div>*/ ?>
            <div class="field flatenumber">
                <label class="required" for="billing_addr_flatenumber">
                    <?php echo $this->__('Flat Number') ?>
                </label>
                <div class="input-box">
                    <input id="billing_addr_flatenumber" class="input-text" type="text" title="<?php echo $this->__('Flat Number') ?>" value="<?php if(!$has_addr){echo $this->htmlEscape($this->getBillAddress()->getAddrFlatenumber());} ?>" name="billing[addr_flatenumber]" autocomplete="off"/>
                </div>
            </div>
            <div class="field floornumber">
                <label class="required" for="billing_Floornumber">
                    <?php echo $this->__('Floor Number') ?>
                </label>
                <div class="input-box billing_addr_floornumber">
                    <input id="billing_addr_floornumber" class="input-text" type="text" title="Floor Number" value="<?php if(!$has_addr){echo $this->htmlEscape($this->getBillAddress()->getAddrFloornumber());} ?>" name="billing[addr_floornumber]" autocomplete="off"/>
                </div>
            </div>
        </li>
        <li class="two-fields kw_only_fields" style="display:none;">
            <div class="field kw_only_fields landline" style="display:none;">
                <label for="billing_addr_landline">
                    <?php echo $this->__('Land Line') ?>
                </label>
                <div class="input-box">
                    <input id="billing_addr_landline" class="input-text" type="text" title="<?php echo $this->__('Land Line') ?>" value="<?php if(!$has_addr){echo $this->htmlEscape($this->getBillAddress()->getAddrLandline());} ?>" name="billing[addr_landline]" autocomplete="off"/>
                </div>
            </div>
        </li>
        <li class="two-fields ">
            <?php if($enable_fax){?>
                <div class="field fax">
                    <label class="<?php echo $required_fax?'required':''; ?>" for="billing_fax">
                        <?php echo $this->__('Fax') ?>
                        <?php echo $required_fax?'<em>*</em>':''; ?>
                    </label>
                    <div class="input-box billing_fax">
                        <input id="billing_fax" class="input-text <?php echo $required_fax?'required-entry':''; ?>" type="text" title="<?php echo $this->__('Fax') ?>" value="<?php if(!$has_addr){echo $this->htmlEscape($this->getBillAddress()->getFax());} ?>" name="billing[fax]" autocomplete="off"/>
                    </div>
                </div>
            <?php } ?>
		</li>
		
        <li class="one-field ">
        <?php if($enable_address){ ?>
            <div class="field address">
                <label class="<?php echo $required_address?'required':''; ?>" for="billing_street1">
                    <?php /*echo $this->__('Details') */?>
                    <?php echo $this->__('Extra Remarks') ?>
                    <?php echo $required_address?'<em>*</em>':''; ?>
                </label>
                <div class="input-box">
                    <input type="text" title="<?php echo $this->__('Street Address')  ?>" name="billing[street][]" id="billing:street1" value="<?php if(!$has_addr){echo $this->htmlEscape($this->getBillAddress()->getStreet(1));} ?>" class="input-text <?php echo $required_address?'required-entry':''; ?>" autocomplete="off"/>
                </div>
            </div>
        <?php } ?>
        </li>
		<li class="two-fields kw_only_fields" style="display:none;">
            <?php if($enable_company){?>
                <div class="field company">
                    <label class="<?php echo $required_company?'required':''; ?>" for="billing_company">
                        <?php echo $this->__('Company') ?>
                        <?php echo $required_company?'<em>*</em>':''; ?>
                    </label>
                    <div class="input-box billing_company">
                        <input id="billing_company" class="input-text <?php echo $required_company?'required-entry':''; ?>" type="text" title="Company" value="<?php if(!$has_addr){echo $this->htmlEscape($this->getBillAddress()->getCompany());} ?>" name="billing[company]" autocomplete="off"/>
                    </div>
                </div>
            <?php } ?>  
		</li>
		<!--
		<li class="one-field ">
            <?php /*if($enable_tax_vat){?>
                <div class="field tax">
                    <label class="<?php echo $required_tax_vat?'required':''; ?>" for="billing:taxvat">
                        <?php echo $this->__('Tax/VAT number') ?>
                        <?php echo $required_tax_vat?'<em>*</em>':''; ?>
                    </label>
                    <div class="input-box billing_fax">
                        <input id="billing:taxvat" class="input-text <?php echo $required_tax_vat?'required-entry':''; ?>" type="text" title="<?php echo $this->__('Tax/VAT number') ?>" value="<?php if(!$has_addr){echo $this->htmlEscape($this->getBillAddress()->getTax());} ?>" name="billing[taxvat]"/>
                    </div>
                </div>
            <?php }*/ ?>
		</li>
		-->
        <?php 
            $quote = Mage::getSingleton('checkout/session')->getQuote();
            $items = $quote->getAllVisibleItems();
            foreach($items as $product)
            {
                $productId = $product->getProduct()->getId();
                $product = Mage::getModel('catalog/product')->load($productId);
                $productType = $product->getTypeID();
                if($productType == 'downloadable'){$validate_product = 'register_login';}
            }
            if($validate_product !='register_login'){
        ?>
        		<?php if($registration != 2){?>
        			<li class="two-fields ">
            			<?php 
            			     if (!Mage::getSingleton('customer/session')->isLoggedIn()) {
            			?>
            				<?php if($registration != 1){?>
            					<div class="create-an-account" >
            						<input id="customer_account_create" class="checkbox" type="checkbox" value="1" name="billing[register_account]" autocomplete="off"/>
            						<label for="customer_account_create"><?php echo $this->__('Create an Account') ?></label>
            					</div>
            				<?php 
                                }else{
            				?>
                                <input id="customer_account_create" class="checkbox" type="hidden" value="1" name="billing[register_account]" autocomplete="off"/>
                            <?php    
            				    } 
                            ?>
            				<div style="clear: both;"></div>
            				<div id="register-customer-password" class="fields" style="display: <?php echo  $registration != 1?'none':'block';?>">
            					<div class="field pass">
            						<label class="required" for="billing_customer_password">
            							<em>*</em>
            							<?php echo $this->__('Password') ?>
            						</label>
            						<div class="input-box">
            							<input id="billing_customer_password" class="input-text required-entry validate-password" type="password" title="<?php echo $this->__('Password') ?>" name="billing[customer_password]" autocomplete="off"/>
            						</div>
            					</div>
            					<div class="field pass-confirm">
            						<label class="required" for="billing_confirm_password">
            							<em>*</em>
            							<?php echo $this->__('Confirm Password') ?>
            						</label>
            						<div class="input-box">
            							<input id="billing_confirm_password" class="input-text validate-cpassword required-entry" type="password" title="<?php echo $this->__('Confirm Password') ?>" name="billing[confirm_password]" autocomplete="off"/>
            						</div>
            					</div>
            				</div>
            			<?php
            				}
            			?>
        			</li>
        		<?php } ?>
        <?php }else{ ?>
            <li class="two-fields">
			<?php 
				 if (!Mage::getSingleton('customer/session')->isLoggedIn()) {
			?>
				<input id="customer_account_create" class="checkbox" type="hidden" value="1" name="billing[register_account]" autocomplete="off"/>
				<div id="register-customer-password" class="fields" >
					<div class="field pass">
						<label class="required" for="billing_customer_password">
							<em>*</em>
							<?php echo $this->__('Password') ?>
						</label>
						<div class="input-box">
							<input id="billing_customer_password" class="input-text required-entry validate-password" type="password" title="<?php echo $this->__('Password') ?>" name="billing[customer_password]" autocomplete="off"/>
						</div>
					</div>
					<div class="field pass-confirm">
						<label class="required" for="billing_confirm_password">
							<em>*</em>
							<?php echo $this->__('Confirm Password') ?>
						</label>
						<div class="input-box">
							<input id="billing_confirm_password" class="input-text validate-cpassword required-entry" type="password" title="<?php echo $this->__('Confirm Password') ?>" name="billing[confirm_password]" autocomplete="off"/>
						</div>
					</div>
				</div>
            </li>
        <?php } }?>
		<li class="one-field ">
			<div class="billing_other">
			<?php 
				if ($logged && $has_addr){
			?>
				<div class="billing_save_in_address_book" <?php if (Mage::getSingleton('customer/session')->isLoggedIn() && $has_addr) {echo 'style="display:none"';}?>>
					<input id="billing:save_in_address_book" class="checkbox" type="checkbox" checked="checked" title="Save in address book" value="1" name="billing[save_in_address_book]"/>
					<label for="billing:save_in_address_book"><?php echo $this->__('Save in address book') ?></label>
				</div>
			<?php
				}
				else
				{
			?>
					<input type="hidden" value="1" name="billing[save_in_address_book]" />
			<?php 
				} 
			?>
			</div>
		</li>
        <div style="clear: both;"></div>
		</ul>
    </div> 
    <div>
		<input id="billing_use_for_shipping" type="hidden" value="1" name="billing[use_for_shipping]"/>
		<input id="billing_use_for_shipping_yes" class="checkbox" type="checkbox"  title="Ship to this address" checked="checked" value="1" name="shipping[same_as_billing]" style="margin-left: 3px;"/>
		<label for="billing_use_for_shipping_yes"><?php echo $this->__('Ship to this address') ?></label>
	</div>
</div>
<?php 
    $string  = '';
    foreach($type_auto_update as $type)
    {
        switch($type)
        {
            case 'country':
                $string .= 'select[ajax="selectcountry"],';
            break;
            case 'postcode':
                $string .= '#billing_postcode,';
            break;
            case 'state/region':
                $string .= '#billing_region,';
				$string .= '#state_id,';
            break;
            case 'city':
                $string .= '#billing_city,';
            break;
        }
    }
    $ajax_update = substr($string,0,-1);
?>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#billing_customer_address').change(function(){
            if($(this).val() == '')
            {
                $('.billing_full_info').show();
                $('.sipping_this_address').hide();
                $('.billing_save_in_address_book').show();
            }else{
                $('.billing_full_info').hide();
                $('.sipping_this_address').show();
                $('.billing_save_in_address_book').hide();
            }
        });
        $('#billing_use_for_shipping_yes').click(function(){
        var length = $("[id='billing_use_for_shipping_yes']:checked").length; 
            switch(length)
            {
                case 1:
                    $('#billing_use_for_shipping').val('1');
                break;
                case 0:
                    $('#billing_use_for_shipping').val('0');
                break
            }
        }); 
        $('<?php echo $ajax_update;?>').change(function(){
            if($(this).val() != '')
            {
                url = $('#mst-address-request').val()+'load/updateall';
                if(typeof ajax_request !== 'undefined')
                ajax_request.abort();
                ajax_request = $.ajax({
                	type: "POST",
                	url: url,
                	data: $("#onepagecheckout_orderform").serialize(),
                	cache: false,
                    beforeSend:  function() {
                        $('.loading_image').show();
                        $('.opc_available_additional').css('opacity','0.5');
                        $('.opc_tool-tip_methods').css('opacity','0.5');
                        $('#checkout-review-table-wrapper').css('opacity','0.5');
                    },
                    success: function(html){
                        var _json=$.parseJSON(html);
                        $('.loading_image').hide();
                        $('.opc_available_additional').css('opacity','1');
                        $('.opc_tool-tip_methods').css('opacity','1');
                        $('#checkout-review-table-wrapper').css('opacity','1');
                        $('#checkout-review-table-wrapper #shopping-cart-totals-table').remove();
                        $('#checkout-review-load').html(_json.info);
                        $('#checkout-shipping-method-load').html(_json.shipping_method);                       
                        $('#checkout-payment-method-load').html(_json.payment_method);
                        if($(this).attr('id') != 'billing_postcode'){
                            var country = $('#billing_country_id option:selected').val();
                            var billingCity = '<?php echo $this->htmlEscape($this->getBillAddress()->getCity()) ?>';
                            if(country != "KW"){
                            	$('.kw_only_fields').css('display','none');
                        		$("#billing_city")
            					.replaceWith('<input type="text" class=" input-text required-entry absolute-advice " title="City" value="'+billingCity+'" id="billing_city" name="billing[city]" autocomplete="off">');
                            }
                            else{
                            	$('.kw_only_fields').css('display','block');
                            	switchCityField();
                            }
                        }
                    },
                    complete: function(data){
                  
                    }
                });
            }
        });
        var BASE_URL = '<?php echo Mage::getBaseUrl(); ?>';
        switchCityField();
        switchBlockField();
        $("body").on('change', '#billing_city',function(){
            switchBlockField();
        });
        function switchCityField(){
        	var country = $('#billing_country_id option:selected').val();
        	//var state = $('#state_id option:selected').val();
        	if(country == "KW"){
                $('.loading_image').show();
                $('.opc_available_additional').css('opacity','0.5');
                $('.opc_tool-tip_methods').css('opacity','0.5');
                $('#checkout-review-table-wrapper').css('opacity','0.5');
        		$('.kw_only_fields').css('display','block');
	        	new Ajax.Request(BASE_URL+'checkoutdropdown/index/ajaxcity/', {
				method: "post",
				parameters: {'state': 'KW'},
				onSuccess: function(data){
					var result = data.responseText;
					$("#billing_city")
                	.replaceWith('<select id="billing_city" name="billing[city]" class="required-entry">' +
                      '<option value="">Select Area</option>'+result+'</select>');
                    $('.loading_image').hide();
                    $('.opc_available_additional').css('opacity','1');
                    $('.opc_tool-tip_methods').css('opacity','1');
                    $('#checkout-review-table-wrapper').css('opacity','1');
                    switchBlockField();
				}
				});
        	}
        }
        function switchBlockField(){
        	var country = $('#billing_country_id option:selected').val();
        	if(country == "KW"){
                $('.loading_image').show();
                $('.opc_available_additional').css('opacity','0.5');
                $('.opc_tool-tip_methods').css('opacity','0.5');
                $('#checkout-review-table-wrapper').css('opacity','0.5');
				var city = $('#billing_city option:selected').attr('dataval');
	        	new Ajax.Request(BASE_URL+'checkoutdropdown/index/ajaxblock/', {
				method: "post",
				parameters: {'city': city},
				onSuccess: function(data){
					var result = data.responseText;
					$("#billing_addr_block")
                	.replaceWith('<select id="billing_addr_block" name="billing[addr_block]" class="required-entry">' +
                      '<option value="">Select Block</option>'+result+'</select>');
                    $('.loading_image').hide();
                    $('.opc_available_additional').css('opacity','1');
                    $('.opc_tool-tip_methods').css('opacity','1');
                    $('#checkout-review-table-wrapper').css('opacity','1');
				}
				});
        	}
        }
        });
</script>