<?php  $uqtab = rand().time();?>
<div class="inner-<?php echo $uqtab ?>">
<?php
$themeCfg =   Mage::helper('camen/data');
$options  = $this->getConfigObject();
$maxtitle = $options->item_title_max_characs;
$post     = Mage::app()->getRequest()->getPost();
$type     =  (!empty($post['pdt_type']))?$post['pdt_type']:$options->list_products_by;

if( $type!='' ){
	if( $type == 'order' ){
        $first_ob = explode(',', $options->order_type);
        $orderby = (!empty($post['orderby']))?$post['orderby']:$first_ob[0];
		$child_items = $this->getProductsOrder($orderby);
        $total = $this->getProductsOrder($orderby, 1);
	} else {
        $first_ob = explode(',', $options->product_category);
        $catid   = (!empty($post['catid']))?$post['catid']:$first_ob[0]; //die($catid);
		$child_items = $this->getProductsCat($catid);
        $total =  $this->getProductsCat($catid, 1);
	}
}
if( !empty($child_items) ) {
	if( $type!='' ){
		if($post && $post['numberstart']) {
			$k = $post['numberstart'];
		} else {
			$k = 0;
		}
	} else {
		$k = 0;
	}

	$xs = 12 / $options->screen_xs;
	$sm = 12 / $options->screen_sm;
	$md = 12 / $options->screen_md;
	$lg = 12 / $options->screen_lg;
	$itemClass = 'col-xs-'.$xs.' col-sm-'.$sm.' col-md-'.$md.' col-lg-'.$lg.' col-phone-12';
	
    $labels = '[';
        $labels .= '"' . $this->__('Years') . '", ';
        $labels .= '"' . $this->__('Months') . '", ';
        $labels .= '"' . $this->__('Weeks') . '", ';
        $labels .= '"' . $this->__('Days') . '", ';
        $labels .= '"' . $this->__('Hrs') . '", ';
        $labels .= '"' . $this->__('Mins') . '", ';
        $labels .= '"' . $this->__('Secs') . '"';
    $labels .= ']';
    $labels1 = '[';
        $labels1 .= '"' . $this->__('Year') . '", ';
        $labels1 .= '"' . $this->__('Month') . '", ';
        $labels1 .= '"' . $this->__('Week') . '", ';
        $labels1 .= '"' . $this->__('Day') . '", ';
        $labels1 .= '"' . $this->__('Hr') . '", ';
        $labels1 .= '"' . $this->__('Min') . '", ';
        $labels1 .= '"' . $this->__('Sec') . '"';
    $labels1 .= ']';
    
	foreach( $child_items  as $item ){ $k++;
		$_product = Mage::getModel('catalog/product')->load($item->id);
		
	        $saleLabel = false;
	        $newLabel = false;
			$now = date("Y-m-d");
	        $newsFrom= substr($_product->getData('news_from_date'),0,10);
	        $newsTo=  substr($_product->getData('news_to_date'),0,10);
	        $price = $_product->getPrice();
	        $finalPrice = $_product->getFinalPrice();
	        if(!$newsTo && $newsFrom && $now>=$newsFrom) $newLabel = true;
	        if($newsTo && !$newsFrom && $now<=$newsTo) $newLabel = true;
			if ($now>=$newsFrom && $now<=$newsTo && $themeCfg->getField('general_useTagNew')){ 
				$newLabel = true;
			}
			if(isset($price) && isset($finalPrice) && $finalPrice < $price && $themeCfg->getField('general_useTagSale')) $saleLabel = true;
			$endTime = Mage::getModel('core/date')->date("Y, m, d, H, i, s", $_product->getSpecialToDate());
            $nowTime = Mage::getModel('core/date')->date("Y, m, d, H, i, s", Mage::getModel('core/date')->timestamp(time()));

		$uniqued = rand().time();
		
		$themeCfg =  Mage::helper('camen/data');
		$imgSize = $themeCfg->getImgSize('L');
		$imgWidth = $imgSize[0];
		$imgHeight = $imgSize[1];
		$imgSizeS = $themeCfg->getImgSize('S');
		$haveAdditional = 0;
		if(count(Mage::getModel('catalog/product')->load($_product->getId())->getMediaGalleryImages()) > 0 && $themeCfg->getField('general_useImageHover')==1){
			 $haveAdditional = 1;
		}
		?>
		<div class="item item-animate <?php echo $itemClass; ?>">
			<div class="item-inner clearfix">
				
				<div class="prd">
		            <div class="item-img<?php echo $class; ?> clearfix<?php echo ($haveAdditional == 1)?' have-additional':'';?>" >
	                    <?php if ($newLabel) echo "<span class='ico-product ico-new'>New</span>"; ?>
		                <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
		                	  <span class="img-main">
								<img 
									data-zoom-image="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>" 
									src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($imgSize[0], $imgSize[1]); ?>" 
									alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
								</span>
								<?php
								if($haveAdditional == 1){
								$_gallery = Mage::getModel('catalog/product')->load($_product->getId())->getMediaGalleryImages();
								$i_im = 0;
								foreach ($_gallery as $_image ):
								$i_im++;
								if($i_im == 2){ ?>
								<span class="img-additional">
									<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image', $_image->getFile())->resize($imgSize[0], $imgSize[1]); ?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" title="<?php echo $this->htmlEscape($_image->getLabel()) ?>" />
								</span>
								<?php
								break;
								}
								endforeach;
								} ?>
		                </a>
		                <div class="actions">
		                    <ul class="add-to-links add-to-list">
		                        <?php if ($this->helper('wishlist')->isAllow()): ?>
		                            <li><a title="<?php echo $this->__('Add to Wishlist') ?>" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist" data-toggle="tooltip" data-placement="right" data-original-title="<?php echo $this->__('Add to Wishlist') ?>"><?php //echo $this->__('Add to Wishlist') ?></a></li>
		                        <?php endif; ?>
		                        <?php if($this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
		                            <li><a title="<?php echo $this->__('Add to Compare') ?>" href="<?php echo $this->helper('catalog/product_compare')->getAddUrl($_product) ?>" class="link-compare" data-toggle="tooltip" data-placement="right" data-original-title="<?php echo $this->__('Add to Compare') ?>"><?php //echo $this->__('Add to Compare') ?></a></li>
		                        <?php endif; ?>
		                    </ul>
		                </div>
						<?php if ($saleLabel && $nowTime < $endTime && $themeCfg->getField('general_dealsCountdown')): ?>
							<div class="countdown" data-endtime="<?php echo $endTime; ?>"></div>
						<?php endif; ?>
		            </div>

		            <div class="item-info">
		                <div class="info-inner">
		                    <div class="item-title">
		                        <a href="<?php echo $item->link ?>" onclick="javascript: return true"  title="<?php echo $item->title?>" >
									<?php echo $item->title; ?>
								</a>
		                    </div>
	                        <div class="item-price">
	                            <?php echo $this->getPriceHtml($_product, false, $uniqued) ?>
			                    <?php if ($saleLabel) echo "<span class='ico-product ico-sale'>-".floor(100-($finalPrice/$price)*100)."%</span>"; ?>
	                        </div>
		                </div>
		            </div>
		            <div class="action-bot add-to-links">
		            	<div class="wrap-addtocart">
		                    <?php if($_product->isSaleable()): ?>
		                        <button title="<?php echo $this->__('Add to Cart') ?>" class="btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')" >
		                        	<i class="fa fa-shopping-cart"></i>
		                        	<span><?php echo $this->__('Add to Cart') ?></span>
		                        </button>
		                    <?php else: ?>
		                        <span class="btn-cart out-of-stock" title="<?php echo $this->__('Out of stock') ?>" data-toggle="tooltip" data-placement="left" data-original-title="<?php echo $this->__('Out of stock') ?>"><span><?php echo $this->__('Out of stock') ?></span></span>
		                    <?php endif; ?>
		            	</div>
						<div id="qv_item_<?php echo $_product->getId(); ?>" class="wrap-quickview">
							<div class="quickview-wrap">
								<a class="sns-btn-quickview" data-original-title="View" data-toggle="tooltip" href="<?php echo $_product->getProductUrl() ?>">
									<span><?php echo $this->__('View'); ?></span>
								</a>
							</div>
						</div>
		            </div>
	            </div>
			</div>
		</div>
	<?php 
    	if($k % (12/$xs) == 0) echo '<div class="clearfix visible-xs"></div>';
		if($k % (12/$md) == 0) echo '<div class="clearfix visible-md"></div>';
		if($k % (12/$sm) == 0) echo '<div class="clearfix visible-sm"></div>';
		if($k % (12/$lg) == 0) echo '<div class="clearfix visible-lg"></div>';
	}
}
?>

<?php 
$classloaded = ($options->number_per_display >= $total || $options->number_per_display == 0 )?' loaded':'';
?>

<script type="text/javascript">
//<![CDATA[
function replaceEncodedUrlTabs (selector, current, target) {
	jQuery(selector).each(function(){
		var el = jQuery(this);
		jQuery.each(this.attributes, function() {
			if(this.specified) el.attr(this.name, this.value.replace(current, target))
		});
	});
}
jQuery(document).ready(function($){
    pdtlm = $('.inner-<?php echo $uqtab ?>').parents('.pdt-content').find('.pdt-loadmore');
    if(!pdtlm.hasClass('data-inserted')){
        pdtlm.addClass('data-inserted');
        pdtlm.attr('data-all', '<?php echo $total;?>');
        pdtlm.find('.btn-loadmore').addClass("<?php echo $classloaded?>");
        <?php if($classloaded): ?>
            pdtlm.find('.loadmore').attr('data-label', '<?php echo $this->__("All ready"); ?>');
            pdtlm.find('.loadmore').attr('data-label-load', '<?php echo $this->__("All ready"); ?>');
        <?php else: ?>
            pdtlm.find('.loadmore').attr('data-label', '<?php echo $this->__("View more item"); ?>');
            pdtlm.find('.loadmore').attr('data-label-load', '<?php echo $this->__("Loading ..."); ?>');
        <?php endif; ?>
        <?php if($options->show_number_loadmore): ?>
            pdtlm.find('.load-number').attr('data-more', '<?php echo ( $total - $options->number_per_display <= $options->number_per_display )?($total - $options->number_per_display):$options->number_per_display ?>');
            pdtlm.find('.data-total').attr('data-total', '<?php echo ($total - $options->number_per_display) ?>');
        <?php endif; ?>
        <?php if( $total > $options->number_per_display ): ?>
            pdtlm.find('.load-number').html("/");
        <?php endif; ?>
    }
    var CURRENTURL = '<?php echo Mage::helper('core/url')->getEncodedUrl(); ?>';
	replaceEncodedUrlTabs('a, button, form', CURRENTURL, ENCODEDURL);
 });
//]]>
</script>
</div>

