<?php  $uqtab = rand().time();?>
<div class="inner-<?php echo $uqtab ?>">
<?php
$themeCfg =   Mage::helper('camen/data');
$options  = $this->getConfigObject();
$maxtitle = $options->item_title_max_characs;
$post     = Mage::app()->getRequest()->getPost();
$type     =  (!empty($post['pdt_type']))?$post['pdt_type']:$options->list_products_by;

if( $type!='' ){
	if( $type == 'order' ){
        $first_ob = explode(',', $options->order_type);
        $orderby = (!empty($post['orderby']))?$post['orderby']:$first_ob[0];
		$child_items = $this->getProductsOrder($orderby);
        $total = $this->getProductsOrder($orderby, 1);
	} else {
        $first_ob = explode(',', $options->product_category);
        $catid   = (!empty($post['catid']))?$post['catid']:$first_ob[0]; //die($catid);
		$child_items = $this->getProductsCat($catid);
        $total =  $this->getProductsCat($catid, 1);
	}
}
if( !empty($child_items) ) {
	if( $type!='' ){
		if($post && $post['numberstart']) {
			$k = $post['numberstart'];
		} else {
			$k = 0;
		}
	} else {
		$k = 0;
	}
	
    $labels = '[';
        $labels .= '"' . $this->__('Years') . '", ';
        $labels .= '"' . $this->__('Months') . '", ';
        $labels .= '"' . $this->__('Weeks') . '", ';
        $labels .= '"' . $this->__('Days') . '", ';
        $labels .= '"' . $this->__('Hrs') . '", ';
        $labels .= '"' . $this->__('Mins') . '", ';
        $labels .= '"' . $this->__('Secs') . '"';
    $labels .= ']';
    $labels1 = '[';
        $labels1 .= '"' . $this->__('Year') . '", ';
        $labels1 .= '"' . $this->__('Month') . '", ';
        $labels1 .= '"' . $this->__('Week') . '", ';
        $labels1 .= '"' . $this->__('Day') . '", ';
        $labels1 .= '"' . $this->__('Hr') . '", ';
        $labels1 .= '"' . $this->__('Min') . '", ';
        $labels1 .= '"' . $this->__('Sec') . '"';
    $labels1 .= ']';
    
	foreach( $child_items  as $item ){ $k++;
		$_product = Mage::getModel('catalog/product')->load($item->id);
		
	        $saleLabel = false;
	        $newLabel = false;
			$now = date("Y-m-d");
	        $newsFrom= substr($_product->getData('news_from_date'),0,10);
	        $newsTo=  substr($_product->getData('news_to_date'),0,10);
	        $price = $_product->getPrice();
	        $finalPrice = $_product->getFinalPrice();
	        if(!$newsTo && $newsFrom && $now>=$newsFrom) $newLabel = true;
	        if($newsTo && !$newsFrom && $now<=$newsTo) $newLabel = true;
			if ($now>=$newsFrom && $now<=$newsTo && $themeCfg->getField('general_useTagNew')){ 
				$newLabel = true;
			}
			if(isset($price) && isset($finalPrice) && $finalPrice < $price && $themeCfg->getField('general_useTagSale')) $saleLabel = true;
			$endTime = Mage::getModel('core/date')->date("Y, m, d, H, i, s", $_product->getSpecialToDate());
            $nowTime = Mage::getModel('core/date')->date("Y, m, d, H, i, s", Mage::getModel('core/date')->timestamp(time()));

		$uniqued = rand().time();
		
		$themeCfg =  Mage::helper('camen/data');
		$imgSize = $themeCfg->getImgSize('L');
		$imgWidth = $imgSize[0];
		$imgHeight = $imgSize[1];
		$imgSizeS = $themeCfg->getImgSize('S');
		$haveAdditional = 0;
		if(count(Mage::getModel('catalog/product')->load($_product->getId())->getMediaGalleryImages()) > 0 && $themeCfg->getField('general_useImageHover')==1){
			 $haveAdditional = 1;
		}
		?>
		<div class="item item-animate">
			<div class="item-inner clearfix">
				<div class="prd">
		            <div class="item-img<?php echo $class; ?> clearfix<?php echo ($haveAdditional == 1)?' have-additional':'';?>" >
	                    <?php if ($newLabel) echo "<span class='ico-product ico-new'>New</span>"; ?>
		                <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
		                	  <span class="img-main">
								<img 
									data-zoom-image="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>" 
									src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($imgSize[0], $imgSize[1]); ?>" 
									alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
								</span>
								<?php
								if($haveAdditional == 1){
								$_gallery = Mage::getModel('catalog/product')->load($_product->getId())->getMediaGalleryImages();
								$i_im = 0;
								foreach ($_gallery as $_image ):
								$i_im++;
								if($i_im == 2){ ?>
								<span class="img-additional">
									<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image', $_image->getFile())->resize($imgSize[0], $imgSize[1]); ?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" title="<?php echo $this->htmlEscape($_image->getLabel()) ?>" />
								</span>
								<?php
								break;
								}
								endforeach;
								} ?>
		                </a>
		                <div class="actions">
		                    <ul class="add-to-links add-to-list">
		                        <?php if ($this->helper('wishlist')->isAllow()): ?>
		                            <li><a title="<?php echo $this->__('Add to Wishlist') ?>" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist" data-toggle="tooltip" data-placement="right" data-original-title="<?php echo $this->__('Add to Wishlist') ?>"><?php //echo $this->__('Add to Wishlist') ?></a></li>
		                        <?php endif; ?>
		                        <?php if($this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
		                            <li><a title="<?php echo $this->__('Add to Compare') ?>" href="<?php echo $this->helper('catalog/product_compare')->getAddUrl($_product) ?>" class="link-compare" data-toggle="tooltip" data-placement="right" data-original-title="<?php echo $this->__('Add to Compare') ?>"><?php //echo $this->__('Add to Compare') ?></a></li>
		                        <?php endif; ?>
		                    </ul>
		                </div>
						<?php if ($saleLabel && $nowTime < $endTime && $themeCfg->getField('general_dealsCountdown')): ?>
							<div class="countdown" data-endtime="<?php echo $endTime; ?>"></div>
						<?php endif; ?>
		            </div>

		            <div class="item-info">
		                <div class="info-inner">
		                    <div class="item-title">
		                        <a href="<?php echo $item->link ?>" onclick="javascript: return true"  title="<?php echo $item->title?>" >
									<?php echo $item->title; ?>
								</a>
		                    </div>
	                        <div class="item-price">
	                            <?php echo $this->getPriceHtml($_product, false, $uniqued) ?>
			                    <?php if ($saleLabel) echo "<span class='ico-product ico-sale'>-".floor(100-($finalPrice/$price)*100)."%</span>"; ?>
	                        </div>
		                </div>
		            </div>
		            <div class="action-bot add-to-links">
		            	<div class="wrap-addtocart">
		                    <?php if($_product->isSaleable()): ?>
		                        <button title="<?php echo $this->__('Add to Cart') ?>" class="btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')" >
		                        	<i class="fa fa-shopping-cart"></i>
		                        	<span><?php echo $this->__('Add to Cart') ?></span>
		                        </button>
		                    <?php else: ?>
		                        <span class="btn-cart out-of-stock" title="<?php echo $this->__('Out of stock') ?>" data-toggle="tooltip" data-placement="left" data-original-title="<?php echo $this->__('Out of stock') ?>"><span><?php echo $this->__('Out of stock') ?></span></span>
		                    <?php endif; ?>
		            	</div>
						<div id="qv_item_<?php echo $_product->getId(); ?>" class="wrap-quickview">
							<div class="quickview-wrap">
								<a class="sns-btn-quickview" data-original-title="View" data-toggle="tooltip" href="<?php echo $_product->getProductUrl() ?>">
									<span><?php echo $this->__('View'); ?></span>
								</a>
							</div>
						</div>
		            </div>
	            </div>
			</div>
		</div>
	<?php 
	}
}
?>
</div>
<script type="text/javascript">
    function replaceEncodedUrlTabs (selector, current, target) {
        jQuery(selector).each(function(){
            var el = jQuery(this);
            jQuery.each(this.attributes, function() {
                if(this.specified) el.attr(this.name, this.value.replace(current, target))
            });
        });
    }
    jQuery(document).ready(function($) {
        $('.inner-<?php echo $uqtab ?>').owlCarousel({
        	items: 4,
            itemsCustom: [ 
            	[0, 1],
            	[480, <?php echo $options->screen_xs; ?>],
            	[768, <?php echo $options->screen_sm; ?>],
            	[992, <?php echo $options->screen_md; ?>],
            	[1200, <?php echo $options->screen_lg; ?>]
            ],
            pagination: true,
            paginationNumbers: true,
            slideSpeed : 800,
            addClassActive: true,
            scrollPerPage: true,
			navigation : true,
			navigationText : ["prev","next"]
        });
        var CURRENTURL = '<?php echo Mage::helper('core/url')->getEncodedUrl(); ?>';
        replaceEncodedUrlTabs('a, button, form', CURRENTURL, ENCODEDURL);
    });
</script>