<?php
$posts = $this->getPosts();
$blockId ='sns_latestblog_'.rand().time();

if(!count($posts)) :
    ?>
    <p class="note-msg"><?php echo $this->__('There are no posts matching the selection.') ?></p>
<?php else: ?>
    <div class="block block-latestblog" id="<?php echo $blockId; ?>">
        <div class="block-title">
            <span><?php echo $this->__('Lastest post');?></span>
            <div class="navslider">
                <a class="prev" href="#"><i class="fa fa-angle-left"></i></a>
                <a class="next" href="#"><i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="block-content">
            <div class="list-blog">
                <?php $i=0; foreach ($posts as $post): ?>
                    <?php
                    if($i%2 == 0) {
                        echo '<div class="row-item">';
                    }
                    ?>
                    <div class="item-content">

                        <div class="item-post<?php echo ($i==2)?' last':'';?> clearfix">
                            <?php
                            $str = $post->getPostContent();
                            $str = preg_replace ( "/\<img[^\>]*>/", '', $post->getPostContent());
                            ?>

                            <a class="post-img banner5" title="<?php echo $post->getTitle(); ?>" href="<?php echo $post->getAddress(); ?>" >
                                <?php $imgUrl = Mage::helper('camen/data')->getImgUrl($post->getPostContent()); ?>
                                <img <?php echo $imgUrl; ?> alt="<?php echo $post->getTitle(); ?>" />
                                <i class="fa fa-link"></i>
                            </a>

                            <div class="post-title">
                                <a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a>
                            </div>

                            <div class="blog-content">
                                <div class="user">
                                    <div class="user-post">
                                        <span class="poster">Post by: <?php echo $post->getUser(); ?>, </span>
                                    </div>
                                    <div class="date">
                                        <?php $_ct= new Zend_Date($post->getCreatedTime()); ?>
                                        <span class="d-year">  <?php echo $_ct->toString('Y'); ?> </span>-
                                        <span class="d-month"> <?php echo $_ct->toString('MMM'); ?> </span>-
                                        <span class="d-day"> <?php echo $_ct->toString('d');  ?> </span>
                                    </div>

                                </div>
                            </div>
                            <div class="post-content">
                                <?php echo Mage::helper('core/string')->truncate($str, 150); ?>
                            </div>

                            <a class="read-more button" href="<?php echo $post->getAddress(); ?>" ><?php echo $this->__('Read more'); ?></a>
                        </div>
                    </div>
                    <?php
                    $i++;
                    if($i%2 == 0 || $i == $posts->count()) {
                        echo '</div>'; // endrow
                    }
                    ?>
                <?php endforeach; ?>
            </div>
        </div>
        <script>
            jQuery(document).ready(function($) {
                $(window).load(function(){
                    $('#<?php echo $blockId; ?> .list-blog').owlCarousel({
                        items: 6,
                        itemsCustom: [
                            [0, 1]
                        ],
                        pagination: false,
                        itemsScaleUp : true,
                        slideSpeed : 800,
                        autoHeight: true,
                        autoPlay: false,
                        addClassActive: true,
                        afterAction: function (e) {
                            if(this.$owlItems.length > this.options.items){
                                $('#<?php echo $blockId; ?> .navslider').show();
                            }else{
                                $('#<?php echo $blockId; ?> .navslider').hide();
                            }
                        }
                    });
                    $('#<?php echo $blockId; ?> .navslider .prev').on('click', function(e){
                        e.preventDefault();
                        $('#<?php echo $blockId; ?> .list-blog').trigger('owl.prev');
                    });
                    $('#<?php echo $blockId; ?> .navslider .next').on('click', function(e){
                        e.preventDefault();
                        $('#<?php echo $blockId; ?> .list-blog').trigger('owl.next');
                    });
                });
            });
        </script>
    </div>
<?php endif; ?>