<?php    $slide_status=$this->getResponsivebannersliderEnabled();   ?>
<?php    $slide_speed=$this->getResponsivebannersliderSpeed();   ?>
<?php    $slide_type=$this->getResponsivebannerSlideType(); ?>
<?php    $slide_BannerLoop=$this->getResponsivebannerBannerLoop(); ?>
<?php    $slide_PauseOnhover=$this->getResponsivebannerPauseOnhover(); ?>


<?php
// Module Enable/Dsable Function.......................................
if($slide_status==1){ ?>
<script type="text/javascript">
//<![CDATA[
//jQuery(function($) {
responsivemks = jQuery.noConflict(); 
responsivemks(window).load(function(){
responsivemks('.the-slideshow').flexslider({
namespace:"",
animation:'slide',
easing:'easeInOutCirc',
useCSS:	false,
animationLoop:<?php echo $slide_BannerLoop; ?>,
smoothHeight: true,
slideshowSpeed:<?php echo $slide_speed; ?>,
animationSpeed:	600,
pauseOnHover:<?php echo $slide_PauseOnhover; ?>,
start: function(){
	jQuery('.the-slideshow').show();
	setTimeout(function(){
	  jQuery('.control-nav').show();
	}, 4000);
	
}
});
});
//]]>
</script>

<div class="the-slideshow gen-slider-arrows2 gen-slider-pager1 gen-slider-pager1-pos-bottom-right grid12-9" style="display:none;">
<ul class="slides" style="padding:0px!important;">
<?php 
$store_Id = Mage::app()->getStore()->getStoreId();
$connection = Mage::getSingleton('core/resource')->getConnection('core_write');
$prefix = Mage::getConfig()->getTablePrefix();
$tblname=$prefix.'mksresponsivebannerslider';
$sql = $connection->query("select * from $tblname where status='0' and store_id=$store_Id");
while($row1 = $sql->fetch())
{
	$title = $row1["title"];
	$description = $row1["description"]; 
	$urlx = $row1["image"]; 
	$media_url =  Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);
	$imgurl=$media_url.$urlx;
	$url = $row1["url"]; 
	?>
	<li class="slide">
	<a href="<?php echo $url; ?>">
	<img src="<?php echo $imgurl; ?>" alt="<?php echo $title; ?>" title="<?php echo $title; ?>">
	<div class="caption dark3">
	<h2><?php echo $description; ?></h2>
	</div>
	<div class="caption dark1 top-right">
	<h2></h2>
	</div>
	</a></li>

<?php } ?>
</ul>
</div>

<?php } else { ?>

<h1 style="color:red;">Enable ( Responsive banner ) Module via Admin = System -> Configuration-> MKS RESPONSIVE BANNER-> General Setting </h1>

 <?php } ?>
 
