.product-block-grid () {
	position: relative;
	.transition(all 0.3s ease);
	z-index: 0;
	&:hover {
		.item-img {
			.actions {
				.link-wishlist,
				.link-compare {
					.translate(0, 0);
					.opacity(1);
				}
			}
		}
      .sns-btn-quickview{
        &:before{
          transform: scale(1) !important;
        }
      }
      .sns-action{
        bottom: 0 !important;
        opacity: 1 !important;
      }

	}
	.prd {
		position: relative;
		/*overflow: hidden;*/
		background: #fff;
	}

	.item-content {
		min-height: 24px;
	}
	.info-inner {
		position: relative;

	}
	.ratings {
		font-size: 12px;
		margin: 0;
		.rating-links {
			display: none;
		}
	}
	.no-rating {
		font-size: 12px;
		margin: 0;
		a {
			display: none;
		}
	    &:before {
			content: '\f005\f005\f005\f005\f005';
			display: inline-block;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-align: center;
			letter-spacing: 2px;
			color: #dfdfdf;
	    }
	}
	.more-buttons {
		.button, button {
			padding: 8px 15px;
		}
	}
	.item-img {
		position: relative;
		margin-bottom: 3px;
		z-index: 0;
        overflow: hidden;
		&.have-additional{
			.imgeffect();
		}
		&:hover {
			.ico-new,
			.countdown .countdown-section {
				.scale(0);
				.opacity(0);
			}

		}
		> a {
			position: relative;
			z-index: 0;
		}
        .sns-action{
          position: absolute;
          width: 100%;
          height: 35px;
          left: 0;
          bottom: -40px;
          opacity: 0;
          .transition(all 0.2s linear);
        }
      .sns-btn-quickview{
        position: absolute;
        .square(70px);
        left: 50%;
        top: 50%;
        margin-left: -35px;
        margin-top: -35px;
        border-radius: 100%;
        span{
          display: none;
        }
        &:before{
          background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
          border-radius: 100%;
          color: #fff;
          font-size: 20px;
          content: "";
          font-family: FontAwesome;
          .square(70px);
          left: 0;
          line-height: 70px;
          position: absolute;
          text-align: center;
          top: 0;
          transform: scale(0);
          transition: all 0.2s linear 0s;
          z-index: 1;
        }
        &:hover{
          &:before{
            color: @color1;
          }
        }
      }
        .action-bot {
          display: table;
          width: 100%;
          background: #333;
          .wrap-addtocart {
            display: table-cell;
            color: #fff;
            .transition(all 0.2s linear);
            .btn-cart {
            padding: 0;
            color: #fff;
            background: none;
            padding: 0;
            width: 100%;
            text-align: left;
            font-weight:bold;
            height:35px;
            margin-top:0px;
              span{
                padding: 0;
                height: 35px;
                line-height: 34px;
                i{
                  font-size: 16px;
                  margin-right: 2px;
                  line-height: 33px;
                  width: 18px;
                  height: 35px;
                  margin-left: 8px;
                  text-align: center;
                }
                &.text-indent{
                  text-indent: -999em;
                }
              }
              &:before{
                line-height: 35px;
                padding: 0;
                left: 30px;
              }
//              &:after{
//                .font-awesome (f07a, 35px);
//                line-height:32px !important;
//                float: left;
//                font-size: 16px;
//              }
              &:hover{
                background: @color1;
                &:after{display: none;}
              }
            .transition(all 0s ease);
            i {
              font-size: 14px;
              margin-right: 7px;
            }
            &.out-of-stock {
              border: 2px solid #ddd;
              span {display: none;}
              &:hover {
                background: lighten(#d60c0c, 50%);
                border-color: lighten(#d60c0c, 45%);
                color: #d60c0c;
              }
              &:before {
                .font-awesome (f06a, 30px);
              }
            }
          }
        }
        .wrap-action {
          display: table-cell;
          border-left: 1px solid rgba(255,255,255,0.2);
          .square(35px);
          text-align: center;
          font-size: 14px;
          .action-wrap {
            .sns-btn-wishlist,
            .sns-btn-compare{
              position: relative;
              color: #fff;
              .square(35px);
              display: block;
              span {display: none;}
              &:hover {
                &:before {
                  background: @color1;
                  color: #fff;
                  //                  outline: 1px solid  @color2;
                }
              }
            }
            .sns-btn-compare {
              &:before {
                .font-awesome (f079, 35px);
                line-height:32px !important;
              }
            }
            .sns-btn-wishlist {
              &:before {
                .font-awesome (f004, 35px);
                line-height:32px !important;
              }
            }
          }
        }
      }
		.countdown {
			position: absolute;
			top: 35px;
			right: 10px;
            display: none;
			.countdown-section {
				display: block;
				text-align: center;
				background: @color1;
				color: #fff;
				border-radius: 4px;
				overflow: hidden;
				margin-bottom: 10px;
				text-transform: uppercase;
				.transition(all 0.2s linear);
				.countdown-amount {
					display: block;
					line-height: 20px;
					font-size: 16px;
					font-weight:bold;
				}
				.countdown-period {
					font-size:9px;
					line-height: 20px;
					min-width: 40px;
					display: block;
					background: @color2;
				}
			}
		}
		.zoomWrapper {
			img {
				left: 0;
			}
			.zoomContainer {
				left: 0 !important;
				top: 0 !important;
			}
		}
		.product-image {
			display: block; overflow: hidden;
			text-align: center;
			.img-main {
				position: relative;
				display: block;
				margin: 0 auto;
				&:before {
					position: absolute;
					top: 0; left: 0;
					right: 0; bottom: 0;
					.square(100%);
					.transition(all 0.2s ease);
					z-index: 888;
					content: '';
					display: block;
				}
				&.loading {
					&:before {
						background: #000;
					}
				}
			}
		}

	}
	.item-info {
		.item-title {
			padding: 5px 0;
			position: relative;
			max-height: 28px;
			overflow: hidden;
			a{
              color:#666;
              &:hover{color: @color1;}
            }
		}
		.item-price {
			> * {
				.inline-block();
			}
		}
	}

	.ico-product {
		.ico-product ();
	}
}
.ico-product () {
	&.ico-new {
		background: @color2;
		position: absolute;
		top: 10px;
		left: 10px;
		.square(40px);
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		line-height: 40px;
		border-radius: 50%;
        font-size: 10px;
		.transition(all 0.5s linear);
		z-index: 1;
	}
	&.ico-sale {
		background: @color1;
		color: #fff;
		font-size: 10px;
		padding: 4px 4px 4px 2px;
		margin-left: 10px;
		line-height: 100%;
		position: relative;
		&:before {
			.transition(all 0.2s linear);
            border-bottom: 9px solid transparent;
            border-right: 7px solid @color1;
            border-top: 9px solid transparent;
            height: 0;
            width: 0;
			content: '';
			display: block;
			position: absolute;
			top: 0px;
			right: 100%;
		}
      .arow{
        position: absolute;
        width: 1px;
        height: 100%;
        top: 0;
        right: -1px;
        &:before{
          border-left: 0 solid transparent;
          border-right: 8px solid transparent;
          border-top: 12px solid @color1;
          height: 0;
          width: 0;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
        }
        &:after{
          border-left: 9px solid @color1;
          border-bottom: 0px solid transparent;
          border-top: 11px solid transparent;
          height: 0;
          width: 0;
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
	}
}
.btn-action-grid () {
	.square(36px);
	display: block;
	border: none;
	text-align: center;
	.transition(all 0.3s ease);
	.opacity(0);
	position: relative;
	color: #fff;
	font-size: 14px;
	.translate(50px, 0);
	&:hover {
		&:after {
			.border-arrow-right (6px, 12px, @color2);
		}
		&:before {
			background: @color2;
		}
	}
	&:before {
		display: block;
		line-height: 36px;
		background: @color1;
		border-radius: 4px;
		.transition(all 0.2s ease);
	}
	&:after {
		.transition(all 0.2s linear);
		.border-arrow-right (6px, 12px, @color1);
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 100%;
		margin-top: -6px;
		.transition(all 0.2s ease);
	}
}
/*-------product list---------------*/
.product-img-list () {
	.transition(all 0.3s ease);
	z-index: 0;
	position:relative;
	.ico-new {
        background: @color2;
        position: absolute;
        top: 10px;
        left: 10px;
        .square(40px);
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        font-size: 10px;
        .transition(all 0.5s linear);
        z-index: 1;
			}
	.countdown {
			position: absolute;
			top: 35px;
			right: 10px;
			.countdown-section {
				display: block;
				text-align: center;
				background: @color1;
				color: #fff;
				border-radius: 4px;
				overflow: hidden;
				margin-bottom: 10px;
				text-transform: uppercase;
				.transition(all 0.2s linear);
				.countdown-amount {
					display: block;
					line-height: 20px;
					font-size: 130%px;
					font-weight:bold;
				}
				.countdown-period {
					font-size:75%;
					line-height: 20px;
					min-width: 40px;
					display: block;
					background: @color2;
				}
			}
		}
		&:hover {
			.ico-new,
			.countdown .countdown-section {
				.scale(0);
				.opacity(0);
			}
		}
		
}

.acc_tonge () {
  padding: 7px 12px 6px;
  position: relative;
  &:hover {
    .tongle {
      cursor: pointer;
      //                color: @color1;
      .fa {
        &:before {
          //                    background: @color1;
        }
        &:after {
          .opacity(1);
        }
      }
      span{
        color: @color1;
      }

    }
    .content {
      display: block;
      padding-bottom: 5px;
      .effect-block-show();
      top: 102% !important;
      li{
        border-bottom: none;
        padding: 0;
        &:last-child{
          border-bottom: none;
        }
        a{
          padding: 6px 15px;
          display: block;
          width: 100%;
          color: #888;
          &:hover{
            background: none;
            color: @color1;
          }
          i{
            display: none;
          }
        }

      }
    }
  }
  .tongle {
    span{
      //                margin-left: 3px;
    }
    .fa {
      position: relative;
    }
  }
  .content {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    min-width: 120px;
    background: #fff;
    z-index: 9999;
    padding: 0 !important;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    .effect-block-hide();
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 15px;
      position: absolute;
      bottom: 100%;
      left: 0;
    }
    ul {
      .ulclear();
      padding: 8px 0;
      li {
        min-height: 30px;
        line-height: 32px;
        a:hover {color: #333;}
        i{
          display: none;
        }
        a{
          padding: 0 0 0 10px;
          display: block;
          width: 100%;
          border-bottom: 1px solid #eaeaea;
          &:hover,
          &.selected{
            background: #eaeaea;
          }
        }
        &:last-child{
          a{
            border: none;
          }
        }
      }
    }

  }

}