<div class="page-title">
    <h1><?php echo $this->__('An error occurred in the process of payment') ?></h1>
</div>
<?php if ($this->getRealOrderId()) : ?><p><?php echo $this->__('Order #') . $this->getRealOrderId() ?></p><?php endif ?>
<?php if ($error = $this->getErrorMessage()) : ?><p><?php echo $error ?></p><?php endif ?>
<?php if ($this->getRealOrderId()) : ?>
<?php $result = $this->getOrderDetails();
		if ($result['trackid']) {
	    	echo "<h2 class=sub-title>".Mage::helper('knet')->__('Payment Details ')."</h2>";
	    } if($result['paymentid']) {
	    	echo "PaymentID : ".$result['paymentid']."<br />";
	    } if($result['result']) {
	    	echo "Result : ".$result['result']."<br />";
	    } if($result['postdate']) {
	    	echo "PostDate : ".$result['postdate']."<br />";
	    } if($result['tranid']) {
	    	echo "TranID : ".$result['tranid']."<br />";
	    } if($result['auth']) {
	    	echo "Auth : ".$result['auth']."<br />";
	    } if($result['ref']) {
	    	echo "Ref : ".$result['ref']."<br />";
	    } if($result['trackid']) {
	    	echo "TrackID : ".$result['trackid']."<br /><br />";
	    }
?>
<?php endif ?>
<p><?php echo $this->__('Click <a href="%s">here</a> to continue shopping.', $this->getContinueShoppingUrl()) ?></p>
