<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Ajaxlogin
 * @version    1.1.5
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ($this->getParentBlock()->shouldDisplayNewsletterSubscriptionSection()): ?>
    <?php if ( !Mage::helper('ajaxlogin/data')->isModuleOutputDisabled('Mage_Newsletter') ): ?>
        <input
            type="checkbox"
            name="is_subscribed"
            title="<?php echo $this->__('Sign Up for Newsletter') ?>"
            value="1"
            id="<?php if ( $this->getHtmlId() ): ?><?php echo $this->getHtmlId() ?><?php else: ?><?php echo $this->getNameInLayout() ?><?php endif; ?>"
            <?php if ( $this->getParentBlock()->getFormData()->getIsSubscribed()  ): ?>
                checked="checked"
            <?php endif; ?>
            class="checkbox"
        />
        <input type="hidden" name="is_subscribed" value="1" id="is_subscribed"  />
        <label for="<?php if ( $this->getHtmlId() ): ?><?php echo $this->getHtmlId() ?><?php else: ?><?php echo $this->getNameInLayout() ?><?php endif; ?>"><?php echo $this->__('Sign Up for Newsletter') ?></label>
        <?php echo $this->getParentBlock()->getChildHtml('customer.form.register.newsletter')?>
    <?php endif ?>
    
    <?php
        if ( Mage::helper('ajaxlogin')->isModuleOutputEnabled('AW_Advancednewsletter')) {
            $__segmentsBlock = $this->getLayout()->createBlock('advancednewsletter/subscribe', 'al_an_subscription');
            switch ( Mage::getStoreConfig(AW_Advancednewsletter_Block_Subscribe::STYLES_PATH) ) {
                case 'select': $__segmentsBlock->setTemplate('advancednewsletter/options/select.phtml'); break;
                case 'multiselect': $__segmentsBlock->setTemplate('advancednewsletter/options/multiselect.phtml'); break;
                case 'checkboxes': $__segmentsBlock->setTemplate('advancednewsletter/options/checkboxes.phtml'); break;
                case 'radio': $__segmentsBlock->setTemplate('advancednewsletter/options/radio.phtml'); break;
            }
            
            echo $__segmentsBlock->toHtml();
        }
    ?>
<?php endif ?>