<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Ajaxlogin
 * @version    1.1.5
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php foreach ($this->getChildren() as $__childBlock): ?>
    <?php echo $__childBlock->toHtml() ?>
<?php endforeach; ?>


<div class="alAgreementPopup alPopup" style="display: none;">
    <div class="Shadow"></div>
    <div class="Canvas">
        <div class="Title"><h2></h2></div>
        <div class="Content"></div>
        <div class="Toolbar">
            <div class="buttons-set">
                <a class="alCloseButton" href=""><?php echo $this->__('Close') ?></a>
                <button title="Create an Account" class="alAcceptButton button" type="button"><span><span><?php echo $this->__('Accept') ?></span></span></button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $$('.alAgreementPopup .Shadow')[0].observe(
        'click',
        function(event) {
            var __agreementPopupNode = this.parentNode;
            __agreementPopupNode.style.display = 'none';
            
            return AjaxLogin.cancelPrototypeEvent(event);
        }
    );
    
    $$('.alAgreementPopup .alCloseButton')[0].observe(
        'click',
        function(event) {
            var __agreementPopupNode = this.parentNode.parentNode.parentNode.parentNode;
            __agreementPopupNode.style.display = 'none';
            
            return AjaxLogin.cancelPrototypeEvent(event);
        }
    );
    
    $$('.alAgreementPopup .alAcceptButton')[0].observe(
        'click',
        function(event) {
            var __agreementPopupNode = this.parentNode.parentNode.parentNode.parentNode;
            __agreementPopupNode.style.display = 'none';
            
            if ( this.__agreementCheckbox ) {
                this.__agreementCheckbox.checked = 'checked';
            }
            
            return AjaxLogin.cancelPrototypeEvent(event);
        }
    );
</script>