<?php
$themeCfg = Mage::helper('camen/data');
$themeName = Mage::getSingleton("core/design_package")->getPackageName();
$bgImg = Mage::helper('cms')->getBlockTemplateProcessor()->filter($themeCfg->getField('newsletterpopup_background'));
if (preg_match('/^wysiwyg/i', $bgImg)) {
    $bgImg = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$bgImg;
    $popupStyle .= 'background-image: url(\''.$bgImg.'\');';
}
$enabled = $themeCfg->getField('newsletterpopup_isenabled');
$title = $themeCfg->getField('newsletterpopup_title');
$desc = $themeCfg->getField('newsletterpopup_description');
$cookie = $themeCfg->getField('newsletterpopup_cookietime');
$width = $themeCfg->getField('newsletterpopup_width');
$height = $themeCfg->getField('newsletterpopup_height');
//var_dump($themeName); die;
//var_dump($enabled); die;
?>
<?php if($enabled): ?>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var check_cookie = jQuery.cookie('<?php echo $themeName ?>_dontshowtpopopnewsletter');
            if(check_cookie == null || check_cookie == 'false') {
                popupNewsletter();
            }
            jQuery('#newsletter-popup .subscribe-bottom input').on('click', function(){
                if(jQuery(this).parent().find('input:checked').length){
                    var check_cookie = jQuery.cookie('<?php echo $themeName ?>_dontshowtpopopnewsletter');
                    if(check_cookie == null || check_cookie == 'false') {
                        jQuery.cookie('<?php echo $themeName ?>_dontshowtpopopnewsletter','true',{ expires: <?php echo $cookie; ?>});
                    }
                    else
                    {
                        jQuery.cookie('<?php echo $themeName ?>_dontshowtpopopnewsletter','false');
                        popupNewsletter();
                    }
                } else {
                    jQuery.cookie('<?php echo $themeName ?>_dontshowtpopopnewsletter','false');
                }
            });

            jQuery(window).on("load", function() {
                var subcribed = jQuery('.messages .success-msg ul li span');
                if(subcribed.length > 0){
                    popupClose();
                    var check_cookie = jQuery.cookie('<?php echo $themeName ?>_dontshowtpopopnewsletter');
                    if(check_cookie == null || check_cookie == 'false') {
                        jQuery.cookie('<?php echo $themeName ?>_dontshowtpopopnewsletter','true',{ expires: <?php echo $cookie ?>});
                    }
                    else
                    {
                        return false;
                    }
                } else {
                    return false;
                }
            });

        });
        function popupNewsletter() {
            jQuery.fancybox({
                'padding': '0',
                'width': '<?php echo $width ?>',
                'height':'<?php echo $height ?>',
                'autoSize': false,
//            'autoHeight': true,
                'type': 'inline',
                'scrolling': 'no',
                'href': '#newsletter-popup'
            });
            jQuery("#newsletter-popup").trigger('click');
        };

        function popupClose() {
            parent.jQuery.fancybox.close();
        }

    </script>
    <center style="display:none;">
        <div id="newsletter-popup" style="<?php echo $popupStyle; ?>">
            <div class="promotional-popup">
                <div class="subscribe-title">
                    <?php if ($title): ?>
                        <h3 class="title"><?php echo $this->__($title) ?></h3>
                    <?php endif; ?>
                    <?php if ($desc): ?>
                        <div class="description"><?php echo $desc ?></div>
                    <?php endif; ?>
                </div>
                <?php echo $this->getLayout()->createBlock('newsletter/subscribe')->setTemplate('newsletter/subscribe-content.phtml')->toHtml(); ?>
                <label class="subscribe-bottom"><input id="dont-show-again" type="checkbox"><?php echo $this->__("Don't show this popup again"); ?></label>
            </div>
        </div>
    </center>
<?php endif; ?>