<?php
	$uq = rand().time();
?>

<div class="sns-custom-tabs">
	<div class="custom-tab-head">
		<h3><?php echo $this->getTitle(); ?></h3>
		<ul class="nav-tabs gfont">
			<?php $active = ' active'; ?>
			<?php foreach ($this->getChildGroup('custom_tabs', 'getChildHtml') as $alias => $html):?>
				<li class="<?php echo $active;?>">
					<a data-toggle="tab" href="#sns_custom_tab_<?php echo "{$alias}" . $uq; ?>">
						<?php 
							if ($title = $this->getChildData($alias, 'title')):
								echo $this->escapeHtml($title);
							else : 
								echo ucfirst("{$alias}");
							endif;
						?>
					</a>
				</li>
				<?php $active = ''; ?>
			<?php endforeach;?>
		</ul>
	</div>

	<div class="tab-content">
		<?php $active = ' active in'; ?>
		<?php foreach ($this->getChildGroup('custom_tabs', 'getChildHtml') as $alias => $html):?>
			<div id="sns_custom_tab_<?php echo "{$alias}" . $uq; ?>" class="tab-pane<?php echo $active;?> fade">
				<div class="collateral-box">
					<?php echo $html ?>
				</div>
			</div>
			<?php $active = ''; ?>
		<?php endforeach;?>
	</div>
</div>
<?php echo $this->getChildHtml('camen_banner3'); ?>
											