<?php
$themeCfg = Mage::helper('camen/data');

$enabled = $themeCfg->getField('testimonial_status');
if($enabled == 1) :
    $testimonials = $themeCfg->getField('testimonial_items');
    $array_testimonials = unserialize($testimonials);
    $collect_testimonials = array();
    foreach($array_testimonials as $key=>$testimonial){
        $testimonial['description'] = Mage::helper('cms')->getBlockTemplateProcessor()->filter($testimonial['description']);
        $collect_testimonials[] = $testimonial;
    }
    if($collect_testimonials) :
        $blockId ='sns_testimonial_'.rand().time();
        ?>
        <div class="block_border sns_testimonial block" id="<?php echo $blockId; ?>">
            <div class="block-title">
                <span><?php echo $themeCfg->getField('testimonial_title'); ?></span>
                <div class="navslider">
                    <a class="prev" href="#"><i class="fa fa-angle-left"></i></a>
                    <a class="next" href="#"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="block_content testimonials_slider">
                <div class="testimonials_slider_in">
                    <div class="our_testimonials" >
                        <?php foreach($collect_testimonials as $testimonial) : ?>
                            <div class="wrap">
                                <div class="info">
                                    <?php
                                    $testimonial['avatar'] = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$testimonial['avatar'];
                                    ?>
                                    <div class="avatar-info">
                                        <div class="image">
                                            <div class="avatar">
                                                <a href="#" class="banner5">
                                                    <img alt="" src="<?php echo $testimonial['avatar']; ?>" />
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                    <p class="content"><?php echo $testimonial['description']; ?></p>
                                    <div class="tes-info">
                                        <div class="name"><?php echo $testimonial['name']; ?> <?php echo $testimonial['position']; ?></div>

                                    </div>

                                </div>
                            </div>
                        <?php endforeach; ?>
                    </div>
                </div>
            </div>
            <script>

                jQuery(document).ready(function($) {
                    $(window).load(function(){
                        $('#<?php echo $blockId; ?> .our_testimonials').owlCarousel({
                            itemsCustom: [
                                [0, 1]
                            ],
                            pagination: false,
                            itemsScaleUp : true,
                            slideSpeed : 800,
                            autoPlay: false,
                            addClassActive: true,
			    touchDrag: false,
                            afterAction: function (e) {
                                if(this.$owlItems.length > this.options.items){
                                    $('#<?php echo $blockId; ?> .navslider').show();
                                }else{
                                    $('#<?php echo $blockId; ?> .navslider').hide();
                                }
                            }
                        });
                        $('#<?php echo $blockId; ?> .navslider .prev').on('click', function(e){
                            e.preventDefault();
                            $('#<?php echo $blockId; ?> .our_testimonials').trigger('owl.prev');
                        });
                        $('#<?php echo $blockId; ?> .navslider .next').on('click', function(e){
                            e.preventDefault();
                            $('#<?php echo $blockId; ?> .our_testimonials').trigger('owl.next');
                        });
                    });
                });
            </script>
        </div>
    <?php endif; ?>
<?php endif; ?>



