<?php
	$result = $this->getBurganData();
	echo $this->getMethod()->getTitle() . '<br/>';
	echo "<strong>".Mage::helper('burgan')->__('Payment Details ')."</strong><br>";
	    $result = $this->getBurganData();
	    if($result['paymentid']) {
	    	echo "PaymentID : ".$result['paymentid']."<br>";
	    } if($result['result']) {
	    	echo "Result : ".$result['result']."<br>";
	    } if($result['postdate']) {
	    	echo "PostDate : ".$result['postdate']."<br>";
	    } if($result['tranid']) {
	    	echo "TranID : ".$result['tranid']."<br>";
	    } if($result['auth']) {
	    	echo "Auth : ".$result['auth']."<br>";
	    } if($result['ref']) {
	    	echo "Ref : ".$result['ref']."<br>";
	    } if($result['trackid']) {
	    	echo "TrackID : ".$result['trackid']."<br>";
	    }
?>