<?php
/*------------------------------------------------------------------------
 # SNS Products - Version 1.0
 * Copyright (C) 2013 The SNS Theme. All Rights Reserved.
 * @license - GNU/GPL, http://www.gnu.org/licenses/gpl.html
 * Author: SNS Theme
 * Websites: http://www.snstheme.com
-------------------------------------------------------------------------*/
$themeCfg =   Mage::helper('camen/data');
$_productCollection = $this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
$imgWidth = $this->product_image_width;
$imgHeight = $this->product_image_height;
if ($imgWidth <= 0 || $imgHeight <= 0){
	$this->product_image_disp = false;
}
$uniqued = rand().time();

$imgSizeS = $themeCfg->getImgSize('M');
$imgSize = $themeCfg->getImgSize('M');
$imgWidth = 90;
$imgHeight = 90;
//Zend_Debug::dump($this->product_filter_by);
$_category = Mage::getModel('catalog/category')->load($this->product_category);
?>
<?php if(!$_productCollection->count()): ?>
	<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div id="sns_lider<?php echo $uniqued; ?>" class="block sns-slider">
	<div class="slider-inner">
    	<div class="block-title">
            <?php if($_category->getName() !="") : ?>
                <!--				<span>--><?php //echo $this->title;?><!--</span>-->
                <span><?php echo $_category->getName(); ?></span>
            <?php else: ?>
                <span><?php echo $this->__($this->title);?></span>
            <?php endif; ?>
    		<?php if($this->pretext!="") : ?>
    			<p class="pretext"><?php echo $this->__($this->pretext);?></p>
			<?php endif; ?>
			<div class="navslider">
				<a class="prev" href="#"><i class="fa fa-angle-left"></i></a>
				<a class="next" href="#"><i class="fa fa-angle-right"></i></a>
			</div>
    	</div>
		<div class="container-slider">
			<div class="products-grid">
			    <?php $i=0; foreach($_productCollection as $_product) : ?>
			    	<?php
				        $saleLabel = false;
				        $newLabel = false;
						$now = date("Y-m-d");
				        $newsFrom= substr($_product->getData('news_from_date'),0,10);
				        $newsTo=  substr($_product->getData('news_to_date'),0,10);
				        $price = $_product->getPrice();
				        $finalPrice = $_product->getFinalPrice();
				        if(!$newsTo && $newsFrom && $now>=$newsFrom) $newLabel = true;
				        if($newsTo && !$newsFrom && $now<=$newsTo) $newLabel = true;
						if ($now>=$newsFrom && $now<=$newsTo && $themeCfg->getField('general_useTagNew')){ 
							$newLabel = true;
						}
						if(isset($price) && isset($finalPrice) && $finalPrice < $price && $themeCfg->getField('general_useTagSale')) $saleLabel = true;
						$endTime = Mage::getModel('core/date')->date("Y, m, d, H, i, s", $_product->getSpecialToDate());
                        $nowTime = Mage::getModel('core/date')->date("Y, m, d, H, i, s", Mage::getModel('core/date')->timestamp(time()));

					?>
                    <?php if($i%3 == 0) {
                        echo '<div class="row-item mini-products-list">';
                    }
                    ?>
                    <div class="item">
                        <div class="item-img">
                            <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                    	<span class="image-main">
                        	<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($imgWidth, $imgHeight); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
                    	</span>
                            </a>
                        </div>

                        <div class="item-info">
                            <div class="item-title">
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a>
                            </div>
                            <div class="rating">
                                <?php echo $this->getReviewsSummaryHtml($_product, false, true)?>
                            </div>
                            <div class="item-price">
                                <?php echo $this->getPriceHtml($_product, false, $uniqued) ?>
                            </div>
                        </div>
                    </div>
                    <?php
                    $i++;
                    if($i%3 == 0 || $i == $_productCollection->count()) {
                        echo '</div>'; // endrow
                    }
                    ?>
			    <?php endforeach; ?>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
//<![CDATA[
    jQuery(document).ready(function($) {
        $('#sns_lider<?php echo $uniqued; ?> div.products-grid').owlCarousel({
        	items: 4,
            itemsCustom: [ 
            	[0,1]
            ],
            pagination: false,
            slideSpeed : 800,
            addClassActive: true,
            scrollPerPage: true,
            touchDrag: false,
			afterAction: function (e) {
			    if(this.$owlItems.length > this.options.items){
			        $('#sns_lider<?php echo $uniqued; ?> .navslider').show();
			    }else{
			        $('#sns_lider<?php echo $uniqued; ?> .navslider').hide();
			    }
			}
            //scrollPerPage: true,
        });
		$('#sns_lider<?php echo $uniqued; ?> .navslider .prev').on('click', function(e){
			e.preventDefault();
			$('#sns_lider<?php echo $uniqued; ?> div.products-grid').trigger('owl.prev');
		});
		$('#sns_lider<?php echo $uniqued; ?> .navslider .next').on('click', function(e){
			e.preventDefault();
			$('#sns_lider<?php echo $uniqued; ?> div.products-grid').trigger('owl.next');
		});
    });
//]]>
</script>

<?php endif; ?>