<?php
	/*------------------------------------------------------------------------
	 # SNS Products - Version 1.0
	 * Copyright (C) 2013 The SNS Theme. All Rights Reserved.
	 * @license - GNU/GPL, http://www.gnu.org/licenses/gpl.html
	 * Author: SNS Theme
	 * Websites: http://www.snstheme.com
	-------------------------------------------------------------------------*/
	$themeCfg =   Mage::helper('camen/data');
	$_productCollection = $this->getLoadedProductCollection();
	$_helper = $this->helper('catalog/output');
	$imgWidth = $this->product_image_width;
	$imgHeight = $this->product_image_height;
	if ($imgWidth <= 0 || $imgHeight <= 0){
		$this->product_image_disp = false;
	}
	$uniqued = rand().time();

	$imgSizeS = $themeCfg->getImgSize('S');
	$imgSize = $themeCfg->getImgSize('XL');
	$imgWidth = $imgSize[0];
	$imgHeight = $imgSize[1];
	//Zend_Debug::dump($this->product_filter_by);
	?>
	<div class="container">
	    <?php if(!$_productCollection->count()): ?>
	        <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
	    <?php else: ?>
	    <div id="sns_lider<?php echo $uniqued; ?>" class="block sns-slider">
		<div class="slider-inner">
	    	<div class="block-title">
	    		<?php if($this->title!="") : ?>
	    			<strong><?php echo $this->__($this->title);?></strong>
				<?php endif; ?>
	    		<?php if($this->pretext!="") : ?>
	    			<p class="pretext"><?php echo $this->__($this->pretext);?></p>
				<?php endif; ?>
				<div class="navslider">
					<a class="prev" href="#"><i class="fa fa-angle-left"></i></a>
					<a class="next" href="#"><i class="fa fa-angle-right"></i></a>
				</div>
	    	</div>
			<div class="container-slider">
				<div class="products-grid">
				    <?php $i=0; foreach($_productCollection as $_product) : ?>
				    	<?php
					        $saleLabel = false;
					        $newLabel = false;
							$now = date("Y-m-d");
					        $newsFrom= substr($_product->getData('news_from_date'),0,10);
					        $newsTo=  substr($_product->getData('news_to_date'),0,10);
					        $price = $_product->getPrice();
					        $finalPrice = $_product->getFinalPrice();
					        if(!$newsTo && $newsFrom && $now>=$newsFrom) $newLabel = true;
					        if($newsTo && !$newsFrom && $now<=$newsTo) $newLabel = true;
							if ($now>=$newsFrom && $now<=$newsTo && $themeCfg->getField('general_useTagNew')){
								$newLabel = true;
							}
							if(isset($price) && isset($finalPrice) && $finalPrice < $price && $themeCfg->getField('general_useTagSale')) $saleLabel = true;
							$endTime = Mage::getModel('core/date')->date("Y, m, d, H, i, s", $_product->getSpecialToDate());
	                        $nowTime = Mage::getModel('core/date')->date("Y, m, d, H, i, s", Mage::getModel('core/date')->timestamp(time()));

						?>
	                    <?php if($i%1 == 0) {
	                        echo '<div class="row-item">';
	                    }
	                    ?>
				        <div class="item">
							<div class="item-inner">
								<div class="prd">
								    <div class="item-img clearfix">
									<?php if ($newLabel) echo "<span class='ico-product ico-new'>".$this->__('New')."</span>"; ?>
									<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image<?php echo (count(Mage::getModel('catalog/product')->load($_product->getId())->getMediaGalleryImages()) > 0)?' have-additional':'';?>">
										<span class="img-main">
										<!-- <img
											data-zoom-image="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>"
											src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($imgSize[0], $imgSize[1]); ?>"
											alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /> -->
											<img
											data-zoom-image="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>"
											src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(262, 262); ?>"
											alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
										</span>
									</a>
	                                <div class="action-quickview">
	                                    <div id="qv_item_<?php echo $_product->getId(); ?>" class="wrap-quickview">
	                                        <div class="quickview-wrap">
	                                            <a href="<?php echo $_product->getProductUrl() ?>" class="sns-btn-quickview">
	                                                <span><?php echo $this->__('View') ?></span>
	                                            </a>
	                                        </div>
	                                    </div>
	                                </div>

	                                <div class="sns-action">
	                                    <div class="action-bot add-to-links">
	                                        <div class="wrap-addtocart">
	                                            <?php if( $themeCfg->getField('listingpage_displayAddtocart') ): ?>
	                                                <?php if($_product->isSaleable()): ?>
	                                                    <button title="<?php echo $this->__('Add to Bag') ?>" data-text="Add to Cart" class="btn-cart "  onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')" >
	                                                        <span><i class="fa fa-shopping-cart"></i></span>
	                                                        <span><?php echo $this->__('Add to Bag') ?></span>
	                                                    </button>
	                                                <?php else: ?>
	                                                    <span class="btn-cart out-of-stock"><?php echo $this->__('Sold Out') ?></span>
	                                                <?php endif; ?>
	                                            <?php endif; ?>
	                                        </div>

	                                        <?php if ( $this->helper('wishlist')->isAllow() && $themeCfg->getField('listingpage_displayWishlist') ) : ?>
	                                            <div class="wrap-action">
	                                                <div class="action-wrap">
	                                                    <a title="<?php echo $this->__('Add to Wishlist') ?>" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="sns-btn-wishlist" data-placement="top" data-toggle="tooltip" data-original-title="<?php echo $this->__('Add to Wishlist') ?>"><?php //echo $this->__('Add to Wishlist') ?></a>
	                                                </div>
	                                            </div>
	                                        <?php endif; ?>

	                                        <?php if( $themeCfg->getField('listingpage_displayCompare') ):
	                                            $_compareUrl=$this->getAddToCompareUrl($_product);
	                                            ?>
	                                            <div class="wrap-action">
	                                                <div class="action-wrap">
	                                                    <a title="<?php echo $this->__('Add to Compare') ?>" href="<?php echo $_compareUrl ?>" class="sns-btn-compare" data-toggle="tooltip" data-placement="top" data-original-title="<?php echo $this->__('Add to Compare') ?>"><?php //echo $this->__('Add to Compare') ?></a>
	                                                </div>
	                                            </div>
	                                        <?php endif; ?>
	                                    </div>
	                                </div>
									<?php if ($saleLabel && $nowTime < $endTime && $themeCfg->getField('general_dealsCountdown')): ?>
										<div class="countdown" data-endtime="<?php echo $endTime; ?>"></div>
									<?php endif; ?>
									</div>
	                                <div class="item-info">
									    <div class="info-inner">
									        <div class="item-title">
									            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
									                <?php
									                    echo Mage::helper('core/string')->truncate($_helper->productAttribute($_product, $_product->getName(), 'name'), 40);
									                ?>
									            </a>
									        </div>
									        <?php /*
									        <div class="rating">
									        	<?php echo $this->getReviewsSummaryHtml($_product, false, true)?>
									        </div>
									        */ ?>
									        <div class="item-price">
									            <?php echo $this->getPriceHtml($_product, false, rand().time()) ?>
									            <?php if ($saleLabel) echo "<span class='ico-product ico-sale'>-".floor(100-($finalPrice/$price)*100)."%<span class='arow'></span></span>"; ?>
									        </div>
									    </div>
									</div>

								</div>
							</div>
				        </div>
	                    <?php
	                    $i++;
	                    if($i%1 == 0 || $i == $_productCollection->count()) {
	                        echo '</div>'; // endrow
	                    }
	                    ?>
				    <?php endforeach; ?>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script type="text/javascript">
	//<![CDATA[
	    jQuery(document).ready(function($) {
	        $('#sns_lider<?php echo $uniqued; ?> div.products-grid').owlCarousel({
	        	items: 4,
				loop:true,
				<?php if( Mage::app()->getStore()->getCode() =='arabic') : ?>
					rtl : true,
				<?php endif; ?>

				responsive:{
					0:{ items: 2 },
					480:{ items: 3 },
					768:{ items: 4 },
					992:{ items: 6 },
					1200:{ items: 6 }
				},
				slideBy : 5,
	            pagination: false,
				scrollPerPage: true,
	            slideSpeed : 800,
	            addClassActive: true,
	            scrollPerPage: true,
				nav: false,
				dots : false,
	            touchDrag: true,
				afterAction: function (e) {
				    if(this.$owlItems.length > this.options.items){
				        $('#sns_lider<?php echo $uniqued; ?> .navslider').show();
				    }else{
				        $('#sns_lider<?php echo $uniqued; ?> .navslider').hide();
				    }
				}
	            //scrollPerPage: true,
	        });
			$('#sns_lider<?php echo $uniqued; ?> .navslider .prev').on('click', function(e){
				e.preventDefault();
				$('#sns_lider<?php echo $uniqued; ?> div.products-grid').trigger('prev.owl.carousel');
			});
			$('#sns_lider<?php echo $uniqued; ?> .navslider .next').on('click', function(e){
				e.preventDefault();
				$('#sns_lider<?php echo $uniqued; ?> div.products-grid').trigger('next.owl.carousel');
			});
	    });
	//]]>
	</script>

	<?php endif; ?>
