<?php
/*------------------------------------------------------------------------
 # SNS Products - Version 1.0
 * Copyright (C) 2013 The SNS Theme. All Rights Reserved.
 * @license - GNU/GPL, http://www.gnu.org/licenses/gpl.html
 * Author: SNS Theme
 * Websites: http://www.snstheme.com
-------------------------------------------------------------------------*/
$themeConfig =   Mage::helper('camen/data')->get();
$themeCfg =   Mage::helper('camen/data');
$_productCollection = $this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
$imgWidth = $this->product_image_width;
$imgHeight = $this->product_image_height;
if ($imgWidth <= 0 || $imgHeight <= 0){
	$this->product_image_disp = false;
}
$uniqued = rand().time();

$imgSize = Mage::helper('camen/data')->getImgSize('L');
?>
<?php if(!$_productCollection->count()): ?>
	<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div id="sns_lider<?php echo $uniqued; ?>" class="block sns-slider sns-deals">
	<div class="slider-inner">
		    	<div class="block-title">
		    		<?php if($this->title!="") : ?>
		    			<span><?php echo $this->__($this->title);?></span>
					<?php endif; ?>
                    <div class="navslider">
                        <a class="prev" href="#"><i class="fa fa-angle-left"></i></a>
                        <a class="next" href="#"><i class="fa fa-angle-right"></i></a>
                    </div>
		    	</div>
                <div class="container-slider">
				    <div class="products-grid">
				    <?php $j=0; foreach($_productCollection as $_product) : ?>
				    	<?php
					        $saleLabel = false;
					        $newLabel = false;
							$now = date("Y-m-d");
					        $newsFrom= substr($_product->getData('news_from_date'),0,10);
					        $newsTo=  substr($_product->getData('news_to_date'),0,10);
					        $price = $_product->getPrice();
					        $finalPrice = $_product->getFinalPrice();
					        if(!$newsTo && $newsFrom && $now>=$newsFrom) $newLabel = true;
					        if($newsTo && !$newsFrom && $now<=$newsTo) $newLabel = true;
							if ($now>=$newsFrom && $now<=$newsTo && $themeCfg->getField('general_useTagNew')){
								$newLabel = true;
							}
							if(isset($price) && isset($finalPrice) && $finalPrice < $price && $themeCfg->getField('general_useTagSale')) $saleLabel = true;

					        $endTime = Mage::getModel('core/date')->date("Y, m, d, H, i, s", $_product->getSpecialToDate());
                            $nowTime = Mage::getModel('core/date')->date("Y, m, d, H, i, s", Mage::getModel('core/date')->timestamp(time()));
						?>
                            <?php if($j%4 == 0) {
                                echo '<div class="row-item">';
                            }
                            ?>
                            <div class="item">
                                <div class="item-inner">
                                    <div class="prd">
                                        <div class="module-ct">
                                            <div class="item-img clearfix">
        <!--                                        --><?php //if ($newLabel) echo "<span class='ico-product ico-new'>New</span>"; ?>
                                                <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                                    <span class="img-main">
                                                        <img
                                                            data-zoom-image="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>"
                                                            src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($imgWidth, $imgHeight); ?>"
                                                            alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                                    </span>
                                                </a>
                                                <div class="action-quickview">
                                                    <div id="qv_item_<?php echo $_product->getId(); ?>" class="wrap-quickview">
                                                        <div class="quickview-wrap">
                                                            <a href="<?php echo $_product->getProductUrl() ?>" class="sns-btn-quickview">
                                                                <span><?php echo $this->__('View') ?></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item_content">
                                                    <div class="item-title">
                                                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a>
                                                    </div>

                                                    <div class="item-price">
                                                        <?php echo $this->getPriceHtml($_product, false, $uniqued) ?>
        <!--                                                --><?php //if ($saleLabel) echo "<span class='ico-product ico-sale'>-".floor(100-($finalPrice/$price)*100)."%</span>"; ?>
                                                    </div>
                                                    <?php if($_product->isSaleable()): ?>
                                                        <button title="<?php echo $this->__('Add to Cart') ?>" class="btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><i class="fa fa-shopping-cart"></i><?php echo $this->__('Add to Cart') ?></button>
                                                    <?php else: ?>
                                                        <span class="btn-cart out-of-stock" title="<?php echo $this->__('Out of stock') ?>" data-toggle="tooltip" data-original-title="<?php echo $this->__('Out of stock') ?>"><span><?php echo $this->__('Out of stock') ?></span></span>
                                                    <?php endif; ?>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="countdown" data-endtime="<?php echo $endTime; ?>"></div>
                                    </div>
                                </div>
                            </div>
                            <?php
                            if(($j+1)%4 == 0 || $j + 1 == $_productCollection->count()) {
                                echo '</div>'; // endrow
                            }
                            $j++;
                            ?>
                        <?php endforeach; ?>
				    </div>
                </div>
	</div>
</div>
    <script type="text/javascript">
        //<![CDATA[
        jQuery(document).ready(function($) {
            $('#sns_lider<?php echo $uniqued; ?> div.products-grid').owlCarousel({
                itemsCustom: [
                    [0, 1]
                ],
                pagination: false,
                slideSpeed : 800,
                addClassActive: true,
                scrollPerPage: true,
                autoHeight: false,
		touchDrag: false,
                afterAction: function (e) {
                    if(this.$owlItems.length > this.options.items){
                        $('#sns_lider<?php echo $uniqued; ?> .navslider').show();
                    }else{
                        $('#sns_lider<?php echo $uniqued; ?> .navslider').hide();
                    }
                }
                //scrollPerPage: true,
            });
            $('#sns_lider<?php echo $uniqued; ?> .navslider .prev').on('click', function(e){
                e.preventDefault();
                $('#sns_lider<?php echo $uniqued; ?> div.products-grid').trigger('owl.prev');
            });
            $('#sns_lider<?php echo $uniqued; ?> .navslider .next').on('click', function(e){
                e.preventDefault();
                $('#sns_lider<?php echo $uniqued; ?> div.products-grid').trigger('owl.next');
            });
        });
        //]]>
    </script>
<?php endif; ?>