<?php
/*------------------------------------------------------------------------
 # SNS Products - Version 1.0
 * Copyright (C) 2013 The SNS Theme. All Rights Reserved.
 * @license - GNU/GPL, http://www.gnu.org/licenses/gpl.html
 * Author: SNS Theme
 * Websites: http://www.snstheme.com
-------------------------------------------------------------------------*/
$themeConfig =   Mage::helper('camen/data')->get();
$_productCollection = $this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
$imgWidth = $this->product_image_width;
$imgHeight = $this->product_image_height;
if ($imgWidth <= 0 || $imgHeight <= 0){
	$this->product_image_disp = false;
}
$uniqued = rand().time();

$imgSize = Mage::helper('camen/data')->getImgSize('M');
$imgWidth = $imgSize[0];
$imgHeight = $imgSize[1];
?>
<?php if(!$_productCollection->count()): ?>
	<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div id="sns_products<?php echo $uniqued; ?>" class="block sns-products-list">
	<div class="slider-inner">
		<div class="block-title">
			<?php if($this->title!="") : ?>
				<strong><?php echo $this->title;?></strong>
			<?php endif; ?>
		</div>

	    <div class="mini-products-list">
	    <?php foreach($_productCollection as $_product) : ?>
	        <?php
		        $price = $_product->getPrice();
		        $finalPrice = $_product->getFinalPrice();
	        ?>
	        <div class="item">
                <div class="item-img">
                    <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                    	<span class="image-main">
                        	<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($imgWidth, $imgHeight); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
                    	</span>
                    </a>
                </div>

                <div class="item-info">
                    <div class="item-title">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a>
                    </div>
                    <div class="rating">
                    	<?php echo $this->getReviewsSummaryHtml($_product, false, true)?>
                    </div>
                    <div class="item-price">
                        <?php echo $this->getPriceHtml($_product, false, $uniqued) ?>
                    </div>
                </div>
	        </div>
	    <?php endforeach; ?>
	    </div>
	</div>
</div>

<?php endif; ?>