<fieldset class="form-list">
    <?php $_code=$this->getMethodCode() ?>
    <ul id="payment_form_<?php echo $_code ?>" style="display:none">
        <li>
            <?php echo Mage::helper('knetpay')->__('You will be redirected to KNET website when you place an order.') ?>
        </li>
    </ul>
</fieldset>