<?php 
    $result = $this->getKnetpayData();
	echo $this->getMethod()->getTitle() . '<br/>';
	if ($result['trackid'] == '') {
		echo '<em>' . Mage::helper('knetpay')->__('You will be redirected to KNET website when you place an order.') . '</em>';
	} else {
	    echo "<strong style=font-weight:bold;>".Mage::helper('knetpay')->__('Payment Details :')."</strong><br/>";
	    if($result['paymentid']) {
	    	echo "PaymentID : ".$result['paymentid']."<br/>";
	    } if($result['result']) {
	    	echo "Result : ".$result['result']."<br/>";
	    } if($result['postdate']) {
	    	echo "PostDate : ".$result['postdate']."<br/>";
	    } if($result['tranid']) {
	    	echo "TranID : ".$result['tranid']."<br/>";
	    } if($result['auth']) {
	    	echo "Auth : ".$result['auth']."<br/>";
	    } if($result['ref']) {
	    	echo "Ref : ".$result['ref']."<br/>";
	    } if($result['trackid']) {
	    	echo "TrackID : ".$result['trackid']."<br/>";
	    }
	}
?>