<form enctype="multipart/form-data" action="<?php echo Mage::getUrl().'api/rest/mobile/customer/login'?>" method="post" name="api_loginform">
	<div class="input-box">
		<label for="email">Email Address</label>
		<input type="text" name="email" id="email" value="" />
	</div>
	<div class="input-box">
		<label for="password">Password</label>
		<input type="password" name="password" id="password" value="" />
	</div>
	<input type="submit" value="login"/>
</form>