<html>
<head>
    <meta http-equiv="content-type" content="application/json; charset=UTF-8">
  </head>
  <body>
<form enctype="multipart/form-data" accept="application/json" action="http://indexinter.com/api/rest/customers/" method="POST" name="api_loginform">
	<div class="input-box">
		<label for="firstname">firstname</label>
		<input type="text" name="firstname" id="firstname" value="" />
	</div>
	<div class="input-box">
		<label for="lastname">firstname</label>
		<input type="text" name="lastname" id="lastname" value="" />
	</div>
	<div class="input-box">
		<label for="email">Email Address</label>
		<input type="text" name="email" id="email" value="" />
	</div>
	<div class="input-box">
		<label for="password">Password</label>
		<input type="password" name="password" id="password" value="" />
	</div>
	<div class="input-box">
		<label for="website_id">website id</label>
		<input type="text" name="website_id" id="website_id" value="" />
	</div>
	<div class="input-box">
		<label for="group_id">group id</label>
		<input type="text" name="group_id" id="group_id" value="" />
	</div>
	<input type="submit" value="login"/>
</form>
</body>
</html>