<?php 
?>

	<div class="extra-margin" border="0" style="margin-left:-15px">
	

	<div class="side-menu" style="vertical-align: top;">
		<ul id="tab_ul" class="tabs" style="padding: 0px; margin: 0px; list-style-type: none !important;">
		<!--<?php $url = Mage::helper('core/url')->getCurrentUrl(); //http://domain.com/shoes.html?> -->
		<?php $pageTitle = Mage::getSingleton('cms/page')->getIdentifier(); ?>
		<?php //echo $pageTitle; ?>
			<li class='<?php if($pageTitle=="order-related"){echo "selected";}?>' ><a href="order-related">Order Related</a></li>
			<li class='<?php if($pageTitle=="delivery-related"){echo "selected";}?>' ><a href="delivery-related">Delivery Related</a></li>
			<li class='<?php if($pageTitle=="website-and-account-related"){echo "selected";}?>' ><a href="website-and-account-related">Website and Account related</a></li>
		</ul>
	</div>
	
	
	</div> 
