<?php 
?>

	<div class="extra-margin" border="0">
	

	<div class="side-menu" style="vertical-align: top;">
		<ul id="tab_ul" class="tabs" style="padding: 0px; margin: 0px; list-style-type: none !important;">
		<!--<?php $url = Mage::helper('core/url')->getCurrentUrl(); //http://domain.com/shoes.html?> -->
		<?php $pageTitle = Mage::getSingleton('cms/page')->getTitle(); ?>
		<?php //echo $pageTitle; ?>
			<li class='<?php if($pageTitle=="order-related"){echo "selected";}?>' ><a href="order-related">Order Related</a></li>
			<li class='<?php if($pageTitle=="delivery-related"){echo "selected";}?>' ><a href="delivery-related">Delivery Related</a></li>
			<li class='<?php if($pageTitle=="website-and-account-related"){echo "selected";}?>' ><a href="website-and-account-related">Website and Account related</a></li>
			<li class='<?php if($pageTitle=="faq-company-information"){echo "selected";}?>' ><a href="faq-company-information">Company Information</a></li>
			<li class='<?php if($pageTitle=="faq-website-usage"){echo "selected";}?>'><a href="faq-website-usage">Website Usage</a></li>
			<li class='<?php if($pageTitle=="faq-reward-points"){echo "selected";}?>'><a href="faq-reward-points">Reward Points</a></li>
			<li class='<?php if($pageTitle=="faq-order-process"){echo "selected";}?>'><a href="faq-order-process">Order Process</a></li>
			<li class='<?php if($pageTitle=="faq-authenticity-security-confidentiality"){echo "selected";}?>'><a href="faq-authenticity-security-confidentiality">Authenticity, Security &amp; Confidentiality</a></li>
			<li class='<?php if($pageTitle=="faq-delivery-process"){echo "selected";}?>'><a href="faq-delivery-process">Delivery Process</a></li>
			<li class='<?php if($pageTitle=="faq-order-cancellation"){echo "selected";}?>'><a href="faq-order-cancellation">Order Cancellation</a></li>
			<li class='<?php if($pageTitle=="faq-contact-boutiquaat"){echo "selected";}?>'><a href="faq-contact-boutiquaat">Contact Boutiquaat</a></li>
			<li class='<?php if($pageTitle=="faq-after-sales"){echo "selected";}?>'><a href="faq-after-sales">After Sales</a></li>
			<li class='<?php if($pageTitle=="faq-other"){echo "selected";}?>'><a href="faq-other">Other</a></li>
		</ul>
	</div>
	
	
	</div> 
