<?php 
?>

	<div class="extra-margin" border="0">
	

	<div class="side-menu" style="vertical-align: top;">
		<ul id="tab_ul" class="tabs" style="padding: 0px; margin: 0px; list-style-type: none !important;">
		<?php $url = Mage::helper('core/url')->getCurrentUrl(); //http://domain.com/shoes.html?>
		
			<li class='<?php if(basename($url)=="faq-company-information"){echo "selected";}?>' ><a href="faq-company-information">Company Information</a></li>
			<li class='<?php if(basename($url)=="faq-website-usage"){echo "selected";}?>'><a href="faq-website-usage">Website Usage</a></li>
			<li class='<?php if(basename($url)=="faq-reward-points"){echo "selected";}?>'><a href="faq-reward-points">Reward Points</a></li>
			<li class='<?php if(basename($url)=="faq-order-process"){echo "selected";}?>'><a href="faq-order-process">Order Process</a></li>
			<li class='<?php if(basename($url)=="faq-authenticity-security-confidentiality"){echo "selected";}?>'><a href="faq-authenticity-security-confidentiality">Authenticity, Security &amp; Confidentiality</a></li>
			<li class='<?php if(basename($url)=="faq-delivery-process"){echo "selected";}?>'><a href="faq-delivery-process">Delivery Process</a></li>
			<li class='<?php if(basename($url)=="faq-order-cancellation"){echo "selected";}?>'><a href="faq-order-cancellation">Order Cancellation</a></li>
			<li class='<?php if(basename($url)=="faq-contact-boutiqaat"){echo "selected";}?>'><a href="faq-contact-boutiqaat">Contact Boutiqaat</a></li>
			<li class='<?php if(basename($url)=="faq-after-sales"){echo "selected";}?>'><a href="faq-after-sales">After Sales</a></li>
			<li class='<?php if(basename($url)=="faq-other"){echo "selected";}?>'><a href="faq-other">Other</a></li>
		</ul>
	</div>
	
	
	</div> 
