<?php 
?>

<div class="extra-margin" border="0" style="margin-right:0px">
     <div class="side-menu" style="vertical-align: top;">
               <ul style="padding: 0px; margin:0px; list-style-type: none;" class="tabs" id="tab_ul">
               <!--<?php $url = Mage::helper('core/url')->getCurrentUrl(); //http://domain.com/shoes.html?> -->
          <?php $pageTitle = Mage::getSingleton('cms/page')->getIdentifier(); ?>
          <?php //echo $pageTitle; ?>
               <li class='<?php if($pageTitle=="order-related"){echo "selected";}?>' ><a href="order-related">الخاص بالطلب</a></li>
               <li class='<?php if($pageTitle=="delivery-related"){echo "selected";}?>' ><a href="delivery-related">الخاص بالتوصيل</a></li>
               <li class='<?php if($pageTitle=="website-and-account-related"){echo "selected";}?>' ><a href="website-and-account-related">الخاص بالحساب الشخصى و الموقع</a></li>
            	</ul>
     </div>
</div>