<?php 
?>

<div class="extra-margin" border="0">
     <div class="side-menu" style="vertical-align: top;">
               <ul style="padding: 0px; margin:0px; list-style-type: none;" class="tabs" id="tab_ul">
               <?php $url = Mage::helper('core/url')->getCurrentUrl(); //http://domain.com/shoes.html?>

                    <li class='<?php if(basename($url)=="faq-company-information"){echo "selected";}?>'><a href="faq-company-information">معلومات عن الشركة</a></li>
                    <li class='<?php if(basename($url)=="faq-website-usage"){echo "selected";}?>'><a href="faq-website-usage">إستخدام الموقع الإلكتروني</a></li>
                    <li class='<?php if(basename($url)=="faq-reward-points"){echo "selected";}?>'><a href="faq-reward-points">نقاط المكافئة</a></li>
                    <li class='<?php if(basename($url)=="faq-order-process"){echo "selected";}?>'><a href="faq-order-process">سير عملية الطلب</a></li>
                    <li class='<?php if(basename($url)=="faq-authenticity-security-confidentiality"){echo "selected";}?>'><a href="faq-authenticity-security-confidentiality">الموثوقية والأمن والسرية</a></li>
                    <li class='<?php if(basename($url)=="faq-delivery-process"){echo "selected";}?>'><a href="faq-delivery-process">سير عملية التوصيل</a></li>
                    <li class='<?php if(basename($url)=="faq-order-cancellation"){echo "selected";}?>'><a href="faq-order-cancellation">عملية إلغاء الطلب</a></li>
                    <li class='<?php if(basename($url)=="faq-contact-boutiqaat"){echo "selected";}?>'><a href="faq-contact-boutiqaat">أسئلة وأجوبة-الاتصال-بوتيكات</a></li>
                    <li class='<?php if(basename($url)=="faq-after-sales"){echo "selected";}?>'><a href="faq-after-sales">ما بعد البيع</a></li>
                    <li class='<?php if(basename($url)=="faq-other"){echo "selected";}?>'><a href="faq-other">أخرى</a></li>
            	</ul>
     </div>
</div>