<?php $_product = Mage::getModel('catalog/product')->load(Mage::registry('product')->getId()); ?>
<?php if($_product->getVideo()): ?>
	<object width="300" height="280" data="<?php echo $_product->getVideo(); ?>" type="application/x-shockwave-flash">
		<param name="allowFullScreen" value="true" />
		<param name="allowscriptaccess" value="always" />
		<param name="src" value="<?php echo $_product->getVideo(); ?>" />
	</object>

	<!--<object width="300" height="280" data="http://www.youtube.com/v/U0CGsw6h60k?hl=en_US&amp;version=3" type="application/x-shockwave-flash">
		<param name="src" value="http://www.youtube.com/v/U0CGsw6h60k?hl=en_US&amp;version=3" />
		<param name="allowscriptaccess" value="always" />
		<param name="allowfullscreen" value="true" />
	</object>-->
<?php endif; ?>
