<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Storecredit
 * @version    1.0.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div id="aw-storecredit-history-block">
    <div class="fieldset">
        <h2 class="legend"><?php echo $this->__('Balance History');?></h2>

        <?php $transactions = $this->getTransactions(); ?>
        <?php if ($transactions->getSize()): ?>
            <?php echo $this->getPagerHtml(); ?>
            <table class="data-table" id="storecredit-history-table">
                <col class="balance" />
                <col class="balance-change" />
                <col class="action" />
                <col class="comment" />
                <col class="date" />
                <thead>
                <tr>
                    <th><?php echo $this->__('Balance') ?></th>
                    <th><?php echo $this->__('Balance Change') ?></th>
                    <th><?php echo $this->__('Action') ?></th>
                    <th><?php echo $this->__('Comment') ?></th>
                    <th><?php echo $this->__('Modified On') ?></th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($transactions as $transaction): ?>
                    <tr>
                        <td><?php echo Mage::helper('core')->currency($transaction->getBalanceAmount(),true, false); ?></td>
                        <td><?php echo $this->getBalanceDeltaFromTransaction($transaction); ?></td>
                        <td><?php echo $this->getActionFromTransaction($transaction); ?></td>
                        <td><?php echo $this->getAdditionalInfoFromTransaction($transaction) ?></td>
                        <td><?php echo $transaction->getUpdatedAt(); ?></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
            <script type="text/javascript">decorateTable('storecredit-history-table');</script>
            <?php echo $this->getPagerHtml(); ?>
        <?php else: ?>
            <?php echo $this->__('No store credit transactions found');?>
        <?php endif ?>

    </div>
</div>