<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Storecredit
 * @version    1.0.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div  id="aw_storecredit-notification-box" >
    <div class="fieldset">
        <h2 class="legend"><?php echo $this->__('Email Notifications') ?></h2>
        <form action="<?php echo $this->getAction() ?>" method="post" id="form-validate">
            <div>
                <?php echo $this->getBlockHtml('formkey') ?>
                <input  type="checkbox" id="aw_storecredit-subscription" class="checkbox" name="is_subscribed" value="1" title="<?php echo $this->__('Subscribe to email Balance update notifications') ?>"<?php if ($this->getIsSubscribed()): ?> checked="checked"<?php endif; ?>  />
                <label for="aw_storecredit-subscription">
                    <?php echo $this->__('Subscribe to email Balance update notifications') ?>
                </label>
            </div>

            <div id="aw_storecredit-button-to-subscribe">
                <button type="submit" title="<?php echo $this->__('Save') ?>" class="button">
                    <span>
                        <span>
                            <?php echo $this->__('Save') ?>
                        </span>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>
