ul.custom-attribute-list{
    margin:5px 0px;
}

ul.custom-attribute-list li{
    display:block;
    float:left;
    margin-right: 5px;
    margin-bottom: 5px;
}

ul.custom-attribute-list li:last-child {
    margin-right: 0;
}

ul.custom-attribute-list li a div{
    border: 1px solid #E4E4E4;
    overflow: hidden;
    box-sizing:content-box;
    -moz-box-sizing:content-box;
}

.cpcustom_holder.rounded ul.custom-attribute-list li a div{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.cpcustom_holder.circle ul.custom-attribute-list li a div{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

ul.custom-attribute-list li.active a div{
    border:1px #FF6600 solid;
}

.custom-carousel-wrapper {
    width: auto;
    overflow: hidden;
    position: relative;
    /*z-index: 2;*/
}

.cpcustom_holder a, .cpcustom_holder a:active, .cpcustom_holder a:focus, .cpcustom_holder a:hover{
    outline:none !important;
}

.custom-carousel-content {
    width: 2500px;
}

.custom-carousel-content .slide {
    float: left;
    width: auto;
}

.colorPickercustom-tooltip {
    z-index: 1000;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(2, 0, 0, 0.4);
    box-shadow: 1px 1px 5px 1px rgba(2, 0, 0, 0.4);
}

.cpcustom_holder {
    position: relative;
}

.slider_customcontrols a[rel='prev'] {
    /*margin-left: -22px;*/
}

.slider_customcontrols a[rel='next'] {
    float: right;
    /*margin-right: -22px;*/
}

.slider_customcontrols {
    position: absolute;
    width: 100%;
    -webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: content-box;    /* Firefox, other Gecko */
    box-sizing: content-box;         /* Opera/IE 8+ */
    /*z-index: 1;*/
}

.slider_customcontrols .carousel-control {
    position: relative !important;
}

.slider_customcontrols a, a.close-custom-tooltip {
    display: block;
    background-color: transparent;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #A4A4A4;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    border: 1px solid #E4E4E4;
    box-sizing: content-box;
}

a.close-custom-tooltip {
    display:none!important;
}

.slider_customcontrols a:hover, a.close-custom-tooltip:hover {
    background-color: #E4E4E4;
    color: #999999;
}

a.close-custom-tooltip{
    float: right;
    border-color: #B6B6B6;
    font-size: 11px;
    height: 13px;
    width: 16px;
    line-height: 11px;
}

.colorPickerTooltip{
    text-align: center;
}

#product-options-wrapper small{
    font-size:10px;
    font-weight:normal;
    font-style: italic;
}

[id^="custom-tooltip"]{
    font-weight: bold;
    background-color: #E4E4E4;
    padding:3px;
    z-index:10000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: content-box;    /* Firefox, other Gecko */
    box-sizing: content-box;         /* Opera/IE 8+ */
}
[id^="custom-tooltip"] div, [id^="custom-tooltip"] div img{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}