#gallery-image-selector .selected {
    outline: #44498a solid 2px;
}

#matches-preview-container {
    text-align: center;
}

#matches-preview-container table {
    /*display: inline-block;*/
}

#matches-preview-container table th, #matches-preview-container table td {
    padding: 0.35em 1.5em;
}

#matches-preview-container table td.image {
    padding: 0;
}

[id^=gallery_image_] {
    display: inline-block;
    margin: 3px;
}

.match-title {
    font-weight: bold;
    margin-bottom: 0.5em;
}

#matches-form .option-box {
    margin-bottom: 3px;
    margin-top: 0;
}

.match-option select {
    width: 200px;
}

.matches-action-block div {
    display: inline-block;
}

.matches-action-block .error {
    text-indent: 1.5em;
}

.entry-edit-head .msg{
    font-weight: bold;
    color:#eee;
}

#matches-preview-container table td.image img{
    margin:3px 3px 0px 0px;
    border:1px solid #eee;
}