.Shadowed { -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); box-shadow: 0 0 10px rgba(0,0,0,0.5); }
  .Shaddy { -moz-box-shadow: 0 0  5px rgba(0,0,0,0.5); -webkit-box-shadow: 0 0  5px rgba(0,0,0,0.5); box-shadow: 0 0  5px rgba(0,0,0,0.5); }

/* Authorization container - Overlap */
.al-authorization-container-overlap { position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 250; }
.al-authorization-container-overlap .Shadow { position: fixed; width: 100%; height: 100%; background-color: black; opacity: 0.5; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); }
.al-authorization-container-overlap .Canvas { position: fixed; left: 0; top: 0; width: 360px; margin: 10px 0;}
.al-authorization-container-overlap .Canvas .Wrapper { padding: 12px; background: #fff; border-radius: 5px; }
.al-authorizationform-login h2, .al-authorizationform-register h2 { font-size: 15px !important; text-transform: capitalize !important; color: #303030 !important; }
.al-authorization-container-overlap .Close { text-align: right; padding: 12px; position: absolute; width: 100px; right: 0; top: 0; }

.al-authorization-container-overlap .al-authorizationform-register .buttons-set { margin-top: 1em; }

/* Authorization container - Customer Account Login */
.account-login .al-authorizationform-login .buttons-set { border: none; background: none; padding: 0; }
.account-login .content { min-height: 345px; }

/* Authorization container - Checkout Onepage Index */
#checkout-step-login .al-authorization .messages { height: auto; bottom: auto; top: -165px; }
#checkout-step-login P.loader { padding: 15px 30px; margin: 0 0 0 -105px; }

/* Authorization form */
.al-authorization { position: relative; }
.al-authorization .messages {  }
.al-authorization .messages LI { margin-bottom: 0 !important; }
.al-authorization .Window { overflow: hidden; }
.al-authorization .Frame H2 { width: 270px; }
.al-authorization .checkout-agreements .agree { padding: 0; }
.al-authorization .checkout-agreements .agree label em{position: static; float: none;}
.al-authorization .checkout-agreements LI { margin: 0; }
.al-authorization .agreement-content { position: absolute; width: 100%; height: auto; left: 105%; }

/* Authorization form shape - Login */
.al-authorizationform-login {  }

/* Authorization form shape - Register */
.al-authorizationform-register {  }
.al-authorizationform-register LABEL { float: none; }
.al-authorizationform-register LABEL.an-data { float: left; }

/* Authorization form shape - Recovery */
.al-authorizationform-recovery {  }

/* Authorization form shape - Extra */
.al-authorizationform-extra {  }
.al-authorizationform-extra LABEL { float: none; }

/* Authorization form elements */
.al-socialnets { text-align: center; padding: 8px 0; }
.al-socialnets UL { display: inline-block; }
.al-socialnets UL LI { float: left; margin-right: 8px; }
.al-socialnets .ThumbnailImage { cursor: pointer; }

/* Progress bar */
.alPopup { position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 200; }
.alPopup .Shadow { position: fixed; width: 100%; height: 100%; background-color: black; opacity: 0.1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"; filter: alpha(opacity=10); }
.alPopup .loading-mask { background: url('blank.gif') repeat; position: absolute; color: #d85909; font-size: 1.1em; font-weight: bold; text-align: center; opacity: 0.80; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); }
.alPopup .loading-mask .loader { position:fixed; top:45%; left:50%; width:150px; margin-left:-105px; padding:15px 30px; background:#fff4e9; border:2px solid #f1af73; color:#d85909; font-weight:bold; text-align:center; }

/* Agreement popup */
.alAgreementPopup {position: absolute; z-index: 250;}
.alAgreementPopup .Canvas { position: fixed; left: 0; top: 0;  width: 800px; height: 600px; background: #FAF7EE; }
.alAgreementPopup .Content, .alAgreementPopup .Title { padding: 12px; }
.alAgreementPopup .Content { overflow: auto; height: 480px; }
.alAgreementPopup .Toolbar { bottom: 0; padding-bottom: 12px; position: absolute; width: 100%; }
.alAgreementPopup .buttons-set { text-align: center; margin: 0;}
.alAgreementPopup .buttons-set .button { float: none; }

/* Date of birth form field styles */
.form-list {text-align: left;}
.form-list .ajaxlogin-customer-dob .dob-month,
.form-list .ajaxlogin-customer-dob .dob-day,
.form-list .ajaxlogin-customer-dob .dob-year { float:left; width:85px; }
.form-list .ajaxlogin-customer-dob input.input-text { display:block; width:74px; }
.form-list .ajaxlogin-customer-dob label { font-size:10px; font-weight:normal; color:#888; }
.form-list .ajaxlogin-customer-dob .dob-day,
.form-list .ajaxlogin-customer-dob .dob-month { width:60px; }
.form-list .ajaxlogin-customer-dob .dob-day input.input-text,
.form-list .ajaxlogin-customer-dob .dob-month input.input-text { width:46px; }
.form-list .ajaxlogin-customer-dob .dob-year { width:140px; }
.form-list .ajaxlogin-customer-dob .dob-year input.input-text { width:134px; }

.form-list .ajaxlogin-customer-dob-extra .dob-month,
.form-list .ajaxlogin-customer-dob-extra .dob-day,
.form-list .ajaxlogin-customer-dob-extra .dob-year { float:left; width:85px; }
.form-list .ajaxlogin-customer-dob-extra input.input-text { display:block; width:74px; }
.form-list .ajaxlogin-customer-dob-extra label { font-size:10px; font-weight:normal; color:#888; }
.form-list .ajaxlogin-customer-dob-extra .dob-day,
.form-list .ajaxlogin-customer-dob-extra .dob-month { width:60px; }
.form-list .ajaxlogin-customer-dob-extra .dob-day input.input-text,
.form-list .ajaxlogin-customer-dob-extra .dob-month input.input-text { width:46px; }
.form-list .ajaxlogin-customer-dob-extra .dob-year { width:140px; }
.form-list .ajaxlogin-customer-dob-extra .dob-year input.input-text { width:134px; }

#login-form .f-left {
    float: left;
}

.buttons-set .back-link {
    display: block !important;
}

.alProgressBar .loader img {
    display: inline;
}