<?php
$themeCfg = Mage::helper('camen/data');
$partnersStyle = '';
$bgColor = $themeCfg->getField('ourpartners_bg_color');
$bgImg = Mage::helper('cms')->getBlockTemplateProcessor()->filter($themeCfg->getField('ourpartners_bg_img'));

if (preg_match('/^wysiwyg/i', $bgImg)) {
    $bgImg = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$bgImg;
    $partnersStyle .= 'background-image: url(\''.$bgImg.'\');';
}

$partnersStyle .= ($bgColor) ? 'background-color: '.$bgColor.';' : '';

    if(Mage::getModel('cms/block')->load('celebrity1')->getIsActive()) :
        $blockId ='sns_partner_'.rand().time();
        ?>
        <div id="sns_partners" class="wrap mrb30" >
            <div class="sns_partner block" id="<?php echo $blockId; ?>">
                <div class="block-title">
                    <span style="visibility: hidden;"><?php echo Mage::getModel('cms/block')->load('celebrity1')->getTitle(); ?></span>
                    <div class="navslider">
                        <a class="prev" href="#"><i class="fa fa-angle-left"></i></a>
                        <a class="next" href="#"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="partners_slider slider-wrap">
                    <div class="partners_slider_in">
                        <div class="our_partners1" style="display: none;">
                            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('celebrity1')->toHtml(); ?>
                        </div>
                    </div>
                </div>
                <?php
                $screen_phone = ($this->getScreenPhone()) ? $this->getScreenPhone() : 3;
                $screen_xs = ($this->getScreenXs()) ? $this->getScreenXs() : 3;
                $screen_sm = ($this->getScreenSm()) ? $this->getScreenSm() : 3;
                $screen_md = ($this->getScreenMd()) ? $this->getScreenMd() : 3;
                $screen_lg = ($this->getScreenLg()) ? $this->getScreenLg() : 3;
                ?>
                <script>
                    jQuery(document).ready(function($) {
                        $(window).load(function(){
                            $(".our_partners1").html($(".our_partners1 .wrap").sort(function(){
                                return Math.random()-0.5;
                            }));

                            function random(owlSelector){
    							owlSelector.children().sort(function(){
        							return Math.round(Math.random()) - 0.5;
    							}).each(function(){
      								$(this).appendTo(owlSelector);
    							});
    						}
                           
                        });
                        $('#<?php echo $blockId; ?> .navslider .prev').on('click', function(e){
                            e.preventDefault();
                            $('#<?php echo $blockId; ?> .our_partners1').trigger('owl.prev');
                        });
                        $('#<?php echo $blockId; ?> .navslider .next').on('click', function(e){
                            e.preventDefault();
                            $('#<?php echo $blockId; ?> .our_partners1').trigger('owl.next');
                        });
                        $('#<?php echo $blockId; ?> .our_partners1').trigger('owl.next');
                    });

					function celebrity1(){
						var owl = jQuery('#<?php echo $blockId; ?> .our_partners1').owlCarousel({
                            loop : true,
							<?php if( Mage::app()->getStore()->getCode() =='arabic') : ?>
								rtl : true,
							<?php endif; ?>
                            responsive:{
								0:{ items: <?php echo $screen_phone; ?> },
								480:{ items: <?php echo $screen_xs; ?> },
								768:{ items: <?php echo $screen_sm; ?> },
								992:{ items: <?php echo $screen_md; ?> },
								1200:{ items: <?php echo $screen_lg; ?> }
							},
							slideBy : 5,
                            pagination: false,
                            scrollPerPage : true,
                            stopOnHover: true,
                            autoplay: true,
							//autoplayTimeout : jQuery('#sns_celebrity1').attr('data-second'),
                            autoplayHoverPause:true,
                            nav: true,
							dots : false,
                            touchDrag: true,
							onInitialized: progressBar,
                            
                        });
						function progressBar(){
							var cel1 = jQuery('#sns_celebrity1').attr('data-second');
							setTimeout(function(){
							 owl.trigger('play.owl.autoplay',[5000])
							},cel1);
						}
					}
                </script>
            </div>
        </div>
    <?php endif; ?>
<?php //endif;  ?>
