/**
 * Generic interface elements
 */



/* Simple directional arrows
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

.gen-direction-arrows1 a.previous,
.gen-direction-arrows1 a.next {
	display:block;
	width:30px;
	height:30px;
	background-image:url(../../../images/infortis/_shared/slider-arrows.png);
	background-repeat:no-repeat;
	background-color:#e5e5e5;
	transition:			background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-moz-transition:	background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-webkit-transition:	background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-o-transition:		background-color 300ms ease-in-out, background-position 300ms ease-in-out;
}

.gen-direction-arrows1 a.previous { background-position:-10px -10px; }
.gen-direction-arrows1 a.previous:hover { background-position:-10px -60px; background-color:#333; }

.gen-direction-arrows1 a.next { background-position:-60px -10px; }
.gen-direction-arrows1 a.next:hover { background-position:-60px -60px; background-color:#333; }


/* Generic arrows 1
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Default style: small, outside the slider
-------------------------------------------------------------- */
.gen-slider-arrows1 .direction-nav li { float:left; }
.gen-slider-arrows1 .direction-nav a {
	display:block;
	width:30px;
	height:30px;
	background-image:url(../../../images/infortis/_shared/slider-arrows.png);
	background-repeat:no-repeat;
	background-color:#e5e5e5;
	cursor:pointer;
	text-decoration:none;
	text-indent:-999px;
	overflow:hidden;
	transition:			opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-moz-transition:	opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-webkit-transition:	opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-o-transition:		opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
}

.gen-slider-arrows1 .direction-nav a:hover { background-color:#333; }
.gen-slider-arrows1 .direction-nav a.disabled { opacity:0.4; filter:alpha(opacity=40); cursor:default; }
.gen-slider-arrows1 .direction-nav a.disabled:hover { background-color:#e5e5e5; /* Must be the same as default color */ }

.gen-slider-arrows1 .direction-nav .prev { background-position:-10px -10px; margin-right:1px; }
.gen-slider-arrows1 .direction-nav .prev:hover { background-position:-10px -60px; }
.gen-slider-arrows1 .direction-nav .prev.disabled:hover { background-position:-10px -10px; /* Same as default */ }

.gen-slider-arrows1 .direction-nav .next { background-position:-60px -10px; }
.gen-slider-arrows1 .direction-nav .next:hover { background-position:-60px -60px; }
.gen-slider-arrows1 .direction-nav .next.disabled:hover { background-position:-60px -10px; /* Same as default */ }

/* Positioning:
-------------------------------------------------------------- */
.gen-slider-arrows1-pos-top-right .direction-nav { position:absolute; top:-40px; right:0px; }
.gen-slider-arrows1-pos-top-left .direction-nav { position:absolute; top:-40px; left:0px; }


/* Generic arrows 2
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Default style: large, on slider, split
-------------------------------------------------------------- */
.gen-slider-arrows2 .direction-nav { height:0; }
.gen-slider-arrows2 .direction-nav a.prev {
	position:absolute;
	display:block;
	width:36px;
	height:45px;
	/*background-image:url(../img/banner_left_arrow.png);*/
	background-image:url(../img/Arrowfinal_left.png);
	background-size: 50%;
	background-repeat:no-repeat;
	cursor:pointer;
	text-decoration:none;
	text-indent:-999px;
	overflow:hidden;
	transition:			opacity 600ms ease-in-out, background-color 150ms ease-in-out, background-position 300ms ease-in-out;
	-moz-transition:	opacity 600ms ease-in-out, background-color 150ms ease-in-out, background-position 300ms ease-in-out;
	-webkit-transition:	opacity 600ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-o-transition:		opacity 600ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	
	opacity:0;
	filter:alpha(opacity=0);
	background-color : #616161;
	background-position : 6px 12px;
	/*display: none;*/
}
.gen-slider-arrows2 .direction-nav a.next {
	position:absolute;
	display:block;
	width:36px;
	height:45px;
	background-image:url(../img/Arrowfinal_Right.png);
	/*background-image:url(../img/banner_right_arrow.png);Arrow final_left.png*/
	background-size: 50%;
	cursor:pointer;
	background-repeat:no-repeat;
	text-decoration:none;
	text-indent:-999px;
	overflow:hidden;
	transition:			opacity 600ms ease-in-out, background-color 150ms ease-in-out, background-position 300ms ease-in-out;
	-moz-transition:	opacity 600ms ease-in-out, background-color 150ms ease-in-out, background-position 300ms ease-in-out;
	-webkit-transition:	opacity 600ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-o-transition:		opacity 600ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	
	opacity:0;
	filter:alpha(opacity=0);
	background-color : #616161;
	background-position : 6px 12px;
	/*display: none;*/
}
.gen-slider-arrows2:hover .direction-nav a { opacity:1; filter:alpha(opacity=100); }
.gen-slider-arrows2:hover .direction-nav a.disabled { opacity:0.4; filter:alpha(opacity=40); }

.gen-slider-arrows2 .direction-nav a:hover { /*background-color:#333;*/ }
.gen-slider-arrows2 .direction-nav a.disabled { cursor:default; }
.gen-slider-arrows2 .direction-nav a.disabled:hover { background-color:#fff; /* Must be the same as default color */ }

.gen-slider-arrows2 .direction-nav .prev { background-position:0 0; /*left:1.5%;*/ left: 3.7%; top:35%; }
.gen-slider-arrows2 .direction-nav .prev.disabled:hover { background-position:0 0; }

.gen-slider-arrows2 .direction-nav .next { /*background-position:-42px 0;*/background-position: 0 0; right:3.7%; top:35%; }
.gen-slider-arrows2 .direction-nav .next.disabled:hover { background-position:-50px 0; /* Same as default */ }

/* Style: only background image
-------------------------------------------------------------- */
.gen-slider-arrows2-style1 .direction-nav a {
	background-image:url(../../../images/infortis/_shared/slideshow-arrows-solid.png);
	background-color:transparent !important;
}


/* Generic arrows 3
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Default style: at the left and the right side of the slider
-------------------------------------------------------------- */
.gen-slider-arrows3 .direction-nav a {
	position:absolute;
	display:block;
	width:30px;
	height:30px;
	background-image:url(../../../images/infortis/_shared/slider-arrows.png);
	background-repeat:no-repeat;
	background-color:#fff;
	cursor:pointer;
	text-decoration:none;
	text-indent:-999px;
	overflow:hidden;
	transition:			opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-moz-transition:	opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-webkit-transition:	opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-o-transition:		opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
}

.gen-slider-arrows3 .direction-nav a:hover { background-color:#333; }
.gen-slider-arrows3 .direction-nav a.disabled { opacity:0.4; filter:alpha(opacity=40); cursor:default; }
.gen-slider-arrows3 .direction-nav a.disabled:hover { background-color:#fff; /* Must be the same as default color */ }

.gen-slider-arrows3 .direction-nav .prev { background-position:-10px -10px; top:22px; left:-32px; }
.gen-slider-arrows3 .direction-nav .prev:hover { background-position:-10px -60px; }
.gen-slider-arrows3 .direction-nav .prev.disabled:hover { background-position:-10px -10px; /* Same as default */ }

.gen-slider-arrows3 .direction-nav .next { background-position:-60px -10px; top:22px; right:-32px; }
.gen-slider-arrows3 .direction-nav .next:hover { background-position:-60px -60px; }
.gen-slider-arrows3 .direction-nav .next.disabled:hover { background-position:-60px -10px; /* Same as default */ }

/* Style: long (high) buttons
-------------------------------------------------------------- */
.gen-slider-arrows3-style1 .direction-nav a { height:75px; }
.gen-slider-arrows3-style1 .direction-nav .prev { background-position:-10px 13px; top:0; left:-32px; }
.gen-slider-arrows3-style1 .direction-nav .prev:hover { background-position:-10px -37px; }
.gen-slider-arrows3-style1 .direction-nav .prev.disabled:hover { background-position:-10px 13px; /* Same as default */ }

.gen-slider-arrows3-style1 .direction-nav .next { background-position:-60px 13px; top:0; right:-32px; }
.gen-slider-arrows3-style1 .direction-nav .next:hover { background-position:-60px -37px; }
.gen-slider-arrows3-style1 .direction-nav .next.disabled:hover { background-position:-60px 13px; /* Same as default */ }


/* Generic pager
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Default style:
-------------------------------------------------------------- */
.gen-slider-pager1 .control-nav { text-align:center; /*display:none;*/ }
.gen-slider-pager1 .control-nav li { float:left; margin-left:3px; /*border: 2px solid #fff;*/ }
.gen-slider-pager1 .control-nav li:first-child { margin-left:0; }

.gen-slider-pager1 .control-nav a {
	display:block;
	width:20px;
	height:20px;
	background-image:url(../img/pager.png);
	background-repeat:no-repeat;
	background-color:transparen;
	cursor:pointer;
	text-decoration:none;
	text-indent:-999px;
	overflow:hidden;
}
.gen-slider-pager1 .control-nav a:hover { background-position:0 -60px; }
.gen-slider-pager1 .control-nav a.active { background-position:0 -30px; cursor:default; }
.gen-slider-pager1 .control-nav a.active:hover {}

/* Style: small
-------------------------------------------------------------- */
.gen-slider-pager1-style1 .control-nav li { margin-left:0; }
.gen-slider-pager1-style1 .control-nav a { background-image:url(../../../images/infortis/_shared/pager-small.png); }


/* Positioning:
-------------------------------------------------------------- */
.gen-slider-pager1-pos-bottom-right .control-nav { position:absolute; bottom:4.4526%; right:48.5%;  list-style: none outside none; /*display:none !important;*/}
.gen-slider-pager1-pos-bottom-left .control-nav { position:absolute; bottom:4.4526%; left:1.5%; /*display:none !important;*/ }

/* Additional pager positioning for slider-arrows1 */
.gen-slider-arrows1-pos-top-right-pager .control-nav { position:absolute; top:-33px; right:71px; }

.the-slideshow ul {  list-style: none outside none!important;} 

.control-nav {display: none;}


@media (max-width: 480px) {
	.the-slideshow {
		display:none !important;
	}
}
