<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $collection = $this->getCollection(); ?>
<?php $newdirection = $this->getNewDirection();?>
<div class="page-title">
    <h1><?php // echo $this->__('My Collection') ?></h1>
</div>
<?php //echo "<pre>";print_r($collection->getSize());echo "</pre>";//exit();?>
<?php  echo $this->getPagerHtml();?>
<?php if($collection->getSize()): ?>
<table class="data-table" id="my-custom-table">
    <col width="1" />
    <col width="1" />
    <col />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <thead>
        <tr>
        	<th><?php echo $this->__('SKU')?><a href="<?php echo $this->getBaseUrl().'celebrity/index/sku/sort/'.$newdirection?>"><img src="<?php echo $this->getSkinUrl('images/'.$newdirection.'_arr.png');?>"></a></th>
            <th><span class="nobr"><?php echo $this->__('Product Name') ?></span></th>
            <!-- <th><?php //echo $this->__('Ad Number')?></th> -->
            <th><?php echo $this->__('Status') ?></th>
            <th><?php echo $this->__('Sold Qty') ?></th>           
            <th><?php echo $this->__('Commission Value') ?></th>
            <th><?php echo $this->__('Sales Value') ?></th>
            <th><?php echo $this->__('Total Commission') ?></th>      
                    
        </tr>
    </thead>
    <tbody>
        <?php $_odd = ''; $fields = array('total_ordered_qty' => 0, 'price' => 0, 'commision_total' => 0); ?>
        <?php foreach ($collection as $item): ?>
        <tr>
            <td><?php echo $item->getSku(); ?></td>
            <td style="width:500px;"><span class="nobr"><?php echo $item->getName();?></span></td>
            <!-- <td class="a-center"><?php //echo $item->getCelebrityAdNumber(); ?></td> -->
            <td class="a-center"><?php 
                if($item->getOrder()->getStatus() == 'pending' || $item->getOrder()->getStatus() == 'processing'){
                    echo 'received';
                }
                else {
                    echo $item->getOrder()->getStatus();
                }
                ?>
            </td>
            <td class="a-center"><?php echo round($item->getTotalOrderedQty()); ?></td>            
            <td class="a-center"><?php //echo $item->getOrder()->formatPrice($item->getCommisionAmount());
           // if($item->getCommisionPercent()){ echo  $item->getOrder()->formatPrice(($item->getCommisionPercent()/100)*$item->getPrice()) ; }
            echo  $item->getOrder()->formatPrice(($item->getCommisionPercent()/100)*$item->getPrice());
            ?></td>
            <td class="a-right"><?php echo $item->getOrder()->formatPrice($item->getPrice()); ?></td>
            <td class="a-right"><?php echo $item->getOrder()->formatPrice($item->getCommisionTotal());?></td>
            
        </tr>
        <?php 
            foreach($fields as $field=>$value){
                $fields[$field]+=$item->getData($field);
            }
            ?>
        <?php endforeach; ?>
        <?php if($this->getRequest()->getParam('limit') == 'all') { ?>
        <tr>
            <td class="a-center total-cols" colspan="3">Total </td>            
           
            <td class="a-center total-cols"><?php echo $fields['total_ordered_qty']; ?></td>
            <td colspan=""></td>            
            <td class="a-right total-cols"><?php echo $item->getOrder()->formatPrice($fields['price']); ?></td>
            <td class="a-right total-cols"><?php echo $item->getOrder()->formatPrice($fields['commision_total']); ?></td>
        </tr>  
        <?php } ?> 
    </tbody>
</table>
<script type="text/javascript">decorateTable('my-custom-table');</script>
<?php echo $this->getPagerHtml(); ?>
<?php else: ?>
    <p><?php echo $this->__('The collection is empty.'); ?></p>
<?php endif ?>
